/*------------------------------------*\
    $BREAKPOINT_2
\*------------------------------------*/
/*
 * Estilos que entrarán en el breakpoint basado en la variable @bp2
 */

.envoltorio{
	.tabla();
}

.envoltorio2{
	.max-width(100%);
	padding:30px 6% 30px;
}


 #top{
	
	/*#antes-imagen {
		& > img {
		//	.hidden();
		}
	}*/

	#capa-login{
		top: 0px;
		a{
			
			span{
				
			}	
		}
		
	}
}

#capa-logo{
	.celda(40%);
	padding: 0px;
	& > a{
		width: 33%;
		margin: 0 auto;

	}
}

#capa-titulo{
	.fila();
	
	& > #accionando-menu{
		text-align: right;
		border: none;

	}


	& > #accionando-login{
		
	}

	#acciona-menu, #acciona-login{
		
	}

	h1{
		font-size: 2.9em;
	}

}




#capa-titulo{
	position: relative;
	
	/*& > #posiciona-menu{*/
		

		#accionando-menu{
			position: absolute;
			right: 0px;
			top:12px;
			
		}

	/*}*/
}



/*nav{
	
	ul{
		margin-right: 25px;
		li{
			width: 50%;
			text-align: center;


			& > a{
				font-size: 15px;

				span{
				
				}
				
				&:hover{
					
				}
			}
		}
	}
	
}*/

#menu-principal{
	

	ul{
		margin-right: 13px;
		li{

			&:nth-child(1){
				width: 18%;
			}
			
			width: 31%;			
			text-align: center;

			&:nth-child(3){
				width: 25%;
			}

			&:nth-child(4){
				width: 25%;
			}
			
			& > a{
				font-size: 15px;
			}
		}
	}
	
}



#acciona-menu:checked ~ label[for="acciona-menu"] {
	
}

#acciona-menu:checked ~ nav > ul{
	
}


#acciona-login:checked ~ .capa-login{
	
}



section#principal{
	.tabla();
	margin: 6% 0;
	text-align: center;

	#capa-aloonida, #capa-mejoramos{
		
	}	

	& div.boton_persona{
		display: inline-block;
		width: 49.5%;
		left: 0px;
		height: 191px;
		vertical-align: top;

		.caption{
			display: block;
		}

		&:before, &:after{
			display: none !important;
		}

		h2, & > article {
			
		}

		&#grupos, &#empresas{
			.opacity(0.6);
		}
	}
}

.caption{
	position: relative;
	bottom: -15%;
	width: 100%;
	.translate(0,104px);
	.transition(all 0.5s linear);
	background: rgba(107,107,108,0.5);
	p{
		color: @white;
		padding: 3% 1%;
		margin: 0px;
		font-size: 1.1em;
	}
}

.boton-proximamente{
	.hidden();
}


/*.boton-proximamente{
	
	left: 0%;
	right: 0;
	margin: auto;
	bottom: 80px;
	width: 51%;
	/*&.grupos{
		color: lighten(@color_fondo_grupos, 10%) !important;
		border-color: lighten(@color_fondo_grupos, 10%) !important;
	}

	&.empresas{
		color: lighten(@color_fondo_empresas, 10%) !important;
		border-color: lighten(@color_fondo_empresas, 10%) !important;
	}*/
//}


section#frase{
	margin-top: 11%;
	h2{
		font-size: 20px;
		line-height: 30px;
		padding-top: 0;
	}
}



section#secundaria{
	a, #capa-mejoramos2{
		

		&#capa-demo{
			
		}
	}

}

#engloba-redes{
	
	

	.capa-video{		
		
		span{
			
			
			&:nth-child(1){
			
			}

			&:nth-child(2){
				
			}
		}
	}
	.capa-redes{
		
		.red-social{
			
		}
	}
}



footer{
	padding: 19px 0 0px;
	.clearfix();

	.idiomas-top{

		float: right;

		
		& > span{
			
		}
	}

	address{
		float: left;
		margin: 0px 0px 22px;
		text-align: left;
		padding-top: 0px;
		p{
			
			
			span{
				
			}
		}
	}
}

#copyright{
	clear: both;
	ul{
		
		li{
			color: @white;
			a{
				color: @white;
			}
			
		}
		
	}
}

#final{
	padding: 1%;

	#copyright{
		ul{
			text-align: right;
			li{
		
			}
			
		}
	}
}


.intenta-dir:nth-child(3){
	margin-bottom: 12px;
}



/* ---------------------------------
*  PÁGINA DESCÚBRENOS
*  --------------------------------- */
section.intencion{
	
	h1{
		
	}	
	p{
		
	}
}

section.capa-servicios{
	padding: 12% 0;
	h1{
		
	}

	.servicio{
		.inline-block(48%, middle, 5% 4%);
		margin: 0 1% 3%;
		min-height: 233px;
		h3{
			
		}
		p{
			font-size: 1.1em;	
		}
	}
}

aside.nuestro-equipo{
	
	.color-equipo{
		h1{
			&:before, &:after{
				content:"";
				height: 1px;
				background:@white;
				position: absolute;
				left:0;
				width: 20%;
				top: 18px;
			}

			&:after{
				left: auto;
				right: 0;
			}
		}

		figure{
			img{
			
			}

			figcaption{
				
				.nombre{
					
				}
			}
		}

		.individuo{
			
			figure{			
				
				img{
					
					height: 200px;
					width: 200px;
				}

				
			}
		}
	}
}




/* ---------------------------------
*  PÁGINA PÚBLICOS
*  --------------------------------- */


.explicacion-publico{
	.inline-block(65%, top, 5% 3% 0);
	text-align: left;
}

.img-publico{
	.inline-block(35%, top, 5% 0 0);
	&.par{
		padding-top: 5%;
	}
}

section.interesa{

	p{
		font-size: 1.2em;
		padding: 0 10%;
	}
	
}



/* ---------------------------------
*  CONTACTO
*  --------------------------------- */

section.fondo-contacto{
	
	article{
		
		
		h1{
			
		}
		p{
			
		}

		.telefono{
			p{
				font-size: 0.8em;
			}
		}

		div{
			.inline-block(33%, top, 2%);
			span{
				
				
			}

			address{

			}

			&:nth-child(4){
				margin-top: -15px;
				address{
					font-size: 0.8em;
				}
			}

			a{
				display: block;
				margin-top: 22px;
				font-size: 0.8em;
			}
		}

		form{
			padding: 0 10%;
			input{
				text-align: left;
				&[type="submit"]{
					float: right;
					width: 30%;
					font-size: 1.3em;
					padding: 1.5% 1%;
					text-align: center;
 					&:hover{
 						
 					}
				}
			}
			textarea{
				text-align: left;
			}
		}
	}
}



#redes-centradas{
	.capa-redes{
		margin: -28px 0 70px;
		padding-bottom: 21px;
		.red-social{
			a{
				span{

				}
				

				&:hover{
				
				}
			}			
		}
	}
}



/* -----------------------
*  MEJORAMOS POR TI
* ------------------------ */
.mejoramos{
	
	h1{
		
	}
	p{
		
		&:nth-child(3){

		}
	}

	.fondo-form{
		
	}
	
	form{
		

		input, textarea{
			
			

			&#enviar{
				
			}
		}
	}
	
}




/* -----------------------
*  LOGIN
* ------------------------ */
section#login{
	
	#capa-titulo-login{
		h1{
		}
		p{
	
		}
	}

	#capa-formularios{
	
		.individual{
			.celda(50%);
			padding: 2% 2% 0 2%;

			&:nth-child(2){
				padding:2% 2% 0 2%;
			}
			h2{
				font-size: 14px;
				margin-bottom: 2%;
			}

			form{
				

				input[type="submit"]{
				}
			}
		}
	}
	#recuperando{
		
		p{
			font-size: 1.2em;
			max-width: 560px;
			margin-top: -36px;
			&.error-email{
				font-size: 14px;
			}
		}

		form{
			max-width: 450px;
		}

		input{
			
			&#recupera_pass{
				
			}
		}

		
	}
}

.maqueta-form{
	text-align: left;
	&.soy-direccion{
		width: 96%;
		margin-left: 1%;
	}
	input{

	}
	
	p.error_margen{
		font-size: 14px;
		margin-top: 5px;
	}

	p.info{
	}

	textarea{
		margin: 0;

		&#titulo{
			margin-top:3%;
		}

		&#abstract{
			max-height: 400px;
			padding-right: 24px;
		}
	}

	&.dos{
		.inline-block(49%,top, 0% 1%);
		
	}

	.solo{
		width: 48%;
		input{
			margin-left: 1%;
		}
		p{
			display: inline-block;
			margin-left: 3%;
			font-size: 14px;
			vertical-align: bottom;
		}
	}


	&.archivo{
		
		p{
			
		}
		label{
			
		}
	}

	&.subiendo-video{
		label{
			
		}
	}


}

section#miembro{
	
	p{
		span.grande{
		}
	}
}


.separador-formularios{
	.hidden();
}

.error-email{
	margin-top: 15px !important;
}

.mensaje_nueva{
	font-size: 1.2em !important;
	margin: 15px auto !important;
	max-width: 850px;
}

/* -------------------------
*  REGISTRO ESTUDIANTES
*  ------------------------- */

section#explicacion{
	vertical-align: top;
	/*padding: 3% 0;*/
	.texto{
		padding-bottom: 55px;
		p{
			text-align: justify;
		}
	}

	#averigua{				
		
		a{
		
		}
	}
}

#registro{
	
	#persona{
		.tabla();
		padding: 3% 2%;
		h2{
			font-size: 1.7em;
		}

		h2.crea-boton{
			max-width: 500px;
			margin: 33px auto 0;
			span{
			
			}
		}
	}

	#pfc{
		#seleccion{
			h2{

			}


		}
	}
}

.limitador-cont{
	margin-top: -23px;
}


#seleccion-insertando{
	.maqueta-checkbox{
		width: 96%;
		p{
			font-size: 17px;
		}
	}
	
}


.maqueta-checkbox{
	label{
		input{

		}
	}
	p{
		width: 48%;
	}

	#datos-proyecto{

	}
}

.cerrar{
	/*position: absolute;
	top: 0px;
	right: 0px;*/


}

.fondo-pago{
	h4{
		font-size: 1.6em;
		padding: 15px 0;
		margin-bottom: 0;
	}
}


.resumen-pago{
	margin-top: 4px;
	div{
		h5{
			font-size: 1.5em;
			margin-top: 15px;
		}

		time{
			font-size: 1.1em;
		}

		&.tabla-resumen{
			float: right;
			margin-right: 19px;
			table{
				width: 350px;
				tr{

				}

				td{
					font-size: 1.3em;
	
				}
			}
		}
	}
}



.realizar-pago{
	
	form{

	}
}

#condiciones{
	a{

	}

	label{
		
	}
}

#acepto{
	
}



#volver-portada{
	
}


#overlay-registro{
	div{
		
		width: 65%;
		top: 35%;

		h4{
			font-size: 1.5em;
		}
		p{
			font-size: 1.2em;
			span{
				
			}

			&:nth-of-type(1){
				
			}

			&:nth-of-type(2){
				line-height: 2em;
			}
		}
	}
}



/* --------------------------
*  CONFIRMACIÓN PAGO
* --------------------------- */
#confirmacion-pago{	
	max-width: 800px;
	padding: 3% 15px;
	h1{
		font-size: 2.5em;
	}
	p{
		font-size: 1.3em;
		&.bienvenido{
			font-size: 2.2em;
		}
	}
	a{

	}
}


#vuelta{
	
	a{
		margin-right: 20px;
		font-size: 1.3em;
		line-height: 2.5em;
	}
}


.engloba-pago{
}



#volver-al-registro{

	p{
		font-size: 1.2em;
	}

	a{
		line-height: 2.5em;
		font-size: 1.1em;
	}

	&>a{
		
	}
}


.min-pagina{
	.capa-redes{		
		a{
			font-size: 36px;
		}
	}
}



/* -------------------------
*  PERFILES - ELEMENTOS COMUNES (TOP, MENÚ, ETC)
*  ------------------------- */
#antes-imagen {
	max-height: 35px;
	width: auto;
	& > img {
		height: 25px;
		margin-top: 5px;
		width: auto;
	}
}

.top-perfil{
	figure{
		img{

		}
	}

}

.session{
	p{
		span.nombre{
			color: @background_top;
		}
		a{
			color: @basecolor;
		}
	}	
}

.session-perfil{
	top: -4px;
}

.menu-perfiles{
	background: @background_top;
	
	ul{
		text-align: center;
		li{

			a{
				span{
					display: inline-block;
					font-size: 14px;

					&.icono{
						font-size: 28px;						
					}

					
				}

				&:hover{

				}
			}
		}
	}
}

.cabeza-perfil{
	figure{
		.inline-block(30%, top, 0%);
		.sin-foto{
			height: 124px;
			width: 124px;
			margin: 0 auto;
		}

		img{
			width: 150px;
			height: 150px;
		}
	}
}



.datos-user{
	.inline-block(70%, top, 2% 2% 2% 4%);
	text-align: left;
	h1{
		
	}
	.biografia{
		padding: 0;
	}
	.etiquetas-user{

	}

}

.engloba-eti{
	p{
		font-size: 13px;
	}
}


.permanencia{
	p{
		width: 27%;
		text-align: center;
		span{

		}
		time{
			font-size: 24px;
		}
	}
	a{

	}
}
.curri{
	
	a{

	}
}

section.proyectos, section.ideas{
	article{
		padding-left: 50px;
		.titulo_pfc{

		}
		.fecha{

		}

		.cuerpo{
			p{

			}
			.multimedia{

			}
		}

		footer{
			.keywords{

			}
			.ir-a{
				a{

				}
			}
		}

		.tengo{

		}
	}
}

.cabecera-que-es{
	padding: 4% 0 2% !important;
	margin-bottom: -4%;
}

.cabeza-proyecto{
	h1{
		text-align: center;
		&:before{
			content:"";
			border-top: 3px solid @color-cabeza-proyecto;
			position: absolute;
			left: 0%;
			top: 28px;
			width: 31%;			
		}
		&:after{
			content:"";
			border-top:3px solid @color-cabeza-proyecto;
			position: absolute;
			right: 16%;
			top: 28px;	
			width: 15%;		
		}
	}

	&.entero{
		h1{
			&:after{
				right: 0%;
				width: 32%;		
			}
		}
	}
	a.anhadir{

	}
}


.sin-proyecto{
	padding: 7% 0;
	h1{
		font-size: 32px;
	}
	article{
		font-size: 18px;		
	}
}


.inserta-categoria{
	display: inline-block;
}


/* -------------------------
*  PERFILES - CONFIGURACIÓN
*  ------------------------- */
.esconde-float{
	overflow: hidden;
}

.area-config{
	
	margin: 23px 0 0;
}

.cabeza-perfil-config{
	
	figure{
		.inline-block(33.8%, top, 2%);
			
		img{

		}

		.sin-foto{
			width: 119px;
			height: 119px;
			margin: 25px auto 10px;
			padding-top: 42px;
		}
	}
}

#configurando{
	div{

		img{
			width: 131px;
			height: 131px;
		}

		&.engloba-file{								
			

		}
		
		label{
			font-size: 1em;
		}

		&#foto{
			display: table;
			width: 100%;
			img{
				display: table-cell;
				width: 85%;
			}
			/*.engloba-file{
				display: table-cell;
				vertical-align: top;
				width: 45%;
			}*/
		}


		input{
			
			&[type="file"]{
				margin: 0;
			}
		}

		&.tabla{
			display: table;
			width: 100%;
			label{
				display: table-cell;
				width: 34%;
				//padding-right: 3%;

				&[for="especialidades"]{
					vertical-align: top;
				}

				&[for="key-encontrar"]{
					width: 45%;
				}

				&[for="tipo_estudio"]{
					width: 67%;
				}

			}
			input{
				display: table-cell;
				vertical-align: top;
			}
		}

		&#temas{
			text-align: center;
			h4{
				text-align: left;
			}
			.tema{
				display: inline-block;
				width: 31.5%;
				&:nth-child(3n+1){
					margin: 0 0.5% 15px 0;
				}
				&:nth-child(3n+2){
					margin: 0 0.5% 15px 0.5%;
				}
				&:nth-child(3n+3){
					margin: 0 0% 15px 0.5%;
				}
				label{
					font-size: 1.2em;
				}
			}
		}

		&.enviar-consulta{
			input{
				
			}
		}
		
	}
	
}


.datos-user-config{
	text-align: center;
	.inline-block(66.2%, top, 0px);
	h1{
	
	}
	.biografia{
	
	}
}


.error_margen{
	font-size: 14px;
}


#error-especialidades{
	font-size: 14px;
}

#especialidades{
	height: 300px;
}


/* -------------------------
*  PERFILES - BUSCADOR
*  ------------------------- */

/*.espacio-section{
	margin-top: 35px;
}*/

.buscador{
	height: 257px;

	#texto-buscador{		
		padding-top: 7%;
		h1{
			font-size: 1.9em;
		}
		h3{
			font-size: 1.4em;
		}
	}

	.engloba-buscador{
		max-width: 480px;
		margin-top: -11px;
		#search{
			width: 100% !important;
			.dropdown{				
				width: 45%;
				float: right;
				.dropdown-trigger{
					
				}
				ul{
					right: 48px;
					left: auto;
					top: 41px;
					width: 35%;
					li{
					
					}
				}			
			}

			.caja-busqueda{
				float: right;
				width: 55%;
				position: relative;
				margin-top: 0;
				input{
					height: 40px;
				}

				#autocompletado{
					border-right-width: 2px;
					width: 100.5%;					
				}
			}
		}
	}

}


#ver-curriculum{
	margin: 32px 0 0px;
	float: right;
}


.sin-resultados{
	margin-top: 40px;
	padding: 25px;
	h2{
		font-size: 1.5em;
	}

	p{
		font-size: 1.1em;
	}
}


/* -------------------------
*  PERFILES - VER PERFILES 
*  ------------------------- */

.inferior .especialidad, .enlaces{
	display: inline-block;	
	width: 35%;
}

.enlaces{
	width: 55%;
	float: right;
}


.engloba-persona{	
	//margin-top: -20px;
	padding: 22px 1% 3% 2%;
	&:before{
		top:7px;
	}


	&:after{
		top:7px;	
	}

	&:first-child{
		&:before{
			top:0px;
		}


		&:after{
			top:0px;	
		}		
	}
}



.capa-form{
	clear: both;
	padding-top: 11px;
	&::before{
		top: -12px;
		right: 10px;
		
	}
	&::after{
		top: -15px;
		right: 9px;
	}
	textarea{
	
	}
	
	.envio_contacto{
	
	}
}

.personal{
	width: 73%;
	h1{
		font-size: 1.5em;
	}
	.descripcion{
		font-size: 1.1em;
	}

}

.num-proyectos{
	padding: 0 5px 0 5px;
	&.sin-proyectos{
		
	}
	span{
		width: 44px;
		height: 44px;
		background: url('../img/spriteideaproy_medio.png') no-repeat;
		background-position: -45px 0;
		&:nth-child(1){
			background-position: 0px 0;
		}
		
	}
}



.superior{
	figure{
		width: 90px;
		height: 90px;

		.sin-foto{			
			height: 90px;
			width: 90px;
			padding-top: 33px;
			font-size: 4em;
		}
	}


	.etiquetas-user{
		display: block;
		margin-bottom: 22px;
	}
}




/* -------------------------
*  PERFILES - NOTIFICACIONES
*  ------------------------- */
.no-hay-recibidos, .no-hay-enviados{

}


#sin-mensajes-recibidos{
	padding: 35px;
	max-width: 800px;
	margin: 0 auto;
	h1{
		font-size: 2.3em;	
	}
	p{
		font-size: 1.3em;
		&.compartir{
			font-size: 1.4em;			
		}
	}
}

.sin-mensajes{
	margin-top: 10px;
	p{
		font-size: 1.2em;
	}
	span{
		font-size: 110%;
	}
}


/* -------------------------
*  PERFILES - ESTADÍSTICAS
*  ------------------------- */

.visitas-perfil{
	padding: 10% 4%;
	.envuelve{
		.engloba-estadisticas{
			input[type="radio"]{
				.hidden();
			}
			label{
				position: absolute;
				right: 0;
				width: 20%;
				top: -44px;

				&[for="semana"]{
					right: 40%;
				}

				&[for="mes"]{
					right: 20%;
				}
				
			}
			.estadisticas{
				article{
					h1{
						font-size: 1.5em;
					}
					p{
						font-size: 1em;
						margin-top: 8px;
					}

					.grafico{
						#estad-semanal, #estad-anual, #estad-mensual{
							height: 400px;
						}
					}
				}
			}
		}
	}
}



/* ---------------------------------
*  PERFILES - CURRICULUM
*  --------------------------------- */
#curriculum{
	padding-top: 35px;
	max-height: 1300px;
	.clase1, .clase2,
	.clase3, .clase4,
	.clase5{
		margin: 21px auto 0;
	}

	.clase1{
		margin-bottom: -85px;

		img{
			
		}
	}

	.clase2{
		width: 54%;
		display: inline-block;
	}

	.clase3{
		display: inline-block;
		top: -150px;
		left: 34%;
		width: 64%;
	}

	.clase4{
		width: 70%;
		display: inline-block;
		top: -295px;
	}

	.clase5{
		width: 57% !important;
		top: -437px;
		left: 18%;
		.circulo{
			div{
				
			}
		}
	}
}

.circulo{
    div{
		

	    p, h2{
	    	
	    }

	    p{
	    	
	    }
    }
}


.impar{	
	
}

.par{	
	
}


.conoce{
	width: 150px;
	position: relative;
	display: inline-block;
	top: -613px;
	&:after{
		&:hover{
	
		}
	}

	&:hover &:after{
	
	}

	div{
		h4{
			font-size: 23px;
		}
	}
}


.cerrar-previa-curri{
	margin: 50px 50px 0 0;
}

#todo-curriculum{
	//max-height: 1300px;
}


/* -------------- TODO EL CURRICULUM ---------- */
#mi-historia{
	padding: 5% 2%;
	.texto-curriculum{
		.inline-block(73%, top, 0);
		margin-right: 3%;
		
		h2{
			
		}

		span{
			
		}
		
	}

	#hist-curriculum{
		.inline-block(23.5%, top, 0);
		margin-top: 34px;
		& > p{
			width: 100%;
			margin-bottom: 5px;
			font-size: 1em;
		}

		.engloba-ver-curriculum{
			width: 100%;
			padding: 3% 10%;
			a{
				.fondo-pdf{
					height: 93px;
					width: 90px;
					p{
						margin-top: 24px;
					}
				}

				label{
					p{
						font-size: 1em;
						span{
							
						}
					}
				}

			}
		}
	}
}

#resto-curriculum{
	padding: 100px 2% 100px;
}

#editar-curriculum{
	//margin: 30px 2% 0;
}

#ver-experiencias{
	h2{
		
	}
	span{
		
	}
}

#ver-estudios{
	
	h2{
		
	}
	span{
		
	}
}

#ver-idiomas{
	h2{
		
	}
	span{
		
	}
}

#ver-habilidades{
	
	h2{
		
	}

	span{
		
	}

	.todas-habilidades{
		
		p{
			width: auto;
			font-size: 1.2em;
			margin: 2% 0 0;
			&:nth-child(3n){
				border-right: 1px solid @white;
			}
			&:last-child{
				border-right: none;
			}
		}
	}
}

#mi-historia h2,
#ver-experiencias h2,
#ver-estudios h2,
#ver-idiomas h2,
#ver-habilidades h2{
	
}

.cuadrado-historia,
.cuadrado-experiencia,
.cuadrado-estudio,
.cuadrado-idioma{
	

	p{
		//font-size: 1.7em;
	}
}


.cuadrado-historia{
	
	
	p{
		font-size: 1.1em;
		time{

		}

	}
}

.cuadrado-experiencia{
	
	p{
		
		&:nth-child(1){
			font-size: 1.4em;
		}
		&:nth-child(2){
			
		}
		&:nth-child(3){
			
		}
		time{
			
		}
	}

	.capa-destacado{
		
		p{
			font-size: 1.4em !important;
		}
	}

	.recomendacion{

	}
}

.cuadrado-estudio{
	
	p{
		
		&:nth-child(1){
			font-size: 1.2em;
		}
		&:nth-child(2){
			
		}
		&:nth-child(3), &:nth-child(4){
			
		}
		time{
			
		}
	}
}

.cuadrado-idioma{
	
	p{
		
	}
}

.flecha-girada{
	
}

p.dedicar{
	font-size: 1.3em;
	width: 65%;
	&::before{
		width: 65px;
		top: 20px;
	}

	&::after{
		width: 65px;
		top: 20px;
	}
}

#volver-previa{
	font-size: 2em;
}


.cabeza-curri{
	
	#nueva-imagen{
		width: 32%;

		.sin-foto{
			width: 135px;
			height: 135px;
			padding-top: 51px;
		}

		img{
			
		}

		&::before{
			
		}

	}
	.capa-datos{
		width: 68%;
		h1{
			font-size: 1.8em;
		}
	}
}


.lado-derecho{
	margin-top: -57px;
}

.margen-intereses{
	margin-top: 92px !important;
}



/* -------------- EDITAR ---------------------- */

#editar-curri{
	svg{
    	&#svg-cabeza{

    	}

    	&#svg-completo{
			/*top: 75px;*/
    	}
	}
}

.cabeza-curri-edit{
	text-align: left;
	padding: 7% 0%;
	form{
		margin: 0;
		.inline-block(39%, top, 0);
		#nueva-imagen{
			
			img{
				/*width: 170px;
				height: 170px;*/
			}
			label{
				width: 90%;
				padding:7px 5px;
				font-size: 0.75em;
				line-height: 1.1em;
				span{

				}
			}
			input[type="file"]{
				.hidden();
			}
		}
	}

	.capa-datos{
		/*width: 69%;*/
		text-align: center;
		padding-left:2%;
		.inline-block(59%, top, 30px 0 0);
		h1{

		}
		input{

		}
	}
}


/*.actualiza-curriculum{
	display: inline-block;
	vertical-align: middle;
}*/


#ubicar-previa{
	position: absolute;
	margin-top: 0px;
	bottom: 15px;
	right: 26px;
	a{

	}
}

.previa-sin-foto{
	bottom: -35px !important;
}

/*#ubicar-previa{
	float: right;
	margin-top: -23px;
	margin-right: 7%;
	a{
	
	}
}*/


#info-personal{
	.engloba-importar{
		h3{
				
		}
		hr{
			
		}
		.fondo-pdf{
			
			p{
				
			}
		}

		label{
			
			&[for="subir_cv"]{
				margin-top: 15px;
				p{
					
				}
			}

			.fondo-pdf{

			}
			p{
				
				span{

				}
			}
		}

		a{
			.fondo-pdf{
				
			}
		}

		input{
			
		}

		#eliminar-curriculum{
			
			
			span{
				
			}
			
		}
	}
}

.tabla-curri{
	margin: 10px 0 29px;
	.ayuda{
		z-index:3000;
		display: block;
	}

	label{
		font-size: 17px;
		&[for="tipo_educacion"], &[for="tipo_idioma"]{
			width: 84%;
			max-width: 407px;

			select{
				
			}
		}
	}
	input{
		font-size: 16px;
		
	}
	textarea{

	}

	div.fecha-exp{
		width: 39%;
		max-width: 186px;
		input{
			&[type="checkbox"]{

			}
		}
	}

	select{
		option{

		}
	}
}


.engloba-botones{
	width: 84%;
	max-width: 407px;
}




#vivo{
	padding-left: 74px;
}

#naciste{
	padding-left: 65px;
}

#trabajado{
	padding-left: 143px;
}

#puesto{
	padding-left: 164px;
}

#provincia{
	padding-left: 130px;
}

/*#idioma{
	padding-left: 205px;
}*/

#acreditacion{
	padding-left: 125px;	
}

#habilidad{
	padding-left: 121px;	
}

#sector{
	padding-left: 82px;
}

#estudiado{
	padding-left: 140px;
}

#titulo{
	padding-left: 130px;
}

#nota_media{
	padding-left: 105px;
}


#idioma-input{
	padding-left: 208px;
}

.engloba-input{
	width: 84%;
	max-width: 407px;
}

#libre{
	padding-left: 82px;
	height: 150px;
}



#experiencias{
	h2{

	}

	.una-experiencia{

	}
}

#cerrar-exp, #cerrar-est, #cerrar-idioma, #cerrar-exp-nuevo{
	right: 15%;
}

#nueva-exp, #nuevo-estudio, #nuevo-idioma{
	top: 0px;
}


#estudios{
	h2{

	}

	.un-estudio{

	}
}	

#estudios, #idiomas, #experiencias{
	.tabla-curri{
		input{
			padding-top: 15px;
		}
	}
}
				     

#otros-datos{

}

	
#nivel-completo{
	padding: 10% 0;
	h2{

	}
	div.capa-barra{
		.barra{

		}
	}
	p{

	}
}




.experiencia-ex{
	p{
		margin-bottom: -11px;		
	}

}




/* ---------------------------------
*  PERFILES - AÑADE NUEVO PROYECTO
*  --------------------------------- */


.ayuda-resumen{
	display: block;
	font-size: 0.75em;
	div{
		display: none;
		&::before{
		}
	}
}

#envio-formulario, .volver-perfil, #envio-formulario-revision{
	float: right;
	margin: 50px 0;
}

.volver-perfil{
	float: left;
	height: 52px;
	font-size: 1em;
	line-height: 3em;
	max-width: 159px;
}

.maqueta-inline{
	
}






/* -------------------------
*  PERFILES - NOTIFICACIONES
*  ------------------------- */


.capa-notificaciones{
	
	.capa-recibir{
	
		.btn_notificaciones{
	
			&:nth-child(1){
	
			}

			&:nth-child(2){
	
			}
		}
	}
}


.activo-recibidos{
	&::before{
		
	}
}


.activo-enviados{
	&::before{
		
	}
}


.engloba-entidades{
	
	label{
		.inline-block(25%, auto, auto);
		font-size: 1.2em;
		background: none;
		border-right: 1px solid @background_top;
		&:nth-child(8){
						border-right: none;
					}
		&:hover{
		
		}

		&[for="empresa-recib"]{
		
		}

	}	
}


.capa_mensajes{
	margin: 0;
		.engloba-mensaje{		
			
			.mensaje{
	
				h3{
	
				}
	
				p{
	
				}
	
				time{
	
				}

			}

			form{
			
				textarea{
					font-size: 18px;
				}

				input[type="submit"]{
					width: 130px;		
					&:hover{
			
					}
				}
			}
		}
}


.sin-leer{
	
	h1{
	
	}
	p{
	
	}
	time{

	}
}




/* --------------------------
----- SLIDERS WEB 
----------------------------- */
#slider-wrapper {

}

/* Contenedor slider */
#slider, #slider-fijo { 
	height: 250px;	
}

#slider > a {

}

/* Ajuste de las imágenes */
#slider img {

}

#slider figcaption,  #slider-fijo .mensaje-foto {
	bottom: 22px;
	h1{		
		font-size: 2.2em;
	}
	h4, h3, h2, p{		
		font-size: 1.5rem;
	}
}

/* Flechas de navegación */
a.mas, a.menos {

}

a.mas {

}