/*------------------------------------*\
    $BREAKPOINT_2
\*------------------------------------*/
/*
 * Estilos que entrarán en el breakpoint basado en la variable @bp2
 */


/* ---------------------------------
*  PÁGINA DESCÚBRENOS
*  --------------------------------- */
section.intencion{
	
	h1{
		
	}	
	p{
		
	}
}

section.capa-servicios{	
	h1{
		
	}

	.servicio{		
		min-height: 218px;
		padding: 3% 4%;
		h3{
			
		}
		p{
			
		}
	}
}

aside.nuestro-equipo{
	
	.color-equipo{
		h1{

		}

		figure{
			img{

			}

			figcaption{
				
				.nombre{
					
				}
			}
		}
		hr{

		}
	}
}


/* --------------------------
----- SLIDERS WEB 
----------------------------- */
#slider-wrapper {

}

/* Contenedor slider */
#slider, #slider-fijo { 
	height: 280px;	
}

#slider > a {

}

/* Ajuste de las imágenes */
#slider img {

}

#slider figcaption,  #slider-fijo .mensaje-foto {
	bottom: 35px;
	h1{		
		font-size: 2.6em;
		width: 92%;
	}
	h4, h3, h2, p{		
		width: 88%;
		font-size: 1.8em;
	}
}


/* Flechas de navegación */
a.mas, a.menos {

}

a.mas {

}



/* --------------------------
----- CURRICULUM 
----------------------------- */
#curriculum{
	
	.clase1, .clase2,
	.clase3, .clase4,
	.clase5{
		
	}

	.clase1{
		

		img{
			
		}
	}

	.clase2{
		
	}

	.clase3{
		
	}

	.clase4{
		
	}

	.clase5{
		top: -487px;
		left: 17%;
		.circulo{
			div{
				
			}
		}
	}
}


.conoce{
	top: -640px;
	&:after{
		&:hover{
	
		}
	}

	&:hover &:after{
	
	}

	div{
	
	}
}


.maqueta-form{
	
	textarea{
	
		&#abstract{
			max-height: 329px;
		}
	}
}


#cerrar-exp, #cerrar-est, #cerrar-idioma, #cerrar-exp-nuevo{
	right: 28%;
}