/*------------------------------------*\
    $BREAKPOINT_4
\*------------------------------------*/
/*
 * Estilos que entrarán en el breakpoint basado en la variable @bp4
 */

 header.cabeza{
	padding: 2%;
	//.transition(all 0.8s linear);
	height: 250px;
	overflow: hidden;
}



#loguito{
	margin-top: 5px;
	display: inline-block;
	width: 24%;
	margin-left: -2%;
	margin-right: 10%;
	max-width: 205px;	
	a{
		img{

		}
	}
}

#texto-cabeza{
	h1{
		font-size: 3.1em;		
	}
	h2{
		
	}
}


 #top{
	padding: 1.5% 0 0.5%;
	& > img {
		
	}

	#capa-login{
		top: -4px;
	}
}

#capa-logo{
	
	& > a{
		width: 54%;
		margin: 0;
	}
}

#capa-titulo{
	.celda();
	
	& > #accionando-menu{
		
	}


	& > #accionando-login{
		
	}

	#acciona-menu, #acciona-login{
		
	}

	h1{
		
	}

}

#menu-principal{
	position: absolute;
	left: 60px;
	top: -8px;
	width: 570px;
	ul{
		padding-left: 22px;
		margin-right: 0px;
		li{
			width: 26%;
			background: none;

			/*& > a{
				padding: 10px 5px;
				color: @background_top;
				
				span{
					display: none;
				}
				
				&:hover{
					background: @background_top;	
					color: @white;
				}
			}*/
			& > a{
				padding: 10px 0;
				position: relative;
				display: inline-block;
				span{
					display: none;
				}

				&::after {
					position: absolute;
					top: 22px;
					left: 0;
					width: 100%;
					height: 1px;
					background: @background_top;
					content: '';
					opacity: 0;
					/*-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
					-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
					transition: height 0.3s, opacity 0.3s, transform 0.3s;
					-webkit-transform: translateY(-5px);
					-moz-transform: translateY(-5px);
					transform: translateY(-5px);*/
					.transition(all 0.3s linear);
				}

				&:hover::after,
				&:focus::after {					
					opacity: 1;
					/*-webkit-transform: translateY(0px);
					-moz-transform: translateY(0px);
					transform: translateY(0px);*/
					height: 4px;
					top:38px;
				}

				
			}
		}
	}

}

.activo-menu{
	color: @background_top !important;
	&:after{
		top: 38px !important;
		height: 4px !important;
		.transition(all none);
		opacity: 1 !important;
	}
}

/*
.cl-effect-4 a {
	padding: 0 0 10px;
}

.cl-effect-4 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}*/

#acciona-menu:checked ~ label[for="acciona-menu"] {
	
}

#acciona-menu:checked ~ nav > ul{
	
}

.capa-login{
	

    form{
		


    	.capa-elem-login{
			

			input{

			}
		}

		p{
			
		}

		hr{
			
		}

		a{
			
			
		}

		#soy-empresa{
			
		}

		label{
			
		}

		button{
			
		}
    }
	
}



#acciona-login:checked ~ .capa-login{
	
}


/* -----------------------
*  PORTADA
* ------------------------ */

section#principal{
	.envoltorio{
		
		#capa-aloonida, #capa-mejoramos{
			height: 227px;
		}	

		#capa-mejoramos{
			img{
				height: 227px;
			}
		}	

		& div.boton_persona{
			height: 227px;

			h2, & > article {
				
			}

			.caption{
				bottom: -34%;
			}
		}
	}
}



.fondo{
	figure{
		height: 227px;				
	}
	.rumi, .conectar{				
	}

	.conectar{
		padding: 2% 0;
	}

	.conectar p{
		font-size: 1.2em;
		line-height: 1.5em;
		padding-top: 0;
	}

	.rumi{
		width: 28%;
		//padding: 7% 5%;
		padding: 5% 4%;
		h2{
			font-size: 1.4em;
			font-family: @aloonida-bold;
		}
		p{
			font-size: 1.3em;
		}
	}

	&.color-empresas{
		.conectar p{
			padding-top: 0;
		}
	}
}


.desplaza-izquierda{
	left: -2px;
}

.capa-hueco{
	height: 227px;
}

/*.caption{
	bottom: -44%;
	p{
		font-size: 1.2em;
	}
}*/

section#frase{
	
}

.triangulo{
	background: url('../img/rombo_peque.png') no-repeat 0 0;
	width: 40px;
	height: 58px;
	top: -29px;
}


section#secundaria{
	a, #capa-mejoramos2{
		

		&#capa-demo{
			
		}
	}

}

#engloba-redes{
	
	

	.capa-video{		
		
		span{
			
			
			&:nth-child(1){
			
			}

			&:nth-child(2){
				
			}
		}
	}
	.capa-redes{
		
		.red-social{
			
		}
	}
}



footer{
	
	

	.idiomas-top{
		
		& > span{
			
		}
	}

	address{
		
		
		p{
			
			
			span{
				
			}
		}
	}
}

#copyright{
	ul{
		
		li{
			
		}
		
	}
}


.alto-fijo{
	padding-top: 17px !important;
}




/* ---------------------------------
*  PÁGINA PÚBLICOS
*  --------------------------------- */

section.publicos{

}

.explicacion-publico{
	padding: 5% 11% 0 3%;
	h1{
		font-size: 2.2em;
	}
	p{
		font-size: 1.5em;
	}
}

.img-publico{
	&.par{
		text-align: left;
	}
}

section.interesa{
	h1{

	}
	.capa-botones{
		a{

		}
	}
}


/* ---------------------------------
*  PÁGINA DESCÚBRENOS
*  --------------------------------- */
section.intencion{
	
	h1{
		font-size: 1.8em;		
	}	
	h1, p{
		width: 90%;		
	}
	p{
		margin: 15px auto;
	}
}

section.capa-servicios{
	text-align: center;
	padding: 3% 0;

	.servicio{
		&:nth-child(2), &:nth-child(4){
			min-height: 300px;	
		}
	}

	h1{
		margin-bottom: 1.2em;
	}
}

aside.nuestro-equipo{
	
	.color-equipo{
		h1{
			&:before, &:after{
				content:"";
				width: 30%;
			}

			&:after{
				
			}
		}

		figure{
			img{

			}

			figcaption{
				
				.nombre{
					
				}
			}
		}
		hr{

		}

		.individuo{
			padding: 0 2%;
		}
	}
}



/* ---------------------------------
*  CONTACTO
*  --------------------------------- */

section.fondo-contacto{
	
	article{

		form{
			
			input{
				
				&[type="submit"]{
					
					width: 20%;
	
				}
			}
			textarea{
				
			}
		}
	}
}







/* -----------------------
*  MEJORAMOS POR TI
* ------------------------ */
.mejoramos{
	
	h1{
		font-size: 2.5em;		
	}
	p{
		font-size: 1.6em;
		padding: 0 10%;

		&:nth-child(3){

		}
	}

	.fondo-form{
		
	}
	
	form{

		width: 70%;
		

		input, textarea{
			
			

			&#enviar{
				
			}
		}
	}
	
}




/* -----------------------
*  LOGIN
* ------------------------ */
section#login{
	
	#capa-titulo-login{
		h1{
		}
		p{
	
		}
	}

	#capa-formularios{
		padding-right: 4%;
		padding-left: 4%;
		.individual{
			padding-right: 3%;
			h2{
				font-size: 20px;
				
			}

			form{
				

				input[type="submit"]{
				}
			}
		}
	}

	#recuperando{
		
		.ayuda{
			
			span{
				
			}
			p{
				font-size: 0.8em;
				right: -147px;
				top: -54px;
				width: 146px;
			}
		}
	}
}

.maqueta-form{

	&.dos{
		width: 47%;
		&:nth-child(2), &:nth-child(6), &:nth-child(8), &:nth-child(10), &:nth-child(13){
			margin-right: 2%;
		}

		&:nth-child(3), &:nth-child(7), &:nth-child(9), &:nth-child(11), &:nth-child(14){
			margin-left: 2%;
		}

		&.css-experto{
			margin-left: 0%;	
		}
		
	}

	&.soy-direccion{
		margin-right: 3%;
		margin-left: 1%;
	}

	&.solo{
		input{
			width: 51%;
			margin-left: 1%;
		}
		p{
			
		}
	}

	textarea, input, select {
		font-size: 20px;
	}

	select{
		height: 50px;
	}

	::-webkit-input-placeholder{font-size: 20px;} 
	input:-moz-placeholder{font-size: 20px;}

	.solo{
		width: 46%;
	}
	
	p.info{
		font-size: 16px;
	}

	label[for="especialidad-experto"]{
		font-size: 20px;
	}

}


section#miembro{
	
	p{
		font-size: 27px;
		span.grande{
			margin-bottom: 25px;
			margin-right: 10px;
			font-size: 151%;
		}
	}
	#crear_cuenta{
		font-size: 1.4em;
	}
}


/* -------------------------
*  REGISTRO ESTUDIANTES
*  ------------------------- */

section#explicacion{
	padding-bottom: 0;
	.texto{
		width: 90%;
		margin: 0 auto;
		padding: 33px 0;
		p{
			margin: 10px 5px;			
			line-height: 1.5em;
		}
	}

	#averigua{
		margin: 0;
		position: absolute;
		top: -62px;
		right: 52px;
		a{
			color: @white;
			border-color: @white;
		}
	}
}

#registro{
	
	#persona{
		padding: 5%;
		h2{
			font-size: 2.2em;			
		}
	}
}


.explicacion-que-es{
	display: block;
	position: absolute;
	top: -30px;
	right: 0;
	left: 0;
	margin: 0 auto;
	text-align: center;
	color: @background_top;
	font-size: 1.3em;
	background: @white;
	span{
		
		font-family: @aloonida-bold;
	}
}

.engloba-proyecto-idea{
	margin: 80px 0 15px;
}



#pfc{
	#seleccion{
		padding: 6% 7%;
		h2{

		}

		#datos-proyecto, #datos-proyecto-redondo{
			padding: 2% 5% 4%;
		}

		h3{
			font-size: 2em;
		}
	}

	#seleccion-insertando{
		padding: 6% 2%;

		#datos-proyecto, #restante-proyecto{
			padding: 4% 8% 2%;
		}
	}
}

#seleccion-insertando{
	.maqueta-checkbox{
		width: 80%;
		p{
			font-size: 24px;
		}
	}	
}

.maqueta-checkbox{
	margin-bottom: 26px;
	label{
		input{

		}
	}

	#datos-proyecto{

	}

	p{
		width: 49%;
		font-size: 30px;
		text-align: center;
		margin: 0;
		padding: 0;
	}

	p.dentro-p{
		padding: 19px 0;
	}
}

.cerrar{
	/*position: absolute;
	top: 0px;
	right: 0px;*/


}


.maqueta-inline{
	

	label{
		font-size: 20px;
		select{
			height: 51px;
		}
		&:after{
		    font-size:1.8em;
		    /*top: 13px;*/
		    top: 6px;
		    padding: 8px 13px 8px 13px;
		    right: -3px;
		}

		&:before{
			top: 14px;	
			right: 42px;	    
		}

		
	}
}

.fondo-pago .envoltorio, .resumen-pago .envoltorio,
.realizar-pago{
	padding: 0 80px;
}

.fondo-pago{
	h4{
		font-size: 2em;
	}
}


.resumen-pago{
	margin-top: 15px;
	div{
		h5{
			
		}

		time{
			
		}

		&.tabla-resumen{
			
			
			table{
			
				tr{

				}

				td{
				
				}
			}
		}
	}
}



.realizar-pago{
	padding-bottom: 3%;
	form{

	}
}

#condiciones{
	a{

	}

	label{
		
	}
}

#acepto{
	
}



#volver-portada{
	
}


#overlay-registro{
	div{
		
		width: 50%;
		padding: 3% 3% 1%;
		max-width: 565px;
		

		h4{
			font-size: 1.9em;
		}
		p{
			font-size: 1.3em;
		}
	}
}


/* --------------------------
*  CONFIRMACIÓN PAGO
* --------------------------- */
#confirmacion-pago{	

	h1{
	}
		
	p{
		
	
	}
	a{

	}
}

.engloba-pago{
}



#vuelta{
	
	a{
		
		
	}
}


#volver-al-registro{
	
	p{
		
	}

	a{
		font-size: 1.3em;
	}

	&>a{
		
	}
}

.botones-registro{
	float: left;
	width: 55%;
}

.min-pagina{
	min-height: 600px;
}


/* -------------------------
*  PERFILES - ELEMENTOS COMUNES (TOP, MENÚ, ETC)
*  ------------------------- */
#antes-imagen {
	
	& > img {
	}
}

.top-perfil{
	figure{
		img{

		}
	}

}

.session{
	p{
		span.nombre{
			color: @background_top;
		}
		a{
			color: @basecolor;
		}
	}	
}

.menu-perfiles{
	background: @background_top;
	
	ul{
		li{
			border-right: 1px solid darken(@background_top, 10%);
			border-left: 1px solid darken(@background_top, 10%);
			.inline-block(100/6 * 1%, top, 0% );
			&:nth-child(1){
				border-left: none !important;
			}
			&:nth-child(6){
				border-right: none !important;
			}
			a{
				border: none;
				span{

				}

				&:hover{

				}

				/*&.no-borde-der{
					border: 1px solid @background_top !important;
				}

				&.no-borde-izq{
					border: 1px solid @background_top !important;
				}*/
			}
		}
	}
}


.cabeza-perfil{
	padding: 2% 0 3%;
	figure{
		.sin-foto{
			height: 140px;
			width: 140px;	
			padding-top: 54px;		
			margin-bottom: 95px;
		}

		img{
			width: 175px;
			height: 175px;
		}
	}
}



.datos-user{
	padding-right: 9%;
	h1{
		font-size: 2.3em;
	}
	.biografia{
		font-size: 21px;
	}
	.etiquetas-user{

	}
}


.permanencia{
	text-align: center;
	width: 18%;
	margin-top: -4px;
	padding-left: 0;
	p{
		width: 100%;
		span{

		}
	}
	a{

	}
}

.curri{
	a{

	}
}

section.proyectos, section.ideas{
	padding: 3% 0 4%;
	article{
		//margin: 2% 0 4%;
		.titulo_pfc{
			width: 85%;
		}
		.fecha{
			position: absolute;
			top: 0;
			right: 10px;
		}

		.cuerpo{
			margin-top: -4px;
			p{
			}

			p.cien_por_cien{
				width: 100%;
			}
			.multimedia{
				/*width: 23%;
				text-align: right;
				display: inline-block;
				margin-top: 33px;*/
				max-width: 250px;
			}
		}

		footer{
			.tabla();
			.keywords{
				.celda(56%);
				padding: 5px 5px 0 0;

				&.solo-keywords{
					display: block;
					width: 73%;
					margin-top: 20px;	
				}
				&:before{
					content:"";
				}
			}
			.ir-a{
				.celda(44%);
				max-width: 270px;
				a{
					font-size: 16px;
				}
			}
		}

		.tengo{

		}
	}
}

.relativo{
	position: relative;
}

/*.proy_validado, .proy_sin_validar, .idea_sin_validar, .idea_validada{
	padding: 1% 0 !important;
}*/


.cabeza-proyecto{
	h1{
		&:before{
			left: 0%;
			width: 37%;			
		}
		&:after{
			right: 7%;
			width: 30%;		
		}
		margin-bottom: 0;
	}

	&.entero{
		h1{
			&:after{
				width: 37%;		
			}
		}
	}

	a.anhadir{

	}
}

section.sin-proyecto{
	padding: 45px 0;
	h1{
		font-size: 36px;
	}
	article{
		font-size: 20px;		
	}
}

.cabecera-que-es{
	padding: 2% 0 2% !important;
	margin-bottom: -1%;
}

.caja-no-validado{
	width: 71%;
	float: right;
}


.docu-proyecto{
	padding: 0;
	width: 34%;
	float: right;
	margin-left: 20px;
	a{
		height: 92px;
		
	}
	.icono-multi{
		background-size: auto;
		margin-top: -2px;
		height: 99px;		
	}
}

.video-proyecto{	
	width: 55%;
}

.icono-video{
	height: 92px;
	/*&:before{
		content:"";
		border-left: 30px solid @background_top;
		border-top: 17px solid transparent;
		border-bottom: 17px solid transparent;
		top: 40%;		
	}*/
}

.docu-proyecto-solo{
	width: 27%;
	margin-right: 45px;
	a{
		height: 100px;
		div.icono-multi{
			background-size: 100;
		}
	}
}

.video-proyecto-solo{
	width: 87%;
	.icono-video{
		height: 131px;

	}
}



/* -------------------------
*  PERFILES - BUSCADOR
*  ------------------------- */


.buscador{
	height: 325px;
	background-position: 0 30%;
	#texto-buscador{		
		h1{
			font-size: 2.5em;
			margin-bottom: 10px;
		}
		h3{
			font-size: 1.8em;
		}
	}

	.engloba-buscador{
		max-width: 100%;
		padding: 1.5%;
		position: absolute;
		bottom: 0;
		background: rgba(0,0,0,0.2);
		#search{			
			max-width: 750px;
			margin: 0 auto;
			position: relative;
			float: none;

			.abre{
				height: 54px;
				padding-top: 8px;
				right: 0;
			}
			.dropdown{				
				
				.dropdown-trigger{
					height: 50px;
					padding: 14px;
					border: none;
					border-left: 1px solid @background_top;
				}
				ul{
				
					li{
					
					}
				}			
			}

			.caja-busqueda{
				input, select{
					height: 50px;
					padding: 13px;
					border: none;
					border-top-left-radius: 7px;
					border-bottom-left-radius: 7px;
				}

				label{
					&:after{
					    font-size:2em;	
					    top: 13px;	
					}

					select{						
					   font-size: 1.4em;
					    option{
					    					    	
					    }
					}
				}
			}
		}
	}

}


.sin-resultados{
	
	h2{
		font-size: 1.9em;
		margin-bottom:20px;
	}

	p{
		font-size: 1.4em;
		max-width: 60%;
	}
}



/* -------------------------
*  PERFILES - CONFIGURACIÓN
*  ------------------------- */
#configurando{
	
	div{	

		img{
			width: 161px;
			height: 161px;
			margin-top: 11px;
		}

		label{
			font-size: 1.2em;
		}

		&.enviar-consulta{
			input{
				
			}
		}

		&.tema{			
			width: 25%;
			margin: 10px;		
		}

		&#foto{

			img{
				display: table-cell;
				width: 65%;
			}
		}

		&.tabla{
			label{
				&[for="key-encontrar"]{
					width: 31%;
					padding-right: 5px;
				}
			}	
		}
		
	}

}


.engloba-keyword{

	p{
		//font-size: 14px;
	}
}



.permanencia-config{
	
	p{
		
		span{
			
		}
	}
	a{

	}
}


.cabeza-perfil-config{
	
	figure{
			
		img{

		}

		.sin-foto{
			width: 134px;
			height: 134px;
			padding-top: 53px;
		}
	}
}


.datos-user-config{
	h1{		
		font-size: 2em;
	}
	.biografia{
		textarea{
			font-size: 18px;	
		}	
	}
}



/* -------------------------
*  PERFILES - VER PERFILES 
*  ------------------------- */

.inferior .especialidad{
	width: 23%;
}


.engloba-persona{	
	padding: 44px 1% 2% 2%;
}



.color-estu{
	border-left: 7px solid @background-amarillo-fuerte;
	border-top: none;
}

.color-experto{
	border-left: 7px solid @background_verdoso;
	border-top: none;
}


.personal{
	width: 83%;
	h1{
		font-size: 1.6em;
		padding-top: 7px;
	}
	.descripcion{
		font-size: 1.2em;
	}
}

.num-proyectos{
	top: -7px;
	right: 33px;
	padding-top: 5px;
	&.sin-proyectos{
		height: 56px;
		width: 114px;	
	}
	span{
		width: 50px;
		height: 50px;
		background: url('../img/spriteideaproy_grande.png') no-repeat;
		background-position: -52px 0;	
		position: relative;

		&.soy-estudiante{
			&:hover:before{
				content: attr(data-num);
				position: absolute;
				width: 100%;				
				.border-radius(50%);
				color: @white;
				background: @hover-num-proyecto-estudiante;
				font-size: 2em;
				padding-top: 17px;
				height: 34px;
				left: 0;
				z-index: 2000;
			}

			&:hover:after{
				content: "";
				position: absolute;
				width: 109%;				
				.border-radius(50%);
				background: #fff;
				padding-top: 17px;
				height: 42px;
				top: -3px;
				left: -2px;
			}	
		}
		
		&.soy-experto{
			&:hover:before{
				content: attr(data-num);
				position: absolute;
				width: 100%;				
				.border-radius(50%);
				color: @white;
				background:@hover-num-proyecto-experto;
				font-size: 2em;
				padding-top: 17px;
				height: 34px;
				left: 0;
				z-index: 2000;
			}

			&:hover:after{
				content: "";
				position: absolute;
				width: 109%;				
				.border-radius(50%);
				background: #fff;
				padding-top: 17px;
				height: 42px;
				top: -3px;
				left: -2px;
			}	
		}
	}
}


.superior{
	figure{
		
		img{
		
		}

		.sin-foto{			
			
		}
	}

	.etiquetas-user{
		display: block;
		margin-bottom: 22px;
		.etiqueta{	
			display: inline-block;		
			position: relative;
			padding-right: 35px;
			margin-bottom: 13px;

			&:after{
				content:"";
				width: 30px;
				height: 32px;
				.border-radius(50%);
				display: inline-block;
				position: absolute;
				top: -6px;
				right: 22px;
				vertical-align: middle;
				background: url("@{rutabase}/img/etiqueta.png") no-repeat;
				background-size: 100%;
			}
		}
	}
}

	

/* -------------------------
*  PERFILES - ESTADÍSTICAS
*  ------------------------- */

.visitas-perfil{
	padding-top: 7%;
	.envuelve{
		.engloba-estadisticas{

			input[type="radio"]{
				.hidden();
			}
			label{
				font-size: 19px;
				top: -44px;

				&[for="semana"]{
					
				}

				&[for="mes"]{
					
				}
				
			}
			.estadisticas{
				article{
					h1{
						font-size: 1.8em;
					}
					p{
						font-size: 1.1em;
					}

					.grafico{
						#estad-semanal, #estad-anual, #estad-mensual{
							
						}
					}
				}
			}
		}
	}
}



/* -------------------------
*  PERFILES - NOTIFICACIONES
*  ------------------------- */

.sin-mensajes{
	
	p{
		font-size: 1.4em;
	}
}

.capa-notificaciones{
	
	.capa-recibir{
	
		.btn_notificaciones{
	
			&:nth-child(1){
	
			}

			&:nth-child(2){
	
			}
		}
	}
}


.activo-recibidos{
	&::before{
		
	}
}


.activo-enviados{
	&::before{
		
	}
}


.engloba-entidades{
	
	label{
		width: 20%;
		font-size: 1.2em;
		padding: 1.5% 1%;
		&:hover{
		
		}

		&[for="empresa-recib"]{
		
		}

	}	
}


.capa_mensajes{
	
		.engloba-mensaje{		
			
			.mensaje{
	
				h3{
	
				}
	
				p{
	
				}
	
				time{
	
				}

			}

			form{
			
				textarea{
					height: 142px;
				}

				input[type="submit"]{
					padding: 1.5% 3%;
					&:hover{
			
					}
				}
			}
		}
}


.sin-leer{
	
	h1{
	
	}
	p{
	
	}
	time{

	}
}


.icon-bubble{

	display: inline;
}


/* ---------------------------------
*  PERFILES - CURRICULUM
*  --------------------------------- */
#curriculum{
	min-height: 1280px;
	.clase1, .clase2,
	.clase3, .clase4,
	.clase5{
		max-width: 588px;
	}
	
	.clase1{
		top: 33px;

		img{
			
		}
	}

	.clase2{
		/*width: 45%;*/
		width: 42%;
		top: 7px;
		max-width: 396px;
		display: inline-block;	
	}

	.clase3{
		display: inline-block;
		/*top: -150px;
		left: 25%;
		width: 56%;*/
		top: 331px;
		left: -23%;
		width: 42%;
		.circulo div{
			padding-top: 24%;
		}
	}

	.clase4{
		/*width: 47%;
		display: inline-block;
		top: -265px;
		left: 44%;*/
		width: 40%;
		top: 177px;
		left: 44%;
	}

	.clase5{
		width: 36% !important;
		top: 91px;
		left: 7%;
		margin-bottom: 120px;
		.circulo{
			div{
				
			}
		}
	}
}

.circulo{
    div{
		 

	    p, h2{
	    	
	    }

	    p{
	    	
	    }
    }
}


.impar{	
	
}

.par{	
	
}


.conoce{
	width: 22%;
	position: absolute;
	top: 874px;
	left: 50px;
	&:after{
	
		&:hover{
	
		}
	}

	&:hover &:after{
	
	}

	div{
		h4{
			font-size: 28px;
			line-height: 1.3em;
			padding: 0 10px;

		}
	}
}

.con-foto{
	left: -163px;
	margin: 0 0 -116px !important;
	top: 7px !important;
}


/* -------------- TODO EL CURRICULUM ---------- */
#mi-historia{
	padding: 3% 2%;
	.texto-curriculum{
		width: 76%;
		margin-right: 5%;
		
		h2{
			
		}

		span{
			
		}
		
	}

	#hist-curriculum{
		width: 18.5%;
		& > p{
			
		}

		.engloba-ver-curriculum{
			
			a{
				.fondo-pdf{
					width: 110px;
					height: 120px;
					p{
						margin-top: 41px;
					}
				}

				label{
					p{
						font-size: 1.3em;
						span{
							
						}
					}
				}

			}
		}
	}
}

#resto-curriculum{
	
}

#ver-experiencias{
	h2{
		
	}
	span{
		
	}
}

#ver-estudios{
	
	h2{
		
	}
	span{
		
	}
}

#ver-idiomas{
	h2{
		
	}
	span{
		
	}
}

#ver-habilidades{
	
	h2{
		
	}

	span{
		
	}

	.todas-habilidades{
		padding: 0% 0 2%;
		p{
			font-size: 1.4em;
			&:nth-child(3n){
				
			}
		}
	}
}

#mi-historia h2,
#ver-experiencias h2,
#ver-estudios h2,
#ver-idiomas h2,
#ver-habilidades h2{
	
}

.cuadrado-historia,
.cuadrado-experiencia,
.cuadrado-estudio,
.cuadrado-idioma{
	

	p{
		font-size: 1.4em;
		line-height: 1.4em;
	}
}


.cuadrado-historia{
	
	
	p{
		
		time{

		}

	}
}

.cuadrado-experiencia{
	//height: 320px;
	p{
		
		&:nth-child(1){
			font-size: 1.6em;
		}
		&:nth-child(2){
			
		}
		&:nth-child(3){
			
		}
		time{
			
		}
	}

	.capa-destacado{
		
		p{
			font-size: 1.6em !important;
		}
	}

	.recomendacion{

	}
}

.cuadrado-estudio{
	
	p{
		
		&:nth-child(1){
			font-size: 1.6em;
		}
		&:nth-child(2){
			
		}
		&:nth-child(3), &:nth-child(4){
			
		}
		time{
			
		}
	}
}

.cuadrado-idioma{
	
	p{
		&:nth-child(1){
			font-size: 1.6em;
		}
	}
}

.flecha-girada{
	
}

p.dedicar{
	font-size: 1.7em;
	width: 50%;
	&::before,&::after{
		top: 24px;
		width: 74px;
	}

}



.cabeza-curri{
	padding: 57px 0;
	#nueva-imagen{
		width: 29%;
		.sin-foto{
			width: 150px;
			height: 150px;
			padding-top: 58px;
		}
		img{
			width: 211px;
			height: 211px;
		}

		&::before{
			
		}

	}
	.capa-datos{
		width: 70%;
		margin-left: -5%;
		h1{
			font-size: 2.3em;
		}
	}
}

#editar-curriculum{
	margin-top: 0;
}



/* -------------- EDITAR ---------------------- */

#editar-curri{
	svg{
    	&#svg-cabeza{

    	}

    	&#svg-completo{

    	}
	}
}

.cabeza-curri-edit{
	padding: 4% 0;
	form{
		width: 31%;
		#nueva-imagen{
			text-align: left;
			img{
				
				margin-left: 92px;
			}
			label{
				width: 170px;
				height: 170px;
				.border-radius(50%);
				position: absolute;
				left: 103px;
				top: -15px;
				background: rgba(49,140,190,.89);
				display: none;
				span{
					position: absolute;
					top: 50%;
					color: @white;
					text-align: center;
					left:6%;
					font-size: 1.2em;
					line-height: 1.2em;
					&:nth-child(1){
						top: 19%;
						left: 43%;
						font-size: 4em;
					}
				}
			}

			img:hover + label{display: block;}
			label:hover{display: block;}


			input[type="file"]{
				.hidden();
			}

			.sin-foto{
				width: 145px;
				margin: 15px auto 50px;
				height: 145px;
				padding-top: 56px;
				&:hover + label{display: block;}
				label:hover{display: block;}
			}
		}
	}
	.capa-datos{
		
		h1{
			font-size: 2em;
		}
		input{
			font-size: 1.3em;
		}
	}
}

.label-sin-foto{
	width: 182px !important;
	height: 182px !important;
	left: 77px !important;
	top: -21px !important;
	background: rgba(49,140,190,1) !important;
	span{
		&:nth-child(1){
			left: 41% !important;
		}
	}
}

#ubicar-previa{
	top: auto;
	bottom: -29px;
	margin-right: 0;
	a{

	}
}

.previa-sin-foto{
	bottom: -21px !important;
}


#info-personal{
	h2{

	}
	.engloba-importar{
		
		h3{
			
		}
		hr{
			
		}
		.fondo-pdf{
			
			p{
				
			}
		}

		label{
			
			&[for="subir_cv"]{
				
				p{
					
				}
			}

			.fondo-pdf{

			}
			p{
				
				span{
	
				}
			}
		}

		a{
			
			.fondo-pdf{
				
			}
		}

		input{
			
		}

		#eliminar-curriculum{
			
			span{
				
			}
			
		}
	}
}

.tabla-curri{
	.ayuda{
		font-size: 17px;
	}

	label{
		font-size: 17px;
		&[for="actualmente"], &[for='actualmente_titulo']{
			font-size: 16px;
		}

		&[for="tipo_educacion"], &[for="tipo_idioma"]{
			width: 100%;
			max-width: 407px;
		}

		select{
			font-size: 17px;
			option{
				font-size: 17px;
			}
		}
	}

	input{
		font-size: 17px;
		.placeholder(@background_top, 17px);
	}
	textarea{
		width: 100%;
		font-size: 17px;
		.placeholder(@background_top, 17px);
	}

	div.fecha-exp{
		max-width: 185px;
		input{
			&[type="checkbox"]{

			}
		}
	}

	select{
		option{

		}
	}
}




.engloba-input{
	//width: 45%;
}

.engloba-botones{
	max-width: 407px;
	width: 100%;
}

#experiencias{
	h2{

	}

	.una-experiencia{

	}
}

.experiencia-ex{	
	width: 65%;
}

#cerrar-exp, #cerrar-est, #cerrar-idioma{

}

#nueva-exp, #nuevo-estudio, #nuevo-idioma{

}


#estudios{
	h2{

	}

	.un-estudio{

	}
}	


#estudios{
	h2{

	}

	.un-idioma{

	}
}	
				     

.quitar{
	display: none;
}			     

#otros-datos{

	#habilidad{
		
	}

		.habil-en{
			padding:0;
			
			p{
				padding: 13px;
				position: relative;
				&:hover{
					cursor: pointer;
				

				}

				&:hover:before{
					content:"eliminar";
					text-align: center;
					position: absolute;
					width: 100%;
					height: 100%;
					.box-sizing(border-box);
					top: 0px;
					background: @background_top;
					color: @white;
					cursor: pointer;
					padding: 15px 0 0;
					font-size: 0.8em;
					left: 0;					
				}
			}
		}
	
}

	
#nivel-completo{
	padding: 8% 0 6%;
	h2{

	}
	div.capa-barra{
		.barra{

		}
	}
	p{

	}
}





#vivo{
	padding-left: 78px;
}

#naciste{
	padding-left: 70px;
}

#trabajado{
	padding-left: 152px;
}

#puesto{
	padding-left: 178px;
}

#provincia{
	padding-left: 143px;
}

/*#idioma{
	padding-left: 205px;
}*/

#acreditacion{
	padding-left: 125px;	
}

#habilidad{
	padding-left: 131px;	
}

#sector{
	padding-left: 90px;
}

#estudiado{
	padding-left: 152px;
}

#titulo{
	padding-left: 141px;
}

#nota_media{
	padding-left: 114px;
}

#acreditacion{
	padding-left: 137px;
}

#idioma-input{
	padding-left: 228px;
}

.engloba-input{
	width: 84%;
	max-width: 407px;
}

#libre{
	padding-left: 92px;
	height: 180px;
}



/* --------------------------
----- SLIDERS WEB 
----------------------------- */
#slider-wrapper {

}

/* Contenedor slider */
#slider, #slider-fijo { 
	height: 340px;	
}

#slider > a {

}

/* Ajuste de las imágenes */
#slider img {

}

#slider figcaption,  #slider-fijo .mensaje-foto {
	bottom: 81px;
	left: 0;
	right: 0;
	width: 90%;
	h1{		
		font-size: 2.8em;
	}
	h4, h3, h2, p{
		font-size: 1.8em;				
	}
}

/* Flechas de navegación */
a.mas, a.menos {

}

a.mas {

}

