/*------------------------------------*\
    $BREAKPOINT_4 INT
\*------------------------------------*/
/*
 * Estilos que entrarán en el breakpoint basado en la variable @bp4
 */

 #loguito{
	max-width: 29%;
	width: 26%;
	/*margin-top: 81px;*/
	margin-top: 102px;
	margin-right: 5%;
	a{
		img{

		}
	}
}

#texto-cabeza{
	width: 71%;
	margin-top: 54px;
	h1{
		
	}
	h2{
			
	}
}

/* --------------------------
----- SLIDERS WEB 
----------------------------- */
#slider-wrapper {

}

/* Contenedor slider */
#slider, #slider-fijo { 
	height: 370px;	
}

#slider > a {

}

/* Ajuste de las imágenes */
#slider img {

}

#slider figcaption,  #slider-fijo .mensaje-foto {	
	bottom: 110px;
	h1{		
		font-size: 2.9em;
	}
	h4, h3, h2, p{
		font-size: 1.8em;	
		width: 77%;			
	}
}

/* Flechas de navegación */
a.mas, a.menos {
	top: 48%;
	bottom: auto;
	left: 10px;
}

a.mas {
	right: 10px;
	left: auto;
}

section#explicacion{

	#averigua{
		top: -75px;
		a{

		}
	}
}

.maqueta-form{
	textarea{
	
		&#abstract{
			max-height: 470px;
		}
	}
}




#cerrar-exp, #cerrar-est, #cerrar-idioma, #cerrar-exp-nuevo{
	right: 39%;
}


/* --------------------------
----- CONFIGURACIÓN
----------------------------- */
.datos-user-config{
	text-align: left;
	padding-left: 40px;
	h1{		
		text-align: left;
	}
	.biografia{
		textarea{
			margin: 23px 0;
		}	
	}
}
