/*------------------------------------*\
    $BREAKPOINT_5
\*------------------------------------*/
/*
 * Estilos que entrarán en el breakpoint basado en la variable @bp5
 */
header.cabeza{
	padding: 2% 0;
}
 #loguito{
	//margin-top: 4%;
	margin-top: 65px;
	display: inline-block;
	width: 28%;
	margin-left: 0%;
	margin-right: 3%;
	//max-width: 28%;
	max-width: 303px;
	a{
		img{

		}
	}
}

#texto-cabeza{
	width: 68%;
	//margin-top: 97px;
	margin-top: 74px;
	h1{
		font-size: 3.2em;
	}
	h2{
		//font-size: 2.5em;
	}
}


#capa-logo{
	width: 30%;
	& > a{
		margin: 0 0 0 42px;
	}
}


#menu-principal{
	ul{		
		li{
			width: 29%;
		}
	}
}

/* -----------------------
*  PORTADA
* ------------------------ */

.caption{
	bottom: -35% !important;
	p{
		font-size: 1.4em !important;
	}
}

section#principal{
	//padding: 0%;
	#capa-aloonida{
		img{
			top: 110px;
		}
	}
}

section#frase{
	padding: 29px 15px;
}

.fondo{
	figure{
		height: 247px;				
	}
	.conectar{
		a{
			bottom: 17px;
		}
		p{
			font-size: 1.3em;
		}
	}
	.rumi{
		padding: 4.5% 4%;
		h2{
			font-size: 1.4em;
		}
	}
	&.color-estudiantes{
		.conectar{
			p{
				padding: 0 10%;
			}
		}
	}
}


section#principal{
	.envoltorio{
		
		#capa-aloonida, #capa-mejoramos{
			height: 247px;
		}	

		#capa-mejoramos{
			img{
				height: 247px;
			}
		}	

		& div.boton_persona{
			height: 247px;
		}
	}
}




/* -----------------------
*  MEJORAMOS POR TI
* ------------------------ */
.mejoramos{
	
	h1{
		font-size: 2.5em;		
	}
	p{
		font-size: 1.6em;
		padding: 0 10%;

		&:nth-child(3){

		}
	}

	.fondo-form{
		
	}
	
	form{

		width: 64%;
		max-width: 700px;
		

		input, textarea{
			
			

			&#enviar{
				
			}
		}
	}
	
}



 /* -----------------------
*  LOGIN
* ------------------------ */
section#login{
	
	#capa-titulo-login{
		h1{
		}
		p{
			font-size: 22px;
		}
	}

	#capa-formularios{
		
		.individual{
			
			

		
			h2{
				font-size: 22px;
				
			}

			
		}
	}
}

section#miembro{
	
	p{
		span.grande{
			margin-right: 22px;			
		}
	}
}




/* -------------------------
*  REGISTRO ESTUDIANTES
*  ------------------------- */

section#explicacion{
	


	.texto{
		p{

		}
	}

	#averigua{
		
		a{

		}
	}
}

#registro{
	
	#persona{
		h2{

		}
	}

	#pfc{
		#seleccion{
			h2{

			}


		}
	}
}

#seleccion-insertando{
	.maqueta-checkbox{
		width: 74%;
		p{
			font-size: 26px;
		}
	}	
}



.maqueta-checkbox{
	label{
		input{

		}
	}

	#datos-proyecto{

	}
	p{
		font-size: 34px;
	}
}

.cerrar{
	/*position: absolute;
	top: 0px;
	right: 0px;*/


}






/* -------------------------
*  PERFILES - ELEMENTOS COMUNES (TOP, MENÚ, ETC)
*  ------------------------- */

.top-perfil{
	figure{
		img{

		}
	}

}

.session{
	p{
		span.nombre{
			color: @background_top;
		}
		a{
			color: @basecolor;
		}
	}	
}

.menu-perfiles{
	background: @background_top;
	
	ul{
		li{
			a{
				span{

				}

				&:hover{

				}
			}
		}
	}
}

.cabeza-perfil{
	figure{
		width: 16%;
		img{

		}
	}
}



.datos-user{
	width: 84%;
	h1{
		
	}
	.biografia{

	}
	.etiquetas-user{

	}
	.permanencia{
		p{
			span{

			}
		}
		a{

		}
	}
	.curri{
		a{

		}
	}
}

section.proyectos, section.ideas{
	article{
		.titulo_pfc{

		}
		.fecha{

		}

		.cuerpo{
			p{
				.inline-block(70%, top, 0 1.5% 0 0);
				margin-right: 2%;
			}
			.multimedia{
				.inline-block(27%, top, 29px 0 0);
				margin-top: 33px;
				max-width: 290px;
			}
		}

		footer{
			.keywords{
				width: 65%;
			}
			.ir-a{
				width: 39%;
				a{

				}
			}
		}

		.tengo{

		}
	}
}

.cabeza-proyecto{
	h1{
		
	}
	a.anhadir{

	}
}

.docu-proyecto{
	margin-left: 10px;
	a{
		height: 115px;
	}
	.icono-multi{
		background-size: 97px 128px;
		height: 143px;
		background-image: url('../img/imagen_doc_grande.png');
	}
}

.video-proyecto{	
	width: 60%;
	margin-top: -4px;
}

.icono-video{
	height: 129px;

	&.unico{
		height: 151px;
	}
	/*&:before{
		content:"";
		border-left: 30px solid @background_top;
		border-top: 17px solid transparent;
		border-bottom: 17px solid transparent;
		top: 40%;		
	}*/
}



.docu-proyecto-solo{
	/*margin: 15px 31px 0 0;*/
	margin: 0 31px 0 0;
	width: 100%;
	.icono-multi{
		/*background-size: 131px 171px;*/
		background-size: 100px 116px;
		/*height: 173px;*/
		height: 119px;
		background-image: url('../img/imagen_doc_grande.png');
	}
	a{
		height: 100px;
	}
}

.idea_sin_validar{
	.docu-proyecto-solo{
		/*margin: 15px 31px 0 0;*/
		margin: 0 31px 0 0;
		width: 100%;
		.icono-multi{
			/*background-size: 131px 171px;*/
			background-size: 100px 116px;
			/*height: 173px;*/
			height: 119px;
			background-image: url('../img/imagen_doc_negativa_grande.png');
		}
	}	
	.docu-proyecto{
		.icono-multi{
			background-image: url('../img/imagen_doc_negativa_grande.png');
		}
	}
	a{
		height: 100px;
	}
}


.video-proyecto-solo{
	margin-left: 11%;
	
}

/* -------------------------
*  PERFILES - CONFIGURACIÓN
*  ------------------------- */

#configurando{
	
	div{	

		img{
			width: 180px;
			height: 180px;
			margin-top: -3px;
		}

		
		
	}

}


/* -------------------------
*  PERFILES - VER PERFILES 
*  ------------------------- */

.buscador{
	height: 350px;
	#texto-buscador{		
		padding-top: 4%;
	}
}

.engloba-persona{	
	padding: 55px 0 1.5% 3%;
}


.superior{
	figure{	
		height: 130px;			
		width: 130px;
		img{			
			height: 130px;
		}
		
		.sin-foto{
			padding-top: 54px;
			height: 130px;			
			width: 130px;
		}
	}
}


.sin-foto{						
	padding: 52px 0 0;
	height: 130px;			
}

.personal{
	width: 71%;
	h1{
		font-size: 1.8em;		
	}
	.descripcion{
		font-size: 1.3em;
	}
}

.num-proyectos{
	top: -11px;
	padding: 34px 11px 21px;
	&.sin-proyectos{
		height: 60px;
		width: 120px;	
	}
	span{
		width: 60px;
		height: 60px;
		background: url('../img/spriteideaproy.png') no-repeat;
		background-position: -62px 0;	

		&.soy-estudiante{
			&:hover:before{
				height: 41px;
			}

			&:hover:after{
				top: -3px;
				left: -3px;
				height: 48px;
			}	
		}
		
		&.soy-experto{
			&:hover:before{				
				height: 41px;				
			}

			&:hover:after{				
				height: 48px;
				top: -3px;
				left: -3px;
			}	
		}	
	}


}



.capa-form{
	float: right;
	width: 83%;
	&::before{
	
	}
	&::after{
		
	}
	textarea{
	
	}
	
	.envio_contacto{
	
	}
}




/* -------------------------
*  PERFILES - NOTIFICACIONES
*  ------------------------- */


.capa-notificaciones{
	
	.capa-recibir{
	
		.btn_notificaciones{
	
			&:nth-child(1){
	
			}

			&:nth-child(2){
	
			}
		}
	}
}


.activo-recibidos{
	&::before{
		
	}
}


.activo-enviados{
	&::before{
		
	}
}


.engloba-entidades{
	min-height: 900px;
	label{
		
		&:hover{
		
		}

		&[for="empresa-recib"]{
		
		}

	}	
}


.capa_mensajes{
	
		.engloba-mensaje{	
			&.contrae{
				height: 165px;
			}	
			.maqueta-notif{
				.mensaje{
		
					h3{
						font-size: 1.5em;
					}
		
					p{
						font-size: 1.2em;
					}
		
					time{
						font-size: 1em;
					}

					span.eliminar{
						padding: 5px 7px 5px  5px;
						font-size: 23px;
					}

				}
			}
			form{
			
				textarea{
					
				}

				input[type="submit"]{
					width: 162px;
					font-size: 1em;
					&:hover{
			
					}
				}
			}
			
		}
}


.sin-leer{
	
	h1{
	
	}
	p{
	
	}
	time{

	}
}


/* -------------------------
*  PERFILES - ESTADÍSTICAS
*  ------------------------- */

.visitas-perfil{
	.engloba-estadisticas{
		input[type="radio"]{
			.hidden();
		}
		.estadisticas{
			article{
				h1{

				}
				p{

				}

				.grafico{

				}
			}
		}
	}
}



/* ---------------------------------
*  PERFILES - CURRICULUM
*  --------------------------------- */
#curriculum{
	
	.clase1, .clase2,
	.clase3, .clase4,
	.clase5{
		max-width: 588px;
		margin: 0 0 -66px 30px;
	}
	
	.clase1{
		

		img{
			
		}
	}

	.clase2{
		width: 34%;
		vertical-align: top;
		left: 6%;
		top: -18px;
	}

	.clase3{		
		top: 216px;
		left: -98px;
		width: 42%;
		max-width: 470px;
		.circulo div{
			padding-top: 28%;
		}
	}

	.clase4{
		width: 41%;		
		top: 113px;
		left: 55%;
		max-width: 450px;
	}

	.clase5{
		top: 74px;
		left: 41%;
		margin-bottom: 140px;
		max-width: 378px;
		.circulo{
			div{
				
			}
		}
	}
}

.circulo{
    div{
		 

	    p, h2{
	    	
	    }

	    p{
	    	
	    }
    }
}


.impar{	
	margin-top: 10px;
	margin-bottom: 10px;
}

.par{	
	margin-top: 10px;
	margin-bottom: 10px;	
}


.conoce{
	top: 659px;
	&:after{
		&:hover{
	
		}
	}

	&:hover &:after{
	
	}

	div{
	
	}
}

#todo-curriculum{
	//min-height: 1100px;
	#curriculum{
		padding-top: 50px;
		padding-left: 45px;
		min-height: 1250px;
	}
}


.con-foto{
	left: -121px;
	margin: 0 0 -56px !important;	
}



.maqueta-inline{

	label{
		&:after{
		    top: 5px;
		    right: -4px;
		}
	}
}



.tabla-curri{
	.ayuda{
		font-size: 18px;
	}

	label{
		font-size: 18px;
		
		select{
			font-size: 18px;
			option{
				font-size: 18px;
			}
		}
	}

	input{
		font-size: 18px;
		.placeholder(@background_top, 18px);
	}
	textarea{
		
		font-size: 18px;
		.placeholder(@background_top, 18px);
	}

	div.fecha-exp{
		max-width: 185px;
		input{
			&[type="checkbox"]{

			}
		}
	}

	select{
		option{

		}
	}
}




/* --------------------------
----- SLIDERS WEB 
----------------------------- */
#slider-wrapper {

}

/* Contenedor slider */
#slider, #slider-fijo { 
	height: 400px;	
}

#slider > a {

}

/* Ajuste de las imágenes */
#slider img {

}

#slider figcaption,  #slider-fijo .mensaje-foto {
	width: 80%;
	top: 115px;
	bottom: auto;
	h1{		
		font-size: 3.2em;
	}
	h4, h3, h2, p{
		font-size: 1.9em;				
	}
}

/* Flechas de navegación */
a.mas, a.menos {
left: 30px;
display: block;
}

a.mas {
	right: 30px;
	left: auto;
}


/*--------------------*/
/* Diamond */
/*--------------------*/

.mas .icon-wrap, .menos .icon-wrap{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.mas div, .menos div {
	position: absolute;
	overflow: hidden;
	width: 50px;
	height: 50px;
	background: rgba(255,255,255,0.5);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	top: -3px;
	left: -1px;
	.opacity(0);
}

.mas div{
	left: -7px;
}

.mas:hover , .menos:hover{
	background: none;
}

.mas:hover div {
	-webkit-transform: scale(1) rotate(-45deg);
	transform: scale(1) rotate(-45deg);
	.opacity(1);
}

.menos:hover div {
	-webkit-transform: scale(1) rotate(45deg);
	transform: scale(1) rotate(45deg);
	.opacity(1);
}




#cerrar-exp, #cerrar-est, #cerrar-idioma, #cerrar-exp-nuevo{
	right: 0;
}



.una-experiencia, .nueva-experiencia, .un-estudio, .nuevo-estudio, .un-idioma, .nuevo-idioma{
	max-width: 552px;
}

.engloba-input, .engloba-botones{
	width: 100%;
	max-width: 500px;
}



.tabla-curri{
	.ayuda{
		
		top: 43px;
		
	}

	label{
	

		&[for="actualmente"], &[for='actualmente_titulo']{
			///font-size: 16px;
		}
		
		&[for="permiso_conducir"], &[for="vehiculo"]{
			

			input{
				
			}
		}

		&[for="tipo_educacion"], &[for="tipo_idioma"]{
			
			width: 100%;
			max-width: 500px;

			select{
				

			    option{
			    	
			    }
			}
		}
	}

	input{
		

		
	}
	textarea{
		

	

	}

	div.fecha-exp{
		max-width: 234px;
		width: 50%;

		input{
			
			
		}
	}

	select{

		option{

		}
	}

	
}




.cabeza-curri-edit{
	padding: 3% 0;
	form{
	
		#nueva-imagen{
		
			img{
				width: 230px;
				height: 230px;
			}

			label{
				width: 230px;
				height: 230px;
				left: 102px;
				max-width: 230px;
				span{
					font-size: 1.5em;
				}
			}

			.sin-foto{
				width: 185px;
				margin: 15px auto 22px;
				font-size: 5em;
				height: 185px;
				padding-top: 75px;
			}
			
		}
	}
	.capa-datos{
		width: 53%;
		h1{
			font-size: 2.2em;
		}
		input{

		}
	}
}


#nivel-completo{
	padding: 6% 0;
}


.label-sin-foto{
	width: 200px !important;
	height: 200px !important;
	left: 78px !important;
	top: -12px !important;
	span{
		&:nth-child(1){
			left: 41% !important;
		}
	}
}