/*------------------------------------*\
    $BREAKPOINT_7
\*------------------------------------*/


section.proyectos, section.ideas{
	article{
		.titulo_pfc{

		}
		.fecha{

		}

		.cuerpo{
			p{
				
			}
			.multimedia{
			
			}
		}

		footer{
			.keywords{
				
			}
			.ir-a{
				padding-right: 3%;
				a{

				}
			}
		}

		.tengo{

		}
	}
}


.maqueta-form{
	textarea{
		&#abstract{
			max-height: 375px;
		}
	}
}



.label-sin-foto{
	width: 216px !important;
	height: 216px !important;
	left: 75px !important;
	top: -16px !important;
}