/*------------------------------------*\
    $BREAKPOINT_1
\*------------------------------------*/
/*
 * Estilos que entrarán en el breakpoint basado en la variable @bp1
 */

#engloba-redes{
	
	.clearfix();


	.capa-video{		
		
		float: left;
		span{
		
			
			&:nth-child(1){
		
			}

			&:nth-child(2){
		
			}
		}
	}
	.capa-redes{
		//float: right;
		clear: none;
		.red-social{
			
		}
	}
}


footer, #engloba-redes{
	address{
		clear: both;
	}
}


 footer{
	

	.idiomas-top{
		
		& > span{
			
		}
	}

	address{
		
		
		p{
		
			
			span{
				
			}
		}
	}
}

#copyright{
	ul{
		
		li{
			
		}
		
	}
}



/* ---------------------------------
*  PORTADA
*  --------------------------------- */
section#principal{

	& div.boton_persona{
			height: 182px;
		&:before{
		 	height: 182px;			 	 	
		 }

		&:after{		 			 	
		 	top: 45%;
		 	font-size: 26px;	
		 }
	}
}

.boton-proximamente{
	left: -76%;
}


section#frase{

	h2{
		font-size: 17px;
	
	}
}


#video-portada{
	
	h3{
		font-size: 1.7em;
	}


}




/* -----------------------
*  LOGIN
* ------------------------ */
section#login{

	#recuperando{
		
		p{
			
		}

		form{
			text-align: right;
		}

		input{
			
			&#recupera_pass{
				max-width: 150px;
				display: inline;
			}
		}

		.ayuda{
			
			span{
				
			}
			p{
				margin-left: 0px;
				margin-right: 30px;
				font-size: 0.9em;
			}
		}
	}


}



/* ---------------------------------
*  PÁGINA PÚBLICOS
*  --------------------------------- */



.img-publico{

	img{
		width: 200px;
		height: 200px;
	}
}


/* ---------------------------------
*  PERFILES - CURRICULUM
*  --------------------------------- */
#curriculum{
	.clase1, .clase2,
	.clase3, .clase4,
	.clase5{
		width: 87%;
		margin: -35px auto 0;
		position: relative;
		max-width: 369px;
	}

	.clase1{
		margin-top: 50px;

		img{
			/*width: 300px;
			height: 300px;
			border-radius: 50%;
			background: @background_top;*/
		}
	}

	.clase2{
				
	}

	.clase3{
		
	}

	.clase4{
		
	}

	.clase5{
		width: 69% !important;
		.circulo{
			div{
				padding-top: 20%;
			}
		}
	}
}

.circulo{
    div{
		padding-top:28%;    

	    p, h2{
	    	padding: 0 27px;
	    	font-size: 24px;
	    }

	    p{
	    	font-size: 17px;
	    }
    }
}


.impar{	
	margin: 10px 75px 10px 0;
}

.par{	
	margin: 10px 0px 10px 44px;
}


.conoce{
	top: -174px;
	left: 50px;
	width: 32%;
	&:after{
	
		&:hover{
	
		}
	}

	

	div{
	
	}
}


/* -------------- TODO EL CURRICULUM ---------- */
#mi-historia{
	
	.texto-curriculum{
	
		
		h2{
			
		}

		span{
			
		}
		
	}

	#hist-curriculum{
		& > p{
			
		}

		.engloba-ver-curriculum{
			
			a{
				.fondo-pdf{
					
					p{
						
					}
				}

				label{
					p{
						
						span{
							
						}
					}
				}

			}
		}
	}
}

.margen-arriba{
	margin-top: 38px !important;
}

.impar{
	text-align: right;
	margin-right: 44px;
}

.par{
	text-align: left;
	margin-left: 44px;
}


#resto-curriculum{
	
}

#editar-curriculum{
	margin: -32px 2% 0;
	float: right;
	width: auto;
}

#ver-experiencias{
	h2{
		
	}
	span{
		
	}
}

#ver-estudios{
	
	h2{
		
	}
	span{
		
	}
}

#ver-idiomas{
	h2{
		
	}
	span{
		
	}
}

#ver-habilidades{
	
	h2{
		
	}

	span{
		
	}

	.todas-habilidades{
		
		p{
			
			&:nth-child(3n){
				
			}
		}
	}
}

#mi-historia h2,
#ver-experiencias h2,
#ver-estudios h2,
#ver-idiomas h2,
#ver-habilidades h2{
	
}

.cuadrado-historia,
.cuadrado-experiencia,
.cuadrado-estudio,
.cuadrado-idioma{
	

	p{
		
	}
}


.cuadrado-historia{
	
	
	p{
		
		time{

		}

	}
}

.cuadrado-experiencia{
	
	p{
		
		&:nth-child(1){
			
		}
		&:nth-child(2){
			
		}
		&:nth-child(3){
			
		}
		time{
			
		}
	}

	.capa-destacado{
		
		p{
			
		}
	}

	.recomendacion{

	}
}

.cuadrado-estudio{
	
	p{
		
		&:nth-child(1){
			
		}
		&:nth-child(2){
			
		}
		&:nth-child(3), &:nth-child(4){
			
		}
		time{
			
		}
	}
}

.cuadrado-idioma{
	
	p{
		
	}
}

.flecha-girada{
	
}

p.dedicar{
	

	&::before{
		
	}

	&::after{
		
	}
}

#volver-previa{
	
}


.cabeza-curri{
	text-align: left;
	padding: 7% 0%;
	overflow: hidden;
	#nueva-imagen{
		margin: 0;
		.inline-block(39%, top, 0);

		label{
			width: 90%;
			padding:7px 5px;
			font-size: 0.75em;
			line-height: 1.1em;
			span{

			}
		}
		img{
			width: 167px;
			height: 167px;
		}

	}
	.capa-datos{
		.inline-block(59%, top, 0);
		text-align: center;
		h1{
			
		}
	
	}
}


/* -------------- EDITAR ---------------------- */

#editar-curri{
	
	svg{
    	&#svg-cabeza{
    		
    	}

    	&#svg-completo{
			
    	}
	}
}

.cabeza-curri-edit{
	/*text-align: left;
	padding: 7% 0%;*/
	form{
		/*margin: 0;
		.inline-block(39%, top, 0);*/
		#nueva-imagen{
			

			label{
				/*width: 90%;
				padding:7px 5px;
				font-size: 0.75em;
				line-height: 1.1em;/*
				span{

				}
			}
			input[type="file"]{
				
			}
			img{
			/*	width: 191px;
				height: 191px;*/
			}

			&::before{
					
				}

		}
	}
	.capa-datos{
		/*.inline-block(59%, top, 0);
		text-align: center;*/
		h1{
			
		}
		input{
			
			
		}
	}
}

/*.actualiza-curriculum{
	display: inline-block;
	vertical-align: middle;
}*/




#info-personal{
	

	.engloba-importar{
		h3{
	
		}
		hr{
	
		}
		.fondo-pdf{
			p{
			}
		}

		label{
	
			.fondo-pdf{

			}
			p{
	
				span{

				}
			}
		}

		a{
			.fondo-pdf{
				
			}
		}

		input{
			.hidden();
		}

		#eliminar-curriculum{

		}
	}
}

.engloba-botones{
	
}

#info-personal h2, #experiencias h2, #idiomas h2, #estudios h2{
	
}

#info-personal .btn-guardar, #experiencias .btn-guardar, #idiomas .btn-guardar{
	
}

#info-personal .btn-reset, #experiencias .btn-reset, #idiomas .btn-reset{
	
}

.tabla-curri{
	
	.ayuda{
	
	}

	label{
		
		&[for="permiso_conducir"], &[for="vehiculo"]{
			

			input{

			}
		}

		&[for="tipo_educacion"], &[for="tipo_idioma"]{


			select{

			    option{
			    }
			}
		}
	}

	input{
	}
	textarea{

	}

	div.fecha-exp{

		input{

			&[type="checkbox"]{
			}
		}
	}

	select{
		option{

		}
	}

	span:not(.ayuda){

	}
}

#experiencias{

	.una-experiencia{

	}

	
}

a#abrir-exp{
	
	span{
		
	}
}

.experiencia-ex{
			
		p{
		
			span{
				
			}
		}

	}


#cerrar-exp, #cerrar-est, #cerrar-idioma{

}

#nueva-exp, #nuevo-estudio, #nuevo-idioma{
	right: 9%;
	font-size: 1em;
	padding: 2px 5px;
}


#estudios{
	
	h2{

	}

	.un-estudio{

	}
}	


#idiomas{
	
	h2{

	}

	.un-idioma{

	}
}	
				     

#otros-datos{

	#habilidad{
		
	}

		.habil-en{
			
			
			p{

			}
		}
	
}

	
#nivel-completo{
	
	h2{
		font-size: 1.7em;
	}
	div.capa-barra{
		.barra{

		}
	}
	p{

	}
}


#experiencias .envoltorio, #idiomas .envoltorio, #otros-datos .envoltorio,
#estudios .envoltorio, #info-personal .envoltorio{
	padding: 0 9%;
}






/* ---------------------------------
*  PÁGINA DESCÚBRENOS
*  --------------------------------- */

section.intencion{
	
	h1{
		
	}	
	p{
		
	}
}

section.capa-servicios{
	
	h1{
		
	}

	.servicio{
		

		h3{
			
		}
		p{
			
		}
	}
}

aside.nuestro-equipo{
	
	.color-equipo{

		h1{

		}

		figure{
			img{

			}

			figcaption{
				
			}
		}
		hr{

		}

		.individuo{
			.inline-block(47.5%, top, 0 1%);
			margin-bottom: 25px;
			margin-right: 1%;
			margin-left: 1%;
			figure{
				figcaption{

				}
			}
		}
	}
}


.engloba-ong{
	
	a{
		
		margin: 0 30px 20px;

		&:nth-child(2){

		}

		&:nth-child(3){

		}

		&:nth-child(4){

		}
	}
}

#donacion{
	padding: 7% 0 6%;
	h1{
		font-size: 2.2em;
	}	

	p{
		
	}
}



/* -------------------------
*  REGISTRO ESTUDIANTES
*  ------------------------- */

section#explicacion{
	


	.texto{
		padding-bottom: 54px;
		p{

		}
	}

	#averigua{
		
		a{
			font-size: 1em;
		}
	}
}

#registro{
	
	#persona{
		h2{

		}
	}

	#pfc{
		#seleccion{
			h2{

			}


		}
	}
}



.maqueta-checkbox{
	label{
		input{

		}
	}

	#datos-proyecto{

	}
}

.cerrar{
	/*position: absolute;
	top: 0px;
	right: 0px;*/
}


.maqueta-form{
	textarea{
		&#abstract{
			max-height: 477px;
		}
	}
}


#overlay-registro{
	div{
		
		width: 75%;

		h4{
			font-size: 1.3em;
		}
		p{

			span{
				
			}

			&:nth-of-type(1){
				
			}

			&:nth-of-type(2){
				
			}
		}
	}
}



/* --------------------------
*  CONFIRMACIÓN PAGO
* --------------------------- */
#confirmacion-pago{
	
	h1{
		
	}
	p{
		
	}
	a{
		
	}
}

.engloba-pago{
	
}

#volver-al-registro{
	
	
	padding-right: 15px;
	p{
		
	}

	a{
		width: 49%;
		display: inline-block;
	}

	&>a{
		
	}
}

.botones-registro{
	
}







/* -------------------------
*  PERFILES - ELEMENTOS COMUNES (TOP, MENÚ, ETC)
*  ------------------------- */
#antes-imagen {
	max-height: 35px;
	width: auto;
	& > img {
		height: 25px;
		margin-top: 5px;
		width: auto;
	}
}

.top-perfil{
	figure{
		img{

		}
	}

}

.session{
	p{
		span.nombre{
			color: @background_top;
		}
		a{
			color: @basecolor;
		}
	}	
}

.menu-perfiles{
	background: @background_top;
	
	ul{
		li{
			a{
				span{

				}

				&:hover{

				}
			}
		}
	}
}

.cabeza-perfil{
	figure{
		img{

		}
	}
}



.datos-user{
	h1{
		
	}
	.biografia{

	}
	.etiquetas-user{

	}
	.permanencia{
		p{
			span{

			}
		}
		a{

		}
	}
	.curri{
		a{

		}
	}
}

section.proyectos, section.ideas{
	article{
		.titulo_pfc{

		}
		.fecha{

		}

		.cuerpo{
			p{

			}
			.multimedia{

			}
		}

		footer{
			.keywords{

			}
			.ir-a{
				a{
					font-size: 17px;
					max-width: 185px;
					line-height: 2em;
				}
			}
		}

		.tengo{

		}
	}
}

.cabeza-proyecto{
	h1{
		
	}
	a.anhadir{

	}
}


.docu-proyecto, .docu-proyecto-solo{
	
	a{
		
	}
	.icono-multi{
		background-size: 100;
	}
}

.video-proyecto{	
	
}

.icono-video{
	
	/*&:before{
		content:"";
		border-left: 30px solid @background_top;
		border-top: 17px solid transparent;
		border-bottom: 17px solid transparent;
		top: 49px;		
		left: 8px;
	}*/
}

.idea_sin_validar{
	
	.icono-video{
		&.unico{
			&:before{
			/*	top: 49px !important;*/
				left: 18px !important;	
			}	
		}		
	}

	.icono-multi{
		
	}
	
}

.docu-proyecto-solo{

}

.video-proyecto-solo{
	
}


/* ---------------------------------
*  PERFILES - AÑADE NUEVO PROYECTO
*  --------------------------------- */

#editar-proy{
	margin-bottom: -2%;
	margin-top: 35px;
	margin-right: 10px;
}

#cancelar-editar{
	margin-top: 45px;
}


#keywords_proy{
	.placeholder(@basecolor, 0.85em);
}



/* -------------------------
*  PERFILES - BUSCADOR
*  ------------------------- */

.buscador{
	
	#texto-buscador{
		margin-bottom: 40px;
		padding-top: 40px;
		text-align: center;
		h1{
			font-size: 1.6em;
		}
		h3{
			font-size: 1.2em;
		}
	}

	.engloba-buscador{
		margin-top: 64px;
		#search{
	
			.abre, .icon-cancel{
	
			}

	
			.dropdown{				
				
				.dropdown-trigger{
				
				}
				ul{
				
					li{
				
				
						label{
				
						}
					}
				}			
			}

			.caja-busqueda{
				margin-top: 4px;
				
				#autocompletado{
				
				}
			}
		}
	}

}


.personal{
	h1{
		font-size: 1.3em;
	}
}


/* -------------------------
*  PERFILES - VER PERFILES 
*  ------------------------- */

#envio-formulario, #envio-formulario-revision{
	font-size: 1.2em;
	max-width: 318px;
}

.volver-perfil{
	width: 34%;
}



.sin-resultados{
	
	h2{
		
	}

	p{
		
	}
}



.enlaces{
	
	input{
	
	}
	a{
		width: 50.2%;
	}
}


.capa-form{
	.envio_contacto{
		width: 111px;
		
	}
}




/* -------------------------
*  PERFILES - NOTIFICACIONES
*  ------------------------- */

.capa_mensajes{
	.engloba-mensaje{		

		&.contrae{
			height: 123px;
		}

		
	}
}

.capa-notificaciones{
	.capa-recibir{
		
		.btn_notificaciones{
			font-size: 22px;
			padding-bottom: 4.5%;
		}
	}
}


/* -------------------------
*  PERFILES - ESTADÍSTICAS
*  ------------------------- */

.visitas-perfil{
	.engloba-estadisticas{
		input[type="radio"]{
			.hidden();
		}
		.estadisticas{
			article{
				h1{

				}
				p{

				}

				.grafico{

				}
			}
		}
	}
}



/* -------------------------
*  PERFILES - NOTIFICACIONES
*  ------------------------- */


.capa-notificaciones{
	
	.capa-recibir{
	
		.btn_notificaciones{
	
			&:nth-child(1){
	
			}

			&:nth-child(2){
	
			}
		}
	}
}


.activo-recibidos{
	&::before{
		
	}
}


.activo-enviados{
	&::before{
		
	}
}


.engloba-entidades{
	
	label{
		
		&:hover{
		
		}

		&[for="empresa-recib"]{
		
		}

	}	
}


.capa_mensajes{
	
		.engloba-mensaje{		
			
			.mensaje{
	
				h3{
	
				}
	
				p{
	
				}
	
				time{
	
				}

			}

			form{
			
				textarea{
			
				}

				input[type="submit"]{
								
					&:hover{
			
					}
				}
			}
		}
}


.sin-leer{
	
	h1{
	
	}
	p{
	
	}
	time{

	}
}



/* --------------------------
----- PÁGINA SERVICIOS
----------------------------- */

#todos-servicios{

}

.un-servicio{
	span{
		display: inline-block;
		margin: 0px 25px 0 15px;
	}

	p{
		width: 71%;
		display: inline-block;
	}

	a, h1{

	}
}



.icono-base-datos{

}

.icono-promocion{
	
}

.icono-networking{
	
}

.icono-negociacion{
	
}

.icono-asesoramiento{
	
}

.icono-coaching{
	
}





/* --------------------------
----- SLIDERS WEB 
----------------------------- */
#slider-wrapper {

}

/* Contenedor slider */
#slider, #slider-fijo { 
	//height: 230px;	
	height: 166px;
}

#slider > a {

}

/* Ajuste de las imágenes */
#slider img {
	height: 166px;
}

#slider figcaption,  #slider-fijo .mensaje-foto {
	bottom: 15px;
	h1{		
		font-size: 1.9em;
	}
	h4, h3, h2, p{		
		font-size: 1.3rem;
	}
}


/* Flechas de navegación */
a.mas, a.menos {

}

a.mas {

}



/* --------------------------
----- CONFIGURACIÓN
----------------------------- */

.engloba-keyword{
	.hexagonos{
		

		.bg-blanco{
			
		}

		.eliminar-key{
		
		}

	}

	p{
		font-size: 13px;
	}
}


.enviar-consulta-arriba{
	max-width: 35%;
	margin: 0 0 20px 63%;	
}


.distancia-key{
	
}

.esp-asignada{
	
	span{
		
	}
}


aside#dar-baja{
	
	p{
		
	}
	a{
		
	}
}

label[for="userfile"], label[for="foto-perfil"]{
	
}

 label[for="userfile"]{
	
 }

#ver-curriculum{
	
}


#capa-dar-baja{
	&, &:after{		
		height: 300px;
		max-width: 400px;
		min-width: 400px;
	}

	&:after{
		
	}
	
	p, h2, #cerrar-pop-up-baja{

	}
		

	h2{
		font-size: 1.5em;
	}

	p{
		font-size: 1em !important;
	}
}

#si, #no{
	bottom: 28px;
	
}

#si{
	left: 30%;
}

#no{
	right: 28%;
}

#cerrar-pop-up-baja{
	
}



.configurar-empresa{
	h2{
		font-size: 1.3em;	
	}

	h3{
		

		&.margen-alto{
		
		}
	}

	#especialidades{
		li{
			font-size: 0.9em;
			line-height: 1.4em;
			&.espec_select{
		
			}
		}
	}
	
	div.secciones{
		
	}

	#engloba-temas{
		div.tema{
			max-width: 164px;
			margin: 15px 20px 10px 0;
		}
	}

	
	input{
		&:checked ~ label{
		
		}

		& ~ label{			
			
		}
	}


	label{
		&[for="acepto_newsletter"]{
			font-size: 1em !important;
			input{
			
			}
		}
	}

	
}




/* ------------------------------------------------------------------ */
/*  ------------------ TALENTO EMPRESAS ----------------------------- */ 
/* ------------------------------------------------------------------ */

#todos-expertos{
	&.arriba-padd{
		
	}
}

.un-proyecto{
	
	.icono-idea{
		
	}

	.capa-form{
		
		textarea{
			
		}
	}
}

.almacena{
	
}

.capa-proyecto{
	

	.inserta-categoria{
		
	}

	h1{
		
	}

	.fecha{
		
	}

	.almacena{
		
	}

	p{
		
	}

	.multimedia{
		.docu-proyecto, .video-proyecto{
			
			div{
				
			}
		}

		.docu-proyecto{
			
			div{
				
			}
		}

		.video-proyecto{
			
			
			div{
				&:before{
					
				}
			}
		}
	}

	
}		

.keywords{
	&:before{
		font-size: 1.2em;
	}		
}


.persona-proy{
	
	img{

	}

	h3{

	}

	p{

	}

	.almacena{

	}
}

.engloba-enlaces-empresas{
	/*width: 58%;
	margin-left: 42%;
	a, div{
		display: inline-block;	
		width: 49%;	
	}
	a{
		margin-right: 2%;
	}*/
}


.ver-mas{
	max-width: 30%;
	margin: 0 auto;
}




.mensaje-negocio-msj{
	
	p.resalta-corporativo-fuerte, p{
		font-size: 1em;
		
	}



}

.escribe-a-aloonida{
	

	h3{
		
	}
	.envio_contacto{
		
	}

	span{

	}

	textarea{
		
	}
}






/* -------------------------------
-- PORTADA NUEVA
---------------------------------- */

.flechita{

	p{
		
	}

	span{
		
	}
}

#video_portada{
	
	


	video{
		
	}
}

#texto-video{
	
	p{
		

	}

	h2{
		
	}

	h1{
		
		span{
			
		}
	}
}

#logo-final{

}