/*------------------------------------*\
    $BREAKPOINT_3
\*------------------------------------*/
/*
 * Estilos que entrarán en el breakpoint basado en la variable @bp3
 */

 header.cabeza{
	padding: 2%;
	//.transition(all 0.8s linear);
	height: 250px;
	overflow: hidden;
}



#loguito{
	margin-top: 15px;
	display: inline-block;
	width: 27%;
	margin-left: -2%;
	margin-right: 7%;
	max-width: 196px;
	a{
		img{

		}
	}
}

#texto-cabeza{
	display: inline-block;
	width: 66%;
	text-align: right;
	vertical-align: top;
	//margin-top: 103px;
	margin-top: 44px;
	h1{
		font-size: 2.5em;		
	}
	h2{
		font-size: 2.5em;		
	}
}


 #top{
	
	#accionando-menu{	
		//top: -5px;
	}

	img {
		//.hidden();
	}

	#capa-login{
		margin-top: 5px;
	}
}



#capa-logo{
	
	& > a{
		width: 22%;
		img{
	
			-webkit-animation: rota_logo 10s 3s 3 alternate; /* Chrome, Safari, Opera */
			animation: rota_logo  10s 3s 3 alternate;
			/*-webkit-animation: londinense 10s 3s 3 alternate; /* Chrome, Safari, Opera */
			/*animation: londinense  10s 3s 3 alternate;*/
			/*-webkit-animation: onda 10s 3s 3; /* Chrome, Safari, Opera */
			/*animation: onda  10s 3s 3;*/
		}
	}
}

#capa-logo-alternativo{
	
	& > a{
		//width: 16%;
		//max-width: 100%;
	}
}

#capa-titulo{
	//.celda();
	
	& > #accionando-menu{
		padding: 7px 0px 7px 7px;
		margin-right: -10px;
	}


	& > #accionando-login{
		
	}

	#acciona-menu, #acciona-login{
		
	}

	h1{
		margin-bottom: 20px;
	}

	h2{
		font-size: 1.8em;
		margin: 0 auto;
		width: 75%;
	}

}


#menu-principal{
	
	ul{
		
		li{
			width: 23%;

			& > a{
				color:@background_top;

				span{
				
				}
				
				
			}
		}
	}
	
}




#acciona-menu:checked ~ label[for="acciona-menu"] {
	
}

#acciona-menu:checked ~ nav > ul{
	
}

.capa-login{
	

    form{
		


    	.capa-elem-login{
			

			input{

			}
		}

		p{
			
		}

		hr{
			
		}

		a{
			
			
		}

		#soy-empresa{
			
		}

		label{
			
		}

		button{
			
		}
    }
	
}



#acciona-login:checked ~ .capa-login{
	
}



#antes-botones{
	position:relative;
}

section#principal{
	
	.envoltorio{
		//padding: 0px;
		#capa-aloonida, #capa-mejoramos{
			display: inline-block !important;
			width: 26.6%;	
			visibility: visible;	
			//height: 229px;
			height: 200px;
			overflow: hidden;
			position: static;
			//margin-left: -13px;
			margin-left: 0;
		}

		#capa-mejoramos{
			position: relative;
			margin-top: 0.5%;
			left: 0.5%;

			&:hover{
				.opacity(0.8);
			}

			img{
				position: static;
				//height: 272px;
				height: 215px;
				width: 100%;
			}
		}	

		#capa-aloonida{
			z-index: 1000;
			position: relative;
		}

		& div.boton_persona{
			//width: 35.75%;
			width: 36%;
			//width: 36.1%;
			//position: static;
			//height: 229px;
			height: 200px;
			position: relative;
			cursor: pointer;
			overflow: hidden;

			h2, & > article {	

			}

			.caption{
				//bottom: -36%;
				bottom: -27%;
			}

			&:hover .caption{
				.translate(0,30px);
			}

			&#empresas{
				left: -0.5%;
				margin-top: 0.5%;.opacity(1);
			}

			&#expertos{
				left: -0%;
				margin-top: 0.5%;	
			}

			&#grupos{
				.opacity(1);
			}

			img{
				height: 200px;
			}
		}
	}
}


#video-portada{
	padding: 60px 4% 110px;
	h3{
		font-size: 2.4em;
	}

	h6{
		font-size: 1.3em;
	}
}



.desplaza-izquierda{
	left: -1px;
}

.caption{
	//bottom: -46%;
	//bottom: -21%;
}

.close-ventana{
	position: absolute;
	right: 0px;
	background: rgb(202,192,192);
	top:0px;
	color: @basecolor;
	padding: 1%;
	font-size: 25px;
	cursor: pointer;
}


.capa-hueco{
	.inline-block(24%, top, 0);
	//height: 229px;
	height: 200px;
}


.fondo{
	width: 100%;
	height: 0%;
	position: absolute;
	left: 0px;
	.scale(1);
	.transition(transform 0.6s linear);
	overflow: hidden;
	top: 0px;
	visibility: hidden;

	figure{
		//height: 229px;
		height: 200px;
		.inline-block(76%, top, 0);
		overflow: hidden;
		margin-bottom: 0;
		/*img{
			width: 100%;
			//height: auto;
			height: 200px;
		}*/
	}
	.conectar{
		//.inline-block(72%, top, 0%);

		p, h1, h2{
			
			font-size: 1.2em;
			color: @white;
			padding: 2% 9% 0 7%;
			strong{
				font-family: @aloonida-book;
			}
		}

		h2{
			font-size: 1.8em;
		}
	}

	.conectar{

		h2{
			display: none;
		}
		a{
			display: block;
			padding: 11px  15px;
			/*color: @basecolor;
			border: 2px solid @basecolor;*/
			color: rgb(213,120,30);
			border: 2px solid rgb(221,152,46);
			position: absolute;
			bottom: 8px;
			right: 31px;
			font-family: @aloonida-bold;
			.transition(all 0.5s);
			&:hover{
				/*color: @background_top;
				border-color: @background_top;*/
				color: darken(@color_fondo_estudiantes, 20%);
				border-color: darken(@color_fondo_estudiantes, 20%);
			}
		}
	}

	/*.conectar p{
	padding: 2% 12% 0 5%;
		//color: #7e7878;
	}*/

	/*.rumi{
		width: 28%;
		padding: 3%;
		h2{
			font-size: 1.4em;
			font-family: @aloonida-bold;
			color: #5f5a5a;
		}
		p{
			font-size: 1.3em;
		}
	}*/

	&.color-expertos{
		/*.rumi{
			h2{
				color: #fffafa;
			}
			p{
				color: #ddd;
			}
		}*/
		.conectar{
			a{
				color: #ededf3;
				border-color: #ededf3;
				&:hover{
					color: darken(@color_fondo_expertos, 10%);
					border-color: darken(@color_fondo_expertos, 10%);
				}
			}
			p{
				color: #fff9f9;
			}
		}
	}

	&.color-grupos{
		.conectar{
			a{
				color: lighten(#746969, 10%);
				border-color: lighten(#746969, 10%);
				&:hover{
					color: darken(@color_fondo_grupos, 10%);
					border-color: darken(@color_fondo_grupos, 10%);
				}
			}
			/*p{
				color: #746969;
			}*/
		}
	}

	&.color-empresas{
		/*.rumi{
			h2{
				color: #e6e6e6;
				font-size: 1.3em;
			}
			p{
				color: darken(#e6e6e6, 10%);

			}
		}*/
		.conectar{
			a{
				color: @white;
				border-color: @white;
				&:hover{
					color: darken(@color_fondo_empresas, 15%);
					border-color: darken(@color_fondo_empresas, 15%);
				}
			}
			/*p{
				color: @white;
				padding: 1% 4% 0 3%;
			}*/
		}
	}
}

#inactivo-grupos{
	&, &:hover{
		color: lighten(@color_fondo_grupos, 10%) !important;
		border-color: lighten(@color_fondo_grupos, 10%) !important;
	}
}

#inactivo-empresas{
	&, &:hover{
		color: lighten(@color_fondo_empresas, 10%) !important;
		border-color: lighten(@color_fondo_empresas, 10%) !important;
	}
}

.agranda{
	height: 101%;
	visibility: visible;
	z-index: 100;
}

.estatico{
	position: static !important;
}

.relativo{
	position: relative !important;
}

#estudiantes{
	margin-right: 0.5%;
	/*margin-left: 1%;*/
	margin-left: 0.1%;
}

.circle-estudiantes, .circle-expertos, .circle-empresas, .circle-grupos {
    background: rgb(255,255,255);
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    width: 6em; 
    height: 6em;
    overflow: hidden;
    transform: translateZ(0);
    float: right;
    margin-top: -85px;
}

.circle-empresas{

}

.circle-grupos{
	
}

.circle-expertos{
	
}

 
.circle-estudiantes h1, .circle-expertos h1, .circle-empresas h1, .circle-grupos h1 {
    color: rgba(159, 155, 169,1);
    font-weight: 900;
    font-size: 0.9em;
    line-height: 6.5em;
    text-align: center;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    transition: color 0.8s ease-in-out;
}

 
.circle:hover:before,
.circle:hover:after  {
    box-shadow: inset 0.86em 0 0 rgba(255, 0, 0, 0.5), 
                inset 0 0.86em 0 rgba(252, 150, 0, 0.5), 
                inset -0.86em 0 0 rgba(0, 255, 0, 0.5), 
                inset 0 -0.86em 0 rgba(0, 150, 255, 0.5);
}
 
.circle:hover > h1  {
    color: rgba(185, 185, 185,1);
}

 
.circle-estudiantes:before,
.circle-estudiantes:after {
    border-radius: 100%;
    content:"";
    position: absolute;
    top: 0; 
    left: 0;
    width: inherit; 
    height: inherit;            
    box-shadow: inset 10.6em 0 0 @color_circulo_estudiantes, 
                inset 0 10.6em 0 @color_circulo_estudiantes, 
                inset -10.6em 0 0 @color_circulo_estudiantes, 
                inset 0 -10.6em 0 @color_circulo_estudiantes;
    transition: box-shadow 0.75s;
}



.circle-expertos:before,
.circle-expertos:after {
    border-radius: 100%;
    content:"";
    position: absolute;
    top: 0; 
    left: 0;
    width: inherit; 
    height: inherit;            
    box-shadow: inset 10.6em 0 0 @color_circulo_expertos,
                inset 0 10.6em 0 @color_circulo_expertos,
                inset -10.6em 0 0 @color_circulo_expertos,
                inset 0 -10.6em 0 @color_circulo_expertos;
    transition: box-shadow 0.75s;
}

.circle-empresas:before,
.circle-empresas:after {
    border-radius: 100%;
    content:"";
    position: absolute;
    top: 0; 
    left: 0;
    width: inherit; 
    height: inherit;            
    box-shadow: inset 10.6em 0 0 @color_circulo_empresas,
                inset 0 10.6em 0 @color_circulo_empresas,
                inset -10.6em 0 0 @color_circulo_empresas,
                inset 0 -10.6em 0 @color_circulo_empresas;
    transition: box-shadow 0.75s;
}

.circle-grupos:before,
.circle-grupos:after {
    border-radius: 100%;
    content:"";
    position: absolute;
    top: 0; 
    left: 0;
    width: inherit; 
    height: inherit;            
    box-shadow: inset 10.6em 0 0 @color_circulo_grupos,
                inset 0 10.6em 0 @color_circulo_grupos,
                inset -10.6em 0 0 @color_circulo_grupos,
                inset 0 -10.6em 0 @color_circulo_grupos;
    transition: box-shadow 0.75s;
}
 
 
.circle:after  {
    transform: rotate(45deg);
}
 





/*
#estudiantes:hover > .color_fondo{
	.scale(1);
	height: 100%;
}

#grupos:hover > .color_fondo{
	.scale(1);
	height: 100%;
}

#empresas:hover > .color_fondo{
	.scale(1);
	height: 100%;
}

#expertos:hover > .color_fondo{
	.scale(1);
	height: 100%;
}


#estudiantes:hover > h2{
	.show();
}*/

/*#grupos{
	margin-left: 0.5%;
	margin-bottom: 0.7%;

	.color_fondo{
		background: @color_fondo_grupos;
	}
}

#empresas{
	margin-right: 0.5%;

	.color_fondo{
		background: @color_fondo_empresas;
	}
}

#expertos{
	margin-left: 0.5%;
	margin-right: 1.5%;

	.color_fondo{
		background: @color_fondo_expertos;
	}
}*/

section#frase{
	h2{
		font-size: 27px;
		line-height: 39px;
	}
}



.rw-words-1{
	span{		
		&:nth-child(2), &:nth-child(3){
			display: block;
		}
	}
}


.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #6b969d;
	-webkit-animation: rotateWord 12s linear infinite 0s;
	-ms-animation: rotateWord 12s linear infinite 0s;
	text-align: center;
	animation: rotateWord 12s linear infinite 0s;
	display: inline;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 4s; 
	-ms-animation-delay: 4s; 
	animation-delay: 4s; 
	color: #6b889d;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 8s; 
	-ms-animation-delay: 8s; 
	animation-delay: 8s; 
	color: #6b739d;	
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}



section#secundaria{
	.clearfix();
	a {
		display: block;
		width: 65%;
		//height: 60px;
		
		//.background-clip(border-box);
		//vertical-align: top;
		height: auto;
		float: left;
		
		img{
			display: block;
			width: 100%;
			height: auto;
		}

		&#capa-demo{
			float: right;
			width: 30%;
			background: none;
			.show();
		}
	}
	
	#capa-mejoramos2{
		.hidden();
	}
}

#engloba-redes{
	
	

	.capa-video{		
		
		span{
			
			
			&:nth-child(1){
			
			}

			&:nth-child(2){
				
			}
		}
	}
	.capa-redes{
		
		.red-social{
			
		}
	}
}


#mapa{
	height: 300px;
	#map-canvas{
		display: block;
	}
}

#apertura{
	background: @fondo-apertura;
	height: 300px;
	position: absolute;
	#cerrar-apertura{
		display: block;
		width: 60px;
	}
	h3{
		font-size: 1.8em;
		&:nth-child(2){
			margin-top: 26px;
		}
	}
	p{
		font-size: 1.3em;
	}
}


footer{
	
	

	.idiomas-top{
		
		& > span{
			
		}
	}

	address{
		
		
		p{
			
			
			span{
				
			}
		}
	}
}

#copyright{
	ul{
		
		li{
			
		}
		
	}
}



/* ---------------------------------
*  PÁGINA PÚBLICOS
*  --------------------------------- */

section.publicos{
	padding: 1%;
	margin: 3px 0;
}

.explicacion-publico{
	h1{

	}
}

.img-publico{
	padding: 0.5% 0 0 0.5%;
	&.par{
		padding-top: 0.5%;
	}
	img{
		width: 260px;
		height: 260px;
	}
}

section.interesa{
	padding: 3% 0;
	h1{
		font-size: 2.6em;
	}
	p{
		font-size: 1.4em;
		line-height: 1.4em;
		margin-right: 6%;
		text-align: center;
		vertical-align: middle;
		width: 80%;
		display: inline-block;
		margin: 0% 3% 2%;
		padding: 0;
	}
	.capa-botones{
		display: inline-block;
		vertical-align: top;
		margin-top: 24px;

		a{
			font-size: 1.3em;
			margin: 0 2%;
		}
	}
}


/* ---------------------------------
*  PÁGINA DESCÚBRENOS
*  --------------------------------- */
section.intencion{
	
	h1{
		
	}	
	p{
		
	}
}

section.capa-servicios{
	text-align: center;
	padding: 5% 0;
	h1{
		margin-bottom: 1.2em;
		margin-top: 22px;
		margin-left: 0;
	}

	.servicio{
		.inline-block(30%, middle, 4%);
		margin: 0 1% 3%;
		.transition(all 0.3s);
		&:hover{
			.scale(1.1);
		}

		h3{
			
		}
		p{
			
		}

		&:nth-child(4){
			min-height: 296px;
		}
	}
}

aside.nuestro-equipo{
	padding: 50px 0 6%;
	.color-equipo{
		h1{
			
		}

		figure{
			max-width: 68%;
			img{

			}

			figcaption{
				font-size: 1.1em;
				text-align: justify;
				margin-top: 11px;
				.nombre{
					
				}
			}
		}
		hr{

		}
		.individuo{
			.inline-block(31%, top, 0 1%);
			figure{
				img{
					
				}
				figcaption{
					font-size: 1em;
					line-height: 1.4em;
					.nombre{
						font-size: 1em;
					}
				}
			}
		}
	}
}

.red-individuo{
	height: 200px;
	width: 200px;
	text-align: center;
	background: @white;
	.border-radius(50%);
	padding-top: 91px;
	position: absolute;
	top: 0px;
	margin: auto;
	left: 0;
	right: 0;
	display: block;
	z-index: 3000;
	.opacity(0);
	&:hover{
		.opacity(1);
	}

	a{
		color: @background_top;		
		
	}
}






.engloba-ong{
	margin-top: 47px;
	a{
		margin: 0px 8px 10px;	
		width: 150px;
		height: 150px;
		background-size: 632px;
		background-position: -12px -5px;
		margin: 0 13px 10px;

		&:nth-child(2){
			background-position: -165px -4px;
		}

		&:nth-child(3){
			background-position: -336px 9px;
		}

		&:nth-child(4){
			background-position: -485px 6px;
		}
	}
}

#donacion{
	font-size: 1.2em;
	padding: 4% 0 5%;
	h1{
		font-size: 2.4em;
	}	

	p{
		&.resalta-blanco{
			font-size: 1.5em;
			margin-bottom: 15px;
		}
	}
}



/* ---------------------------------
*  CONTACTO
*  --------------------------------- */

section.fondo-contacto{
	
	article{

		.telefono{
			p{
				font-size: 1em;
			}
		}

		div{
			
			a{
				font-size: 1em;
			}

			&:nth-child(4){
				address{
					font-size: 1em;
				}
			}
		}

		form{
			
			input{
				
				&[type="submit"]{
					
					
	
				}
			}
			textarea{
				
			}
		}
	}
}





/* -----------------------
*  LOGIN
* ------------------------ */
section#login{
	padding-bottom: 5%;
	#capa-titulo-login{
		h1{
		}
		p{
			margin: 4px auto 10px;
			font-size: 18px;
		}	
	}

	#capa-formularios{
	
		.individual{
			
			/*padding: 2% 4% 0 2%;

			&:nth-child(2){
				padding:2% 2% 0 2%;
			}
			h2{
				font-size: 18px;
				
			}

			form{
				

				input[type="submit"]{
				}
			}*/

			max-width: 100%;

			.inline-block(49.5%,top, 0);
			padding: 2% 2% 0 2%;

			&:nth-child(3){
				padding:2% 2% 0 2%;

				h2{
					margin-top: 4%;
					margin-bottom: 4%;
				}
			}
			h2{
				//font-size: 14px;
				margin-bottom: 2%;
			}

			form{
				

				input[type="submit"]{
				}
			}

		}

			
	}

	#recuperando{
		
		p{
			
		}

		input{
			
			&#recupera_pass{
				
			}
		}

		.ayuda{
			position: relative;
			right: -33px;
			top: -48px;
			span{
				position: absolute;
				right: 0;
			}
			p{
				font-size: 0.7em;
				color: @white;
				background: @background_top;
				padding: 3px;
				right: -128px;
				top: -47px;
				width: 127px;
				position: absolute;
				&:after{
					content:"";
					width: 0;
					height: 0;
					border-top: 10px solid @background_top;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					position: absolute;
					bottom: -8px;
					left: 10px;
				}		
			}
		}
	}
}

.error-pass{
	font-size: 13px !important;
}


.separador-formularios{
	.hidden();
}


.maqueta-form{
	p{
		&.una-vez{
			font-size: 16px;
		}
	}

	&.archivo p, &.subiendo-video label{
		
		text-align: center;
	}

	&.archivo, &.subiendo-video {
		text-align: center;
		max-width: 233px;
	}
	
	&.subiendo-video{
		span{
			font-size: 3em !important;
			text-align: center;
			margin-bottom: 11px;
		}
		p.explicacion-subida{
			text-align: center;
		}
	}
	
	textarea{
	
		&#abstract{
			max-height: 290px;
		}
	}

}

section#miembro{
	padding: 3% 3% 4.5%;
	p{
		margin-bottom: 25px;
		span.grande{
		}
	}
	#crear_cuenta{
		font-size: 1.2em;
	}
}


/* -------------------------
*  REGISTRO ESTUDIANTES
*  ------------------------- */

section#explicacion{
	


	.texto{
		font-size: 1.1em;
		p{

		}
	}

	#averigua{
		a{

		}
	}
}

#registro{
	
	#persona{
		h2{
			font-size: 1.9em;
		}
	}
}

#pfc{
	//padding-bottom: 5%;
	padding-bottom: 14%;
	#seleccion, #seleccion-insertando{
		padding: 7% 5%;
		h2{
			font-size: 2.7em;
		}

		#restante-proyecto, #datos-proyecto{
			padding: 3% 6%;
		}

		#datos-proyecto-registro{
			padding: 4% 4% 2%;
		}

		h3{
			font-size: 1.7em;
		}


	}
}

#seleccion-insertando{
	.maqueta-checkbox{
		width: 90%;
		p{
			font-size: 20px;
		}
	}
	
}


select[name="categorias"]{height: 45px;}

.triangulo-gris{
	
	&:before{
		border-bottom: 71px solid @color-triangulos-gris;
		border-right: 28px solid transparent;
		border-left: 28px solid transparent;
		.rotate(22deg);
		position: absolute;
		top: -4px;
		right: -16px;
	}

	&:after{
		//font-size: 15px;
		bottom: 4px;
		right: 5px;
	}
}



#restante-proyecto-sin-fondo{
	padding: 3% 6%;
}


.maqueta-checkbox{

	label{
		input{

		}
	}

	#datos-proyecto{

	}

	p{
		font-size:26px;
	}
}

#textos{

	.cerrar-ayuda{
		
	}

	h3{
		
		span{
			
			
		}
	}

	p, h5, ul{
		padding-left: 5%;
		span{
			
		}
	}

	ul{
		
		li{

		}
	}

	.ejemplo{
		c
		h5{

		}
		p{
			
		}
	}
}

.clave{
	margin: 15px 10px 15px 0;
	span{
		font-size: 1.1em;
		padding:10px;
	}
}


.cerrar{
	/*position: absolute;
	top: 0px;
	right: 0px;*/


}


.fondo-pago{
	h4{
		font-size: 1.8em;
	}
}


.resumen-pago{
	
	div{
		h5{
			
		}

		time{
			
		}

		&.tabla-resumen{
			
			
			table{
			
				tr{

				}

				td{
				
				}
			}
		}
	}
}



.realizar-pago{
	
	form{

	}
}

#condiciones{
	a{

	}

	label{
		
	}
}

#acepto{
	
}



#volver-portada{
	
}

#overlay-registro{
	div{
		
		width: 55%;
		

		h4{
			font-size: 1.7em;
		}
		p{
	
		}
	}
}



/* --------------------------
*  CONFIRMACIÓN PAGO
* --------------------------- */
#confirmacion-pago{	

	h1{
	}
		
	p{
		
	
	}
	a{

	}
}

.engloba-pago{
}



#volver-al-registro{
	overflow: hidden;
	margin-bottom: 10%;
	p{
		
	}

	a{
		line-height: 2.5em;
		font-size: 1.1em;
	}

	&>a{
		float: right;
		width: 33%;
		line-height: 3.1em;
		margin-top: 23px;
	}
}

.botones-registro{
	float: left;
}




/* -------------------------
*  PERFILES - ELEMENTOS COMUNES (TOP, MENÚ, ETC)
*  ------------------------- */
#mensaje_inicial{
	padding: 33px;
	p{				
		font-size: 1.2em;
	}
}

#antes-imagen {
	max-height: 35px;
	width: auto;
	& > img {
		
		/*margin-top: 5px;*/
		width: auto;

		&#sub-logo{
			width: 63px;
			height: auto;
			margin-top: -15px;
		}
	}
}

.top-perfil{
	figure{
		img{

		}
	}

}
/*
.session{
	p{
		span.nombre{
			color: @background_top;
		}
		a{
			color: @basecolor;
		}
	}	
}*/

.menu-perfiles{
	background: @background_top;
	
	ul{
		li{
			a{
				span{

				}

				&:hover{

				}
			}
		}
	}
}

.cabeza-perfil{
	figure{
		width: 20%;
		img{

		}

		.sin-foto{
			padding-top: 52px;
			font-size: 5em;
		}
	}
}

.distancia-eti{
	margin: 15px 10px 2px 20px;	
}


.datos-user{
	width: 78%;
	
	h1{
		margin-bottom: 5px;
		font-size: 2.2em;
	}
	.biografia{

	}
	.etiquetas-user{

	}

	.capa-form{
		max-width: 379px;
		float: none;
		input{
			bottom: 0;
		}
	}

	.contactar{
		font-size: 0.9em;
		width: 184px;		
		margin-left: 20px;
	}

	#ver-curriculum{
		font-size: 0.9em;		
	}

}

.permanencia{
	text-align: left;
	width: 70%;
	padding: auto auto auto 5%;
	font-size: 14px;
	p{
		span{

		}
	}
	a{

	}
}
.curri{
	text-align: right;
	width: 30%;
	vertical-align: bottom;
	
	a{

	}
}

section.proyectos, section.ideas{
	padding: 5% 0;
	article{
		.titulo_pfc{

		}
		.fecha{

		}

		.cuerpo{
			p{

			}
			.multimedia{

			}
		}

		footer{
			.keywords{

				.no-key{
					display: inline-block;
				}

				&.sin-keywords{
					&:before{
						content:"";
					}
				}

			}
			.ir-a{
				a{

				}
			}

			
		}

		.tengo{

		}
	}
}


/*.proy_validado, .proy_sin_validar, .idea_sin_validar, .idea_validada{
	padding: 3% 0;
}*/


.cabeza-proyecto{
	h1{
		&:before{
			left: 0%;
			width: 35%;			
		}
		&:after{
			right: 10%;
			width: 25%;		
		}
	}
	a.anhadir{

	}
}

.caja-no-validado{
	width: 66%;
}


.sin-proyecto{
	padding: 5% 0;
}


/* -------------------------
*  PERFILES - CONFIGURACIÓN
*  ------------------------- */
.ver-grande{
	display: block;
}


#ayuda-pass{
	.icono{
		display: block;
	}
}



#configurando{

	div{
		
		/*label{
			font-size: 1em;
		}*/
		
		img{
			width: 145px;
			height: 145px;
		}


		&.tabla{
			label{
				display: table-cell;
				width: 31%;
				//padding-right: 3%;

				&[for="tipo_estudio"]{
					width: 70%;

					p.error_margen{
						text-align: right;
					}
				}
			}
		}

		&.tema{			
			width: 35%;
			margin: 10px;			
		}
		
	}
}


.enviar-consulta{			
	input{
		
		font-size: 1.6em;
		font-family: @aloonida-bold;
	}
}


.enviar-consulta-arriba{
	max-width: 17%;
	margin: 0 0 -16px 75%;	
	input{
		line-height: 0.6em;
	}
}



.distancia-key{
	p{		
		font-size: 1em !important;
	}
}


.error_margen{
	font-size: 15px !important;
}



.cabeza-perfil-config{

	figure{
		width: 28%;		
		img{

		}
	}
}

.permanencia-config{
	text-align: center;
	
	float: left;
	margin: -108px 0 0 19px !important;
	width: 30%;
	font-size: 14px;
	p{
		text-align: center;
		display: block;
		color: @background_top;
		span{
			font-size: 2em;
			background: none;
		}
	}
	a{

	}
}


#engloba-temas{
	text-align: center;
}


.secciones{
	margin-bottom: 7%;
	padding: 0 8%;
	p{
		font-size: 1.2em;
	}
}


.area-config, .biografia .limitador-cont{
	margin: 23px auto 0;
	width: 80%;
}

.biografia .limitador-cont{
	margin-top: 0;
}


.datos-user-config{
	padding-top: 50px;
	h1{
	
	}
	.biografia{
	
	}
}



/* -------------------------
*  PERFILES - BUSCADOR
*  ------------------------- */


.buscador{
	//margin: 5% auto 6%;
	height: 300px;

	#texto-buscador{		
		h1{
			font-size: 2.1em;
		}
		h3{
	
		}
	}
	
	.engloba-buscador{
		max-width: 540px;
		margin-top: 66px;
		#search{			
			.dropdown{				
				
				.dropdown-trigger{
					
				}
				ul{
				
					li{
					
					}
				}			
			}

			.caja-busqueda{
				
			}
		}
	}

}


.sin-resultados{
	margin-top: 50px;
	padding: 35px 30px 35px;
	h2{
		font-size: 1.7em;
		margin-bottom:20px;
	}

	p{
		font-size: 1.3em;
		max-width: 70%;
		margin: auto;
	}
}


.informacion{
	width: 84%;
}


/* ---------------------------------
*  PERFILES - CURRICULUM
*  --------------------------------- */
#curriculum{
	max-height: 1600px;
	.clase1, .clase2,
	.clase3, .clase4,
	.clase5{
		max-width: 450px;
	}

	.clase1{
		
		.sin-foto{
			width: 173px;
			height: 173px;
			padding-top: 72px;
			margin: 0;
		}
		
	}

	.clase2{
				
	}

	.clase3{
		
	}

	.clase4{
		top: -328px;
		left: 28px;
		width: 48%;
	}

	.clase5{
		top: -523px;
		width: 49% !important;
		left: 10%;
		.circulo{
			div{
				
			}
		}
	}
}

.circulo{
    div{
		padding-top:28%;    

	    p, h2{
	    	
	    }

	    p{
	    	font-size: 19px;
	    }
    }
}


.impar{	
	
}

.par{	
	
}


.conoce{
	width: 25%;
	top: -665px;
	&:after{
	
		&:hover{
	
		}
	}

	&:hover &:after{
	
	}

	div{
	
	}
}

#todo-curriculum{
	//max-height: 1600px;
}


#cerrar-previa-curri{
	width: 230px;
	margin-right: 25px;
}

/* -------------- TODO EL CURRICULUM ---------- */
#mi-historia{
	
	.texto-curriculum{
		width: 76%;
		
		h2{
			
		}

		span{
			
		}
		
	}

	#hist-curriculum{
		width: 20.5%;
		& > p{
			font-size: 1.2em;
		}

		.engloba-ver-curriculum{
			
			a{
				.fondo-pdf{
					
					p{
						
					}
				}

				label{
					p{
						font-size: 1.2em;
						span{
							
						}
					}
				}

			}
		}
	}
}

#resto-curriculum{
	
}

#ver-experiencias{
	h2{
		
	}
	span{
		
	}
}

#ver-estudios{
	
	h2{
		
	}
	span{
		
	}
}

#ver-idiomas{
	h2{
		
	}
	span{
		
	}
}

#ver-habilidades{
	
	h2{
		
	}

	span{
		
	}

	.todas-habilidades{
		
		p{
			
			&:nth-child(3n){
				
			}
		}
	}
}

#mi-historia h2,
#ver-experiencias h2,
#ver-estudios h2,
#ver-idiomas h2,
#ver-habilidades h2{
	
}

.cuadrado-historia,
.cuadrado-experiencia,
.cuadrado-estudio,
.cuadrado-idioma{
	

	p{
		
	}
}


.cuadrado-historia{
	
	
	p{
		font-size: 1.2em;
		time{

		}

	}
}

.cuadrado-experiencia{
	
	p{
		
		&:nth-child(1){
			
		}
		&:nth-child(2){
			
		}
		&:nth-child(3){
			
		}
		time{
			
		}
	}

	.capa-destacado{
		
		p{
			
		}
	}

	.recomendacion{

	}
}

.cuadrado-estudio{
	
	p{
		
		&:nth-child(1){
			
		}
		&:nth-child(2){
			
		}
		&:nth-child(3), &:nth-child(4){
			
		}
		time{
			
		}
	}
}

.cuadrado-idioma{
	
	p{
		
	}
}

.flecha-girada{
	
}

p.dedicar{
	

	&::before{
		
	}

	&::after{
		
	}
}

#volver-previa{
	
}


.cabeza-curri{
	
	#nueva-imagen{
		
		img{
			width: 190px;
			height: 190px;
		}

		&::before{
			
		}



	}
	.capa-datos{
		h1{
			
		}
	}
}


.recomendacion{
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 1% 2%;
	border: 2px dashed;
}



/* -------------- EDITAR ---------------------- */

#editar-curri{
	svg{
    	&#svg-cabeza{

    	}

    	&#svg-completo{

    	}
	}
}

.cabeza-curri-edit{
	#nueva-imagen{
		
		label{
			span{

			}
		}
		input[type="file"]{
			.hidden();
		}

		#capa-barra-carga2{
			width: 200px;
			margin-left: 26%;
		}
	}
	.capa-datos{
		h1{
			font-size: 1.6em;
		}
		input{

		}
	}
}

#ubicar-previa{
	right: 55px;
	a{

	}
}

.fondo-blanco{
	background: @white;
	padding-bottom: 10px;
}


#info-personal{
	.engloba-importar{
		position: absolute;
		top: 0px;
		right: 60px;
		width: 201px;

		h3{
			text-align: center;
		}
		hr{
			width: 100%;
		}
		.fondo-pdf{
			
			p{
				
			}
		}

		label{
			
			&[for="subir_cv"]{
				margin-top: 1px;
				text-align: center;
				background: @white;
				padding-top: 20px;
				p{
					
				}
			}

			.fondo-pdf{

			}
			p{
				
				span{
	
				}
			}
		}

		a{
			text-align: center;
			display: block;
			padding-top: 20px;
			margin-bottom: -20px;
			.fondo-pdf{
				
			}
		}

		input{
			
		}

		#eliminar-curriculum{
			margin: 0;
			text-align: center;
			span{
				
			}
			
		}
	}
}

.engloba-botones{
	margin-top: 30px;
	width: 67%;
	max-width: 500px;
}

.engloba-input{
	width: 67%;
	max-width: 500px;
}

.tabla-curri{
	.ayuda{

	}

	label{
		&[for="tipo_educacion"], &[for="tipo_idioma"]{
			width: 67%;
			max-width: 500px;

			select{
				
			}
		}
	}
	input{

	}
	textarea{
		width: 83%;
	}

	div.fecha-exp{
		width: 31%;
		max-width: 223px;
		input{
			&[type="checkbox"]{

			}
		}
	}

	select{
		option{

		}
	}
}

.actualiza-curriculum{
	display: block;
}

#experiencias{
	h2{

	}

	.una-experiencia{

	}
}

.experiencia-ex{	
	width: 83%;
	p{
		
		span{
			
		}
	}

}

#cerrar-exp, #cerrar-est, #cerrar-idioma, #cerrar-exp-nuevo{
	right: 32%;
}

#nueva-exp, #nuevo-estudio, #nuevo-idioma{

}


#estudios{
	h2{

	}

	.un-estudio{

	}
}	


#estudios{
	h2{

	}

	.un-idioma{

	}
}	
				     

#otros-datos{

}

	
	
#nivel-completo{
	padding: 11% 0 6%;
	h2{
		font-size: 2.2em;
	}
	div.capa-barra{
		max-width: 44%;
		.barra{
			

		}
	}
	p{
		margin: auto auto 20px;
		max-width: 800px;
	}
}


.btn-guardar{
	font-size: 1.1em;
}

.btn-reset, .btn-cerrar-sin{
	font-size: 1em;
	height: 37px;
}



/* -------------------------
*  PERFILES - VER PERFILES 
*  ------------------------- */

.enlaces, .engloba-enlaces-empresas{
	width: 53%;
}



.capa-form{
	//width: 84%;
	clear: both;
	//float: right;

	.envio_contacto{
		//bottom: 24px;
	}

}



/* -------------------------
*  PERFILES - VER PERFILES 
*  ------------------------- */

.superior{
	figure{
		/*width: 115px;
		height: 115px;	
		
		img{			
			height: 115px;
		}
		
		.sin-foto{
			padding-top: 44px;
			width: 115px;
			height: 115px;	
		}*/
		
	}
}

.sin-foto{									
	/*padding: 43px 0 0;	
	font-size: 5em;	*/	
	height: 115px;			
}

.engloba-persona{	
	padding: 33px 1% 3% 2%;		
}


.capa-form{
	&::before{
		
	}
	&::after{
	
	}
	textarea{
	
	}
	
	.envio_contacto{
	
	}
}

.personal{
	
	h1{
		
	}
	.descripcion{
		
	}

}


.num-proyectos{	
	&.sin-proyectos{
		
	}
	span{
		display: inline-block;		
		margin-bottom: 0;
		height: 42px;
	}
}



/* -------------------------
*  PERFILES - ESTADÍSTICAS
*  ------------------------- */

.visitas-perfil{
	
	.envuelve{
		.engloba-estadisticas{

			input[type="radio"]{
				.hidden();
			}
			label{
				
				top: -50px;

				&[for="semana"]{
					
				}

				&[for="mes"]{
					
				}
				
			}
			.estadisticas{
				article{
					h1{
						font-size: 1.7em;
					}
					p{

					}

					.grafico{
						#estad-semanal, #estad-anual, #estad-mensual{
						
						}
					}
				}
			}
		}
	}
}


/* ---------------------------------
*  PERFILES - AÑADE NUEVO PROYECTO
*  --------------------------------- */

.margen-arriba-categorias{
	margin-top: 0;
}


.maqueta-inline{
	.inline-block(49.5%, top, 1% 1% 1% 0);
	&:nth-child(2){
		padding-left: 1%;
		padding-right: 0;
	}
}

#idioma{
	width: 48.5%;
}


.engloba-multi-media{
	width: 118%;
	.icono-multi{
		
		span.icon-file2{
		
		}

		span.icon-uniE61F{
		
		}

		span:nth-child(2){
		
		}
	}

	.botones-multi{
		
		a, label{
			
			span{
			
			}
		}

		label.actualizar{
			
			
		}

		a.eliminar{
			
			span{
			
			}
		}
	}
}



.texto-intermedio{
	font-size: 1.3em;
}


#editar-proy,#cancelar-editar{
	margin-right: 7%;
	margin-left: 7%;
	font-size: 1.2em;
}





/* -------------------------
*  PERFILES - NOTIFICACIONES
*  ------------------------- */

.no-hay-recibidos, .no-hay-enviados{
	margin-top: -64px;
	background-position: 50% -3%;
}


#sin-mensajes-recibidos{
	h1{
		font-size: 2.5em;	
	}
	p{
		font-size: 1.4em;
		&.compartir{
			font-size: 1.5em;			
		}
	}
}


.capa-notificaciones{
	
	.capa-recibir{
		text-align: right;
		margin-bottom: 74px;
		.btn_notificaciones{
			width: 22%;
			padding-bottom: 2.5%;
			font-size: 1.2em;
			text-align: center;

			&:nth-child(1){
	
			}

			&:nth-child(2){
	
			}
		}
	}
}


.activo-recibidos{
	&::before{
		
	}
}


.activo-enviados{
	&::before{
		
	}
}


.engloba-entidades{
	min-height: 700px;
	label{
		
		&:hover{
		
		}

		&[for="empresa-recib"]{
		
		}

	}	
}


.capa_mensajes{
	
		.engloba-mensaje{		
			


			&.contrae{
				height: 137px;
				overflow: hidden;
			}

			.maqueta-notif{
				
				&:nth-child(1){
					.mensaje{
						time{
							position: absolute;
							top: 5px;
							right: 41px;
							
						}
					}

				}
				.mensaje{
		
					h3{
						font-size: 1.3em;
					}
		
					p{
						font-size: 1.1em;
						margin-top: 1em;
					}
		
					time{
						&.coloca-fecha{
							position: absolute;
							top: 5px;
							right: 41px;
							font-size: 1em;
						}
					}

				}

			}

			form{
			
				textarea{
					height: 130px;
				}

				input[type="submit"]{
								
					&:hover{
			
					}
				}
			}
		}
}


.sin-leer{
	
	h1{
	
	}
	p{
	
	}
	time{

	}
}




/* --------------------------
----- PÁGINA SERVICIOS
----------------------------- */

#todos-servicios{
	padding-bottom: 100px;

	.envoltorio > .un-servicio{
		&:nth-child(3), &:nth-child(2){
			min-height: 300px;
		}

	}
}

.un-servicio{
	min-height: 280px;
	span{

	}

	p{
		font-size: 1em;
	}

	a, h1{

	}
}



.icono-base-datos{

}

.icono-promocion{
	
}

.icono-networking{
	
}

.icono-negociacion{
	
}

.icono-asesoramiento{
	
}

.icono-coaching{
	
}






/* --------------------------
----- SLIDERS WEB 
----------------------------- */
#slider-wrapper {

}

/* Contenedor slider */
#slider, #slider-fijo { 
	//height: 310px;	
	height: 219px;
}

#slider > a {

}

/* Ajuste de las imágenes */
#slider img {
	height: 219px;
}

#slider figcaption,  #slider-fijo .mensaje-foto {
	bottom: 45px;
	h1{		
	
	}
	h4, h3, h2, p{				
	}
}


/* Flechas de navegación */
a.mas, a.menos {

}

a.mas {

}



/* ------------------------------------------------------------------ */
/*  ------------------ TALENTO EMPRESAS ----------------------------- */ 
/* ------------------------------------------------------------------ */

#todos-expertos{
	&.arriba-padd{
		
	}
}

.un-proyecto{
	
	.icono-idea{
		
	}

	.capa-form{
		float: none;
		textarea{
			
		}

		.envio_contacto{
			bottom: 0;
		}
	}
}

.almacena{
	
}

.capa-proyecto{
	

	.inserta-categoria{
		
	}

	h1{
		
	}

	.fecha{
		font-size: 0.9em;
	}

	.almacena{
		
	}

	p{
		
	}

	.multimedia{
		/*.docu-proyecto, .video-proyecto{			
			padding-bottom: 0;
			height: 83px;
			div{
				height: 83px;
			}
		}

		.docu-proyecto{
			width: 56px;
			div{
				background-size: 64px 87px;
			}
		}

		.video-proyecto{
			width: 94px;
			
			div{
				height: 81px;
				&:before{
					border-left-width: 17px;
					border-top-width: 8px;
					border-bottom-width: 9px;
					top: 40%;
				}
			}
		}*/
	}

	.keywords{
		font-size: 0.85em;
		margin-top: 20px;
		&:before{
			content: '';
		}
	}
}		

.persona-proy{
	
	img{

	}

	h3{

	}

	p{

	}

	.almacena{

	}
}

.engloba-enlaces-empresas{
	/*width: 40%;
	margin-left: 60%;
	a, div{
		
	}*/
}

#boton-perso-config{
	margin-left: 7px;
	margin-top: 0;
}



.talento-proyecto, .talento-ideas{
	ol{
		
		li{
			font-size: 1em;
			
			a{
				
			}
		}
	}
}

.iconos-proyectos{
	
	

	span{
		
		font-size: 1.1em;
	}
}



/* ----------------------------
-- CONFIGURAR EMPRESA
------------------------------- */


.configurar-empresa{
	h2, h3{
		
	}

	h3{
		margin-top: 5%;

		&.margen-alto{
			
		}
	}

	#especialidades{
		li{
			
			
		}
	}
	
	div.secciones{
		
		div.tabla{
			label{
				

			}
		}

		input{
			font-size:18px;
			
			
		}
	}

	#engloba-temas{
			
	}

	

	

	#ayuda-pass{
		
		.icono{
			
		}
		ul{

			li{
				
				span{
					
				}
			}
		}
	}

	p.error{
		
	}
}


.newsletter-empresa{	
	margin: -25px auto 25px !important;
}


.mensaje-negocio-msj{
	
	p.resalta-corporativo-fuerte, p{
		
	}

	#para-aloonida, #seguir-mensaje{
		width: 41%;
		line-height: 2.5em;
		margin-right: 3%;
	}

	#para-aloonida{
		//margin-left: 17%;
	}

	#seguir-mensaje{
		
	}
}

.escribe-a-aloonida{
	

	h3{
		
	}

	.envio_contacto{
		
	}

	span{

	}

	textarea{
		
	}
}


/* -------------------------------
-- PORTADA NUEVA
---------------------------------- */

.fechita{
	
	p{
	
	}

	span{
	
	}
}

#video_portada{
	

	video{
	
	}
}

#texto-video{
	//margin-top: 22px;


	p{
		font-size: 3em;
	}

	h2{
		font-size: 2.2em;
	}

	h1{
		font-size: 2.8em;
		span{
	
		}
	}
}

#logo-final{
	
}


/* --------------------------
-- ANIMACIONES 
----------------------------- */


/* Chrome, Safari, Opera */
/*@-webkit-keyframes rota_logo
{
/*from {.rotate(0deg);}
to {.rotate(360deg);}*/
/*0%   {.rotate(0deg);}
50%  {.rotate(360deg);}
/*70%  {.rotate3D(0, 1, 0, 250deg) ;}
80%  {.rotate3D(0, 1, 0, 360deg) ;}*/
/*75%  {.rotate(20deg);}
100% {.rotate(360deg);}
}

/* Standard syntax */
/*@keyframes rota_logo
{
0%   {.rotate(0deg);}
50%  {.rotate(360deg);}
/*70%  {.rotate3D(0, 1, 0, 250deg) ;}
80%  {.rotate3D(0, 1, 0, 360deg) ;}*/
/*75%  {.rotate(20deg);}
100% {.rotate(360deg);}
}


/* Chrome, Safari, Opera */
/*@-webkit-keyframes londinense
{
/*from {.rotate(0deg);}
to {.rotate(360deg);}*/
/*0%   {.translate(0,0px);

		}
45%  {.translate(0,50px);
		}
100% {.translate(0,-40px);}*/

/*0%   {-webkit-transform : rotate(0deg) translate(0, 0px);
-moz-transform : rotate(0deg) translate(0, 0px);
-ms-transform : rotate(0deg) translate(0, 0px);
-o-transform : rotate(0deg) translate(0, 0px);
transform : rotate(0deg) translate(0, 0px);

		}
45%  {-webkit-transform : rotate(360deg) translate(0, 50px);
-moz-transform : rotate(360deg) translate(0, 50px);
-ms-transform : rotate(360deg) translate(0, 50px);
-o-transform : rotate(360deg) translate(0, 50px);
transform : rotate(360deg) translate(0, 50px);
		}
100% {-webkit-transform : rotate(360deg) translate(0, -40px);
-moz-transform : rotate(360deg) translate(0, -40px);
-ms-transform : rotate(360deg) translate(0, -40px);
-o-transform : rotate(360deg) translate(0, -40px);
transform : rotate(360deg) translate(0, -40px) }
}

/* Standard syntax */
/*@keyframes londinense
{

0%   {-webkit-transform : rotate(0deg) translate(0, 0px);
-moz-transform : rotate(0deg) translate(0, 0px);
-ms-transform : rotate(0deg) translate(0, 0px);
-o-transform : rotate(0deg) translate(0, 0px);
transform : rotate(0deg) translate(0, 0px);

		}
45%  {-webkit-transform : rotate(360deg) translate(0, 50px);
-moz-transform : rotate(360deg) translate(0, 50px);
-ms-transform : rotate(360deg) translate(0, 50px);
-o-transform : rotate(360deg) translate(0, 50px);
transform : rotate(360deg) translate(0, 50px);
		}
100% {-webkit-transform : rotate(360deg) translate(0, -40px);
-moz-transform : rotate(360deg) translate(0, -40px);
-ms-transform : rotate(360deg) translate(0, -40px);
-o-transform : rotate(360deg) translate(0, -40px);
transform : rotate(360deg) translate(0, -40px) }

}
/*0%   {.translate(0,0px);}
5%   {.translate(0,20px);}
10%   {.translate(0,30px);}
15%   {.translate(0,40px);}
20%   {.translate(0,50px);}
25%   {.translate(0,20px);}
30%   {.translate(0,30px);}
35%   {.translate(0,40px);}
40%   {.translate(0,50px);}
45%  {.translate(0,20px);}
100% {.translate(0,-40px);}*/



/* Chrome, Safari, Opera */
/*@-webkit-keyframes onda
{

0%   {-webkit-transform : rotate(0deg) translate(0px, 0px);
-moz-transform : rotate(0deg) translate(0px, 0px);
-ms-transform : rotate(0deg) translate(0px, 0px);
-o-transform : rotate(0deg) translate(0px, 0px);
transform : rotate(0deg) translate(0px, 0px);}

20%   {-webkit-transform : rotate(5deg) translate(140px, 28px) scale(0.5);
-moz-transform : rotate(5deg) translate(140px, 28px) scale(0.5);
-ms-transform : rotate(5deg) translate(140px, 28px) scale(0.5);
-o-transform : rotate(5deg) translate(140px, 28px) scale(0.5);
transform : rotate(5deg) translate(140px, 28px) scale(0.5);}

40%   {-webkit-transform : rotate(-10deg) translate(250px, 0px) scale(0.8);
-moz-transform : rotate(-10deg) translate(250px, 0px) scale(0.8);
-ms-transform : rotate(-10deg) translate(250px, 0px) scale(0.8);
-o-transform : rotate(-10deg) translate(250px, 0px) scale(0.8);
transform : rotate(-10deg) translate(250px, 0px) scale(0.8);}

60%   {-webkit-transform : rotate(0deg) translate(350px, 28px) scale(0.6);
-moz-transform : rotate(0deg) translate(350px, 28px) scale(0.6);
-ms-transform : rotate(0deg) translate(350px, 28px) scale(0.6);
-o-transform : rotate(0deg) translate(350px, 28px) scale(0.6);
transform : rotate(0deg) translate(350px, 28px) scale(0.6);}

80%   {-webkit-transform : rotate(0deg) translate(250px, 0px);
-moz-transform : rotate(0deg) translate(250px, 0px);
-ms-transform : rotate(0deg) translate(250px, 0px);
-o-transform : rotate(0deg) translate(250px, 0px);
transform : rotate(0deg) translate(250px, 0px);}

90%   {-webkit-transform : rotate(0deg) translate(140px, 28px);
-moz-transform : rotate(0deg) translate(140px, 28px);
-ms-transform : rotate(0deg) translate(140px, 28px);
-o-transform : rotate(0deg) translate(140px, 28px);
transform : rotate(0deg) translate(140px, 28px);}

100%   {-webkit-transform : rotate(0deg) translate(0px, 0px);
-moz-transform : rotate(0deg) translate(0px, 0px);
-ms-transform : rotate(0deg) translate(0px, 0px);
-o-transform : rotate(0deg) translate(0px, 0px);
transform : rotate(0deg) translate(0px, 0px);}
/*
60%   {-webkit-transform : rotate(0deg) translate(0, 0px);
-moz-transform : rotate(0deg) translate(0, 0px);
-ms-transform : rotate(0deg) translate(0, 0px);
-o-transform : rotate(0deg) translate(0, 0px);
transform : rotate(0deg) translate(0, 0px);}

70%   {-webkit-transform : rotate(0deg) translate(0, 0px);
-moz-transform : rotate(0deg) translate(0, 0px);
-ms-transform : rotate(0deg) translate(0, 0px);
-o-transform : rotate(0deg) translate(0, 0px);
transform : rotate(0deg) translate(0, 0px);}

80%   {-webkit-transform : rotate(0deg) translate(0, 0px);
-moz-transform : rotate(0deg) translate(0, 0px);
-ms-transform : rotate(0deg) translate(0, 0px);
-o-transform : rotate(0deg) translate(0, 0px);
transform : rotate(0deg) translate(0, 0px);}

90%   {-webkit-transform : rotate(0deg) translate(0, 0px);
-moz-transform : rotate(0deg) translate(0, 0px);
-ms-transform : rotate(0deg) translate(0, 0px);
-o-transform : rotate(0deg) translate(0, 0px);
transform : rotate(0deg) translate(0, 0px);}

100% {-webkit-transform : rotate(0deg) translate(0, 0px);
-moz-transform : rotate(0deg) translate(0, 0px);
-ms-transform : rotate(0deg) translate(0, 0px);
-o-transform : rotate(0deg) translate(0, 0px);
transform : rotate(0deg) translate(0, 0px);}
*/
/*
}*/

/* Standard syntax */
/*@keyframes onda
{

0%   {-webkit-transform : rotate(0deg) translate(0px, 0px);
-moz-transform : rotate(0deg) translate(0px, 0px);
-ms-transform : rotate(0deg) translate(0px, 0px);
-o-transform : rotate(0deg) translate(0px, 0px);
transform : rotate(0deg) translate(0px, 0px);}

20%   {-webkit-transform : rotate(5deg) translate(140px, 28px) scale(0.5);
-moz-transform : rotate(5deg) translate(140px, 28px) scale(0.5);
-ms-transform : rotate(5deg) translate(140px, 28px) scale(0.5);
-o-transform : rotate(5deg) translate(140px, 28px) scale(0.5);
transform : rotate(5deg) translate(140px, 28px) scale(0.5);}

40%   {-webkit-transform : rotate(-10deg) translate(250px, 0px) scale(0.8);
-moz-transform : rotate(-10deg) translate(250px, 0px) scale(0.8);
-ms-transform : rotate(-10deg) translate(250px, 0px) scale(0.8);
-o-transform : rotate(-10deg) translate(250px, 0px) scale(0.8);
transform : rotate(-10deg) translate(250px, 0px) scale(0.8);}

60%   {-webkit-transform : rotate(0deg) translate(350px, 28px) scale(0.6);
-moz-transform : rotate(0deg) translate(350px, 28px) scale(0.6);
-ms-transform : rotate(0deg) translate(350px, 28px) scale(0.6);
-o-transform : rotate(0deg) translate(350px, 28px) scale(0.6);
transform : rotate(0deg) translate(350px, 28px) scale(0.6);}

80%   {-webkit-transform : rotate(0deg) translate(250px, 0px);
-moz-transform : rotate(0deg) translate(250px, 0px);
-ms-transform : rotate(0deg) translate(250px, 0px);
-o-transform : rotate(0deg) translate(250px, 0px);
transform : rotate(0deg) translate(250px, 0px);}

90%   {-webkit-transform : rotate(0deg) translate(140px, 28px);
-moz-transform : rotate(0deg) translate(140px, 28px);
-ms-transform : rotate(0deg) translate(140px, 28px);
-o-transform : rotate(0deg) translate(140px, 28px);
transform : rotate(0deg) translate(140px, 28px);}

100%   {-webkit-transform : rotate(0deg) translate(0px, 0px);
-moz-transform : rotate(0deg) translate(0px, 0px);
-ms-transform : rotate(0deg) translate(0px, 0px);
-o-transform : rotate(0deg) translate(0px, 0px);
transform : rotate(0deg) translate(0px, 0px);}


}*/