/*------------------------------------*\
    $BREAKPOINT_4 INT
\*------------------------------------*/
/*
 * Estilos que entrarán en el breakpoint basado en la variable @bp4
 */

 #loguito{
	max-width: 29%;
	width: 26%;
	/*margin-top: 81px;*/
	margin-top: 102px;
	margin-right: 5%;
	a{
		img{

		}
	}
}

#texto-cabeza{
	width: 69%;
	margin-top: 54px;
	h1{
		
	}
	h2{
			
	}
}

/* --------------------------
----- SLIDERS WEB 
----------------------------- */
#slider-wrapper {

}

/* Contenedor slider */
#slider, #slider-fijo { 
	height: 275px;	
}

#slider > a {

}

/* Ajuste de las imágenes */
#slider img {
	height: 275px;	
}

#slider figcaption,  #slider-fijo .mensaje-foto {	
	//bottom: 110px;
	h1{		
		font-size: 2.9em;
	}
	h4, h3, h2, p{
		font-size: 1.8em;	
		width: 77%;			
	}
}

/* Flechas de navegación */
a.mas, a.menos {
	top: 48%;
	bottom: auto;
	left: 10px;
}

a.mas {
	right: 10px;
	left: auto;
}

section#explicacion{

	#averigua{
		top: -75px;
		a{

		}
	}
}

.maqueta-form{
	textarea{
	
		&#abstract{
			max-height: 470px;
		}
	}
}




#cerrar-exp, #cerrar-est, #cerrar-idioma, #cerrar-exp-nuevo{
	right: 39%;
}


/* --------------------------
----- CONFIGURACIÓN
----------------------------- */
.datos-user-config{
	text-align: left;
	padding-left: 40px;
	h1{		
		text-align: left;
	}
	.biografia{
		max-width: 100%;
		textarea{
			margin: 23px 0;
		}	
	}
}




/* -------------------------------
-- PORTADA NUEVA
---------------------------------- */



#texto-video{
	padding-top: 5%;

	p{
		font-size: 4.5em;
	}

	h2{
		font-size: 2.5em;
	}

	h1{
		font-size: 3.6em;
		span{

		}
	}
}


#menu-principal{
	width: 560px;
	ul{
		
		li{
			&:nth-child(1){
				width: 16%;
			}
			
			&:nth-child(2){
				width: 33%;
			}

			&:nth-child(3){
				width: 24%;
			}

			&:nth-child(4){
				width: 27%;
			}

			a{
				font-size: 20px;
			}
		}
	}
}

#logo-final{
	margin-left: 0px;
	max-width: 360px;
}

.margen-principal{
	//margin-top: 40% !important;
	margin-top: 371px !important;
}

.margen-principal-flechita{
	margin-top: 36% !important;	
}