/*------------------------------------*\
    $BREAKPOINT_5
\*------------------------------------*/
/*
 * Estilos que entrarán en el breakpoint basado en la variable @bp5
 */
header.cabeza{
	padding: 2% 0;
}
 #loguito{
	//margin-top: 4%;
	margin-top: 65px;
	display: inline-block;
	width: 28%;
	margin-left: 0%;
	margin-right: 3%;
	//max-width: 28%;
	max-width: 303px;
	a{
		img{

		}
	}
}

#texto-cabeza{
	width: 68%;
	//margin-top: 97px;
	margin-top: 58px;
	h1{
		font-size: 3.1em;
	}
	h2{
		//font-size: 2.5em;
	}
}


#capa-logo{
	width: 30%;
	& > a{
		margin: 0 0 0 42px;
	}
}


#menu-principal{
	ul{		
		li{
			width: 29%;
		}
	}
}

/* -----------------------
*  PORTADA
* ------------------------ */

.caption{
	bottom: -35% !important;
	p{
		font-size: 1.4em !important;
	}
}

section#principal{
	//padding: 0%;
	#capa-aloonida{
		img{
			top: 110px;
		}
	}

	.envoltorio{
		div.boton_persona{
			img{
				height: 247px;
			}
		}
	}
}

section#frase{
	padding: 29px 15px;
}

.fondo{
	figure{
		height: 247px;				
	}
	.conectar{
		a{
			bottom: 17px;
		}
		p{
			font-size: 1.55em;
		}
	}
	/*.rumi{
		padding: 4.5% 4%;
		h2{
			font-size: 1.4em;
		}
	}*/
	/*&.color-estudiantes{
		.conectar{
			p{
				padding: 0 10%;
			}
		}
	}*/
}


section#principal{
	.envoltorio{
		
		#capa-aloonida, #capa-mejoramos{
			height: 247px;
		}	

		#capa-mejoramos{
			img{
				height: 247px;
			}
		}	

		& div.boton_persona{
			height: 247px;
		}
	}
}




/* -----------------------
*  MEJORAMOS POR TI
* ------------------------ */
.mejoramos{
	
	h1{
		font-size: 2.5em;		
	}
	p{
		font-size: 1.6em;
		padding: 0 10%;

		&:nth-child(3){

		}
	}

	.fondo-form{
		
	}
	
	form{

		width: 64%;
		max-width: 700px;
		

		input, textarea{
			
			

			&#enviar{
				
			}
		}
	}
	
}



 /* -----------------------
*  LOGIN
* ------------------------ */
section#login{
	
	#capa-titulo-login{
		h1{
		}
		p{
			font-size: 22px;
		}
	}

	#capa-formularios{
		
		.individual{
			
			

		
			h2{
				font-size: 22px;
				
			}

			
		}
	}
}

section#miembro{
	
	p{
		span.grande{
			margin-right: 22px;			
		}
	}
}




/* -------------------------
*  REGISTRO ESTUDIANTES
*  ------------------------- */

section#explicacion{
	


	.texto{
		p{

		}
	}

	#averigua{
		
		a{

		}
	}
}

#registro{
	
	#persona{
		h2{

		}
	}

	#pfc{
		#seleccion{
			h2{

			}


		}
	}
}

#seleccion-insertando{
	.maqueta-checkbox{
		width: 74%;
		p{
			font-size: 26px;
		}
	}	
}



.maqueta-checkbox{
	label{
		input{

		}
	}

	#datos-proyecto{

	}
	p{
		font-size: 34px;
	}
}

.cerrar{
	/*position: absolute;
	top: 0px;
	right: 0px;*/


}






/* -------------------------
*  PERFILES - ELEMENTOS COMUNES (TOP, MENÚ, ETC)
*  ------------------------- */

#mensaje_inicial{

	p{				
		font-size: 1.4em;
	}
}


.top-perfil{
	figure{
		img{

		}
	}

}



.menu-perfiles{
	//background: @background_top;
	
	ul{
		li{
			a{
				span{

				}

				&:hover{

				}
			}
		}
	}
}

.cabeza-perfil{
	figure{
		width: 16%;
		img{

		}
	}
}



.datos-user{
	width: 82%;
	h1{
		
	}
	.biografia{

	}
	.etiquetas-user{

	}
	.permanencia{
		p{
			span{

			}
		}
		a{

		}
	}
	.curri{
		a{

		}
	}
}

section.proyectos, section.ideas{
	article{
		.titulo_pfc{

		}
		.fecha{

		}

		.cuerpo{
			p{
				.inline-block(70%, top, 0 1.5% 0 0);
				margin-right: 2%;
			}
			.multimedia{
				.inline-block(27%, top, 29px 0 0);
				margin-top: 33px;
				max-width: 290px;
			}
		}

		footer{
			.keywords{
				width: 65%;
			}
			.ir-a{
				width: 39%;
				a{

				}
			}
		}

		.tengo{

		}
	}
}

.cabeza-proyecto{
	h1{
		
	}
	a.anhadir{

	}
}

.docu-proyecto{
	margin-left: 10px;
	a{
		height: 115px;
	}
	.icono-multi{
		background-size: 97px 128px;
		height: 143px;
		background-image: url('../img/imagen_doc_grande.png');
	}
}


.idea_sin_validar, .proy_sin_validar{

	.icono-multi{
		background: url(../img/imagen_doc_negativa_grande.png) no-repeat top;	
		background-size: 97px 128px;	
	}
	
}


.video-proyecto{	
	width: 60%;
	margin-top: -4px;
}

.icono-video{
	height: 129px;

	&.unico{
		height: 151px;
	}
	/*&:before{
		content:"";
		border-left: 30px solid @background_top;
		border-top: 17px solid transparent;
		border-bottom: 17px solid transparent;
		top: 40%;		
	}*/
}



.docu-proyecto-solo{
	/*margin: 15px 31px 0 0;*/
	margin: 0 31px 0 0;
	width: 100%;
	.icono-multi{
		/*background-size: 131px 171px;*/
		background-size: 100px 116px;
		/*height: 173px;*/
		height: 119px;
		background-image: url('../img/imagen_doc_grande.png');
	}
	a{
		height: 100px;
	}
}

.idea_sin_validar{
	.docu-proyecto-solo{
		/*margin: 15px 31px 0 0;*/
		margin: 0 31px 0 0;
		width: 100%;
		.icono-multi{
			/*background-size: 131px 171px;*/
			background-size: 100px 116px;
			/*height: 173px;*/
			height: 119px;
			background-image: url('../img/imagen_doc_negativa_grande.png');
		}
	}	
	.docu-proyecto{
		.icono-multi{
			background-image: url('../img/imagen_doc_negativa_grande.png');
		}
	}
	a{
		height: 100px;
	}
}


.video-proyecto-solo{
	margin-left: 11%;
	
}

.enlaces{
	max-width: 355px;
}

/* -------------------------
*  PERFILES - CONFIGURACIÓN
*  ------------------------- */

#configurando{
	
	div{	

		img{
			width: 180px;
			height: 180px;
			margin-top: -3px;
		}

		
		
	}

}


/* -------------------------
*  PERFILES - VER PERFILES 
*  ------------------------- */

.buscador{
	height: 350px;
	#texto-buscador{		
		padding-top: 4%;
	}
}

.engloba-persona{	
	padding: 27px 0 1.5% 3%;
}


.superior{
	figure{	
		height: 130px;			
		width: 130px;
		margin-top: 22px;
		img{			
			height: 130px;
		}
		
		.sin-foto{
			padding-top: 54px;
			height: 130px;			
			width: 130px;
		}
	}
}


.sin-foto{						
	padding: 52px 0 0;
	height: 130px;			
}

.personal{
	width: 71%;
	h1{
		font-size: 1.8em;		
	}
	.descripcion{
		
	}
}

.num-proyectos{
	top: -11px;
	padding: 34px 11px 21px;
	&.sin-proyectos{
		height: 60px;
		width: 120px;	
	}
	span{
		width: 60px;
		height: 60px;
		background: url('../img/spriteideaproy.png') no-repeat;
		background-position: 0px 0;	

		&.soy-estudiante{
			&:hover:before{
				height: 41px;
			}

			&:hover:after{
				top: -3px;
				left: -3px;
				height: 48px;
			}	
		}
		
		&.soy-experto{
			&:hover:before{				
				height: 41px;				
			}

			&:hover:after{				
				height: 48px;
				top: -3px;
				left: -3px;
			}	
		}	

		&.sprite-proy{
			background-position: -62px 0;	
		}
	}


}



.inferior{
	.capa-form{

		.mensaje-negocio-msj{
			#para-aloonida, #seguir-mensaje{
				max-width: 30%;
			}

			#para-aloonida{
				margin-left: 33%;
			}
		}
	}
}

.capa-form{
	/**float: right;
	width: 83%;*/
	&::before{
	
	}
	&::after{
		
	}
	textarea{
	
	}
	
	.envio_contacto{
	
	}
}




#sin_informacion{
	padding: 1.5% 0 3%;
	p{
		&:nth-child(1){
			font-size: 3.2em;			
		}		
		font-size: 1.8em;
		max-width: 91%;		
	}	
}

.informacion{
	width: 83.5%;
	font-size: 1em;
}


/* -------------------------
*  PERFILES - NOTIFICACIONES
*  ------------------------- */


.capa-notificaciones{
	
	.capa-recibir{
	
		.btn_notificaciones{
	
			&:nth-child(1){
	
			}

			&:nth-child(2){
	
			}
		}
	}
}


.activo-recibidos{
	&::before{
		
	}
}


.activo-enviados{
	&::before{
		
	}
}


.engloba-entidades{
	min-height: 900px;
	label{
		
		&:hover{
		
		}

		&[for="empresa-recib"]{
		
		}

	}	
}


.capa_mensajes{
	
		.engloba-mensaje{	
			&.contrae{
				height: 165px;
			}	
			.maqueta-notif{
				.mensaje{
		
					h3{
						font-size: 1.5em;
					}
		
					p{
						font-size: 1.2em;
					}
		
					time{
						font-size: 1em;
					}

					span.eliminar{
						padding: 5px 7px 5px  5px;
						font-size: 23px;
					}

				}
			}
			form{
			
				textarea{
					
				}

				input[type="submit"]{
					width: 162px;
					font-size: 1em;
					&:hover{
			
					}
				}
			}
			
		}
}


.sin-leer{
	
	h1{
	
	}
	p{
	
	}
	time{

	}
}


/* -------------------------
*  PERFILES - ESTADÍSTICAS
*  ------------------------- */

.visitas-perfil{
	.engloba-estadisticas{
		input[type="radio"]{
			.hidden();
		}
		.estadisticas{
			article{
				h1{

				}
				p{

				}

				.grafico{

				}
			}
		}
	}
}



/* ---------------------------------
*  PERFILES - CURRICULUM
*  --------------------------------- */
#curriculum{
	
	.clase1, .clase2,
	.clase3, .clase4,
	.clase5{
		max-width: 588px;
		margin: 0 0 -66px 30px;
	}
	
	.clase1{
		

		img{
			
		}
	}

	.clase2{
		width: 34%;
		vertical-align: top;
		left: 6%;
		top: -18px;
	}

	.clase3{		
		top: 216px;
		left: -98px;
		width: 42%;
		max-width: 470px;
		.circulo div{
			padding-top: 28%;
		}
	}

	.clase4{
		width: 41%;		
		top: 113px;
		left: 55%;
		max-width: 450px;
	}

	.clase5{
		top: 74px;
		left: 41%;
		margin-bottom: 140px;
		max-width: 378px;
		.circulo{
			div{
				
			}
		}
	}
}

.circulo{
    div{
		 

	    p, h2{
	    	
	    }

	    p{
	    	
	    }
    }
}


.impar{	
	margin-top: 10px;
	margin-bottom: 10px;
}

.par{	
	margin-top: 10px;
	margin-bottom: 10px;	
}


.conoce{
	top: 659px;
	&:after{
		&:hover{
	
		}
	}

	&:hover &:after{
	
	}

	div{
	
	}
}

#todo-curriculum{
	//min-height: 1100px;
	#curriculum{
		padding-top: 50px;
		padding-left: 45px;
		min-height: 1250px;
	}
}


.con-foto{
	left: -121px;
	margin: 0 0 -56px !important;	
}



.maqueta-inline{

	label{
		&:after{
		    top: 5px;
		    right: -4px;
		}
	}
}



.tabla-curri{
	.ayuda{
		font-size: 18px;
	}

	label{
		font-size: 18px;
		
		select{
			font-size: 18px;
			option{
				font-size: 18px;
			}
		}
	}

	input{
		font-size: 18px;
		.placeholder(@background_top, 18px);
	}
	textarea{
		
		font-size: 18px;
		.placeholder(@background_top, 18px);
	}

	div.fecha-exp{
		max-width: 185px;
		input{
			&[type="checkbox"]{

			}
		}
	}

	select{
		option{

		}
	}
}




/* --------------------------
----- PÁGINA SERVICIOS
----------------------------- */

#encabezado-servicio{

	h1{
		font-size: 5em;
	}

	h3{
		font-size: 1.8em;
	}	
}

#todos-servicios{
	.envoltorio > .un-servicio{
		&:nth-child(3){
			background: @color-negociacion;

			span{
				margin-top: 50px;
			}

			a{
				background: @color-negociacion;
			}
		}
	}
}

.un-servicio{
	background: @color-servicios;
	overflow: hidden;
	//.transition(all 0.4s);
	
	span{
		background: url('../img/sprite_iconos_servicios_180.png') no-repeat 0px -174px;
		width: 180px !important;
		height: 180px  !important;
		position: relative;
		z-index: 500;
		margin-top: 7px;
		//.transition(all 0.2s);
	}

	p{
		.opacity(0);
		.transition(all 0.8s);
		//display: none;
		.translate(0,150px);
		padding: 0 10%;
	}

	a, h1{
		font-size: 2.3em;
		padding: 10px 11px 10px 35px;
	}

	&:nth-child(1){
		span{
			width: 175px !important;	
		}
		
	}

	&:nth-child(1), &:nth-child(2){		
		width: 35%;
		height: 295px;


	}

	&:nth-child(2){
		width: 64%;
	}

	&:nth-child(4){
		height: 316px;
		span{
			margin-top: 22px;
		}

		/*&.emp-serv{
			width: 99.5%;
		}*/
	}


	&.emp-aseso{
		height: 344px;
	}

	&.emp-serv{
		span{
			display: block;
			margin: 25px auto;
		}

		p{
			width: 100%;
			display: block;
		}
	}

	&:nth-child(5){
		height: 273px;
	}

	&:hover{
		background: @white !important;
		p{			
			.opacity(1);
			display: block;
			.translate(0,0px);
		}

		span{
			background:  url('../img/sprite_iconos_servicios_85.png') no-repeat 0px 0px;
			width: 85px  !important;
			height: 85px  !important;

			&.icono-base-datos{
				width: 83px !important;
				margin-bottom: -10px;
			}

			&.icono-promocion{
				background-position-x:-85px !important;	
			}

			&.icono-networking{
				background-position-x:-170px !important;
				margin-bottom: -16px;
			}

			&.icono-negociacion{
				background-position-x:-255px !important;
			}

			&.icono-asesoramiento{
				background-position-x:-340px !important;
			}

			&.icono-coaching{
				background-position-x:-425px !important;
			}

			&.icono-newsletters{
				background-position-x:-600px !important;
			}

			&.icono-negociacion-empresa{
				background-position-x:-513px !important;
			}


		}
		
		a{
			span{
				
				.translate(0, 0);
				display: inline !important;
				margin: 0 !important;
				width: auto !important;
				height: auto !important;
				background: none !important;
			}
		}

	}
}



.icono-base-datos{
	width: 173px !important;
}

.icono-promocion{
	background-position-x:-177px !important;	
}

.icono-networking{
	background-position-x:-360px !important;
}

.icono-negociacion{
	background-position-x:-540px !important;
}

.icono-asesoramiento{
	background-position-x:-720px !important;
}

.icono-coaching{
	background-position-x:-900px !important;
}

&.icono-newsletters{
	background-position-x:-1267px !important;
}

&.icono-negociacion-empresa{
	background-position-x:-1085px !important;
}







/* --------------------------
----- SLIDERS WEB 
----------------------------- */
#slider-wrapper {

}

/* Contenedor slider */
#slider, #slider-fijo { 	
	height: 305px;	
}

#slider > a {

}

/* Ajuste de las imágenes */
#slider img {
	height: 305px;	
}

#slider figcaption,  #slider-fijo .mensaje-foto {
	width: 80%;
	//top: 115px;
	top: 66px;
	bottom: auto;
	h1{		
		font-size: 3.2em;
	}
	h4, h3, h2, p{
		font-size: 1.9em;				
	}
}

/* Flechas de navegación */
a.mas, a.menos {
left: 30px;
display: block;
}

a.mas {
	right: 30px;
	left: auto;
}


/*--------------------*/
/* Diamond */
/*--------------------*/

.mas .icon-wrap, .menos .icon-wrap{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.mas div, .menos div {
	position: absolute;
	overflow: hidden;
	width: 50px;
	height: 50px;
	background: rgba(255,255,255,0.5);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	top: -3px;
	left: -1px;
	.opacity(0);
}

.mas div{
	left: -7px;
}

.mas:hover , .menos:hover{
	background: none;
}

.mas:hover div {
	-webkit-transform: scale(1) rotate(-45deg);
	transform: scale(1) rotate(-45deg);
	.opacity(1);
}

.menos:hover div {
	-webkit-transform: scale(1) rotate(45deg);
	transform: scale(1) rotate(45deg);
	.opacity(1);
}




#cerrar-exp, #cerrar-est, #cerrar-idioma, #cerrar-exp-nuevo{
	right: 0;
}



.una-experiencia, .nueva-experiencia, .un-estudio, .nuevo-estudio, .un-idioma, .nuevo-idioma{
	max-width: 552px;
}

.engloba-input, .engloba-botones{
	width: 100%;
	max-width: 500px;
}



.tabla-curri{
	.ayuda{
		
		top: 43px;
		
	}

	label{
	

		&[for="actualmente"], &[for='actualmente_titulo']{
			///font-size: 16px;
		}
		
		&[for="permiso_conducir"], &[for="vehiculo"]{
			

			input{
				
			}
		}

		&[for="tipo_educacion"], &[for="tipo_idioma"]{
			
			width: 100%;
			max-width: 500px;

			select{
				

			    option{
			    	
			    }
			}
		}
	}

	input{
		

		
	}
	textarea{
		

	

	}

	div.fecha-exp{
		max-width: 234px;
		width: 50%;

		input{
			
			
		}
	}

	select{

		option{

		}
	}

	
}




.cabeza-curri-edit{
	padding: 3% 0;
	form{
	
		#nueva-imagen{
		
			img{
				width: 230px;
				height: 230px;
			}

			label{
				width: 230px;
				height: 230px;
				left: 102px;
				max-width: 230px;
				span{
					font-size: 1.5em;
				}
			}

			.sin-foto{
				width: 185px;
				margin: 15px auto 22px;
				font-size: 5em;
				height: 185px;
				padding-top: 75px;
			}
			
		}
	}
	.capa-datos{
		width: 53%;
		h1{
			font-size: 2.2em;
		}
		input{

		}
	}
}


#nivel-completo{
	padding: 6% 0;
}


.label-sin-foto{
	width: 200px !important;
	height: 200px !important;
	left: 78px !important;
	top: -12px !important;
	span{
		&:nth-child(1){
			left: 41% !important;
		}
	}
}



/* ------------------------------------------------------------------ */
/*  ------------------ TALENTO EMPRESAS ----------------------------- */ 
/* ------------------------------------------------------------------ */

#todos-expertos{
	&.arriba-padd{
		padding-top: 5%;
	}
}

.un-proyecto{
	//overflow: hidden;
	//padding-top: 28px;
	margin-bottom: 66px;
	.icono-idea, .icono-proy{
		width: 55px;
		height: 55px;
		background-size: 224px 55px;
		top: -23px;
		left: -25px;
	}

	.icono-idea{
		&.soy-experto{
			background-position: -57px 0;
		}
	}

	.icono-proy{
		background-position: -170px 0;
	}

	.capa-form{
		
		textarea{
			
		}

		.envio_contacto{
			
		}
	}
}

.limpia-overflow{
	padding-top: 28px;	
}

.almacena{
	
}

.capa-proyecto{
	width: 71%;

	.inserta-categoria{
		display: block;
	}

	h1{
		font-size: 1.3em;
	}

	.fecha{
		
	}

	.almacena{
		
	}

	p{
		font-size: 1.1em;
	}

	.multimedia{
		.docu-proyecto, .video-proyecto, .docu-proyecto-solo, .video-proyecto-solo{			
			
			div{
				height: 66px;	
			}
		}

		.docu-proyecto, .docu-proyecto-solo{
			a{
				height: 65px;
			}
			div{
				
			}
		}

		.video-proyecto, .video-proyecto-solo{
			height: 87px;
			
			div{
				
				&:before{
					
				}
			}
		}
	}

	.keywords{
		font-size: 0.9em;
	}
}		

.persona-proy{
	
	width: 24%;
	margin-top: -28px;
	img{
		
	}

	h3{
		font-size: 1.1em;
		padding: 0 10px;
	}

	p{
		font-size: 0.85em;
	}

	.almacena{

	}

	div.botones-talento{

		a, div{						
			width: 70%;			
		}
	}
}

.engloba-enlaces-empresas{
	float: right;
	max-width: 330px;
	a, div{
		
	}
}

.enlace-a-usuario{
	overflow: hidden;
}





.mensaje-negocio-msj{
	padding-top: 20px;
	p.resalta-corporativo-fuerte, p{
		padding: 0 4%;
		font-size: 1.2em;
	}	

	#para-aloonida, #seguir-mensaje{
		max-width: 25%;	
	}

	#para-aloonida{
		margin-left: 44%;
	}

	#seguir-mensaje{
		
	}
}

.escribe-a-aloonida{
	

	h3{
		
	}

	.envio_contacto{
		
	}

	span{

	}

	textarea{
		
	}
}





/* -------------------------------
-- PORTADA NUEVA
---------------------------------- */

.flechita{
	bottom: 7%;

	p{
		
	}

	span{
		
	}
}

#video_portada{
	
	video{

	}
}

#texto-video{
	padding-top: 4%;

	p{
		font-size: 4.8em;
	}

	h2{
		font-size: 2.8em;
	}

	h1{
		font-size: 4.4em;
		span{

		}
	}
}

#logo-final{
	max-width: 420px;
}

#menu-principal{
	

	ul{
		
		
	}
}

#menu-total{
	//margin-top: 66px;
}

#top #capa-login{
	
}


.margen-principal{
	//margin-top: 40% !important;
	margin-top: 391px !important;
}