/*------------------------------------*\
    $BREAKPOINT_7
\*------------------------------------*/


section.proyectos, section.ideas{
	article{
		.titulo_pfc{

		}
		.fecha{

		}

		.cuerpo{
			p{
				
			}
			.multimedia{
			
			}
		}

		footer{
			.keywords{
				
			}
			.ir-a{
				padding-right: 3%;
				a{

				}
			}
		}

		.tengo{

		}
	}
}


.maqueta-form{
	textarea{
		&#abstract{
			max-height: 375px;
		}
	}
}



.label-sin-foto{
	width: 216px !important;
	height: 216px !important;
	left: 75px !important;
	top: -16px !important;
}




/* --------------------------
----- SLIDERS WEB 
----------------------------- */

/* Contenedor slider */
#slider, #slider img { 	
	height: 336px;	
}




/* -------------------------------
-- PORTADA NUEVA
---------------------------------- */

.flechita{
	

	p{
		
	}

	span{
		
	}
}

#video_portada{
	
	video{

	}
}

#texto-video{
	//padding-top: 7%;

	p{
		font-size: 5.1em;
		margin-bottom: -25px;
	}

	h2{
		font-size: 3em;
	}

	h1{
		//font-size: 4.2em;
		span{

		}
	}
}

#logo-final{
	
}

#menu-principal{
	

	ul{
		
		
	}
}

#menu-total{
	
}

#top #capa-login{
	
}

.margen-principal{
	margin-top: 434px !important;
}