/*------------------------------------*\
    $BREAKPOINT_6
\*------------------------------------*/
/*
 * Estilos que entrarán en el breakpoint basado en la variable @bp6
 */

 /* -------------------------
*  PERFILES - VER PERFILES 
*  ------------------------- */
.capa-form{
	//width: 83.5%;
	&::before{
	
	}
	&::after{
		
	}
	textarea{
	
	}
	
	.envio_contacto{
	
	}
}


 /* -------------------------
*  PORTADA
*  ------------------------- */

section#principal{
	margin-top: 4%;	
}

section#frase{
	margin-top: 7%;	
}

/*
 #loguito{
 	width: 29%;
 	//max-width: 347px;
 	max-width: 320px;
 	//margin-left: -30px;
 	margin-left: 0px;
 	margin-top: 44px;
	a{
		img{

		}
	}
}

#texto-cabeza{
	//width: 70%;
	margin-top: 54px;
	h1{
		font-size: 3.3em;
	}
	h2{
		
	}
}*/

/* -----------------------
*  LOGIN
* ------------------------ */
section#login{

	#capa-formularios{
		
		.individual{
			
			padding-right: 8%;

			&:nth-child(3){
				padding-right: 8%;
			}
	
			
		}
	}
}

/* --------------------------
----- SLIDERS WEB 
----------------------------- */
#slider-wrapper {

}

/* Contenedor slider */
#slider, #slider img { 
	//height: 440px;	
	height: 386px;
}

#slider > a {
	
}

/* Ajuste de las imágenes */
#slider img {

}

#slider figcaption {
	/*top: 227px;	*/
	top: 124px;	
	position: relative;
	max-width: 1100px;
	h1{		
		font-size: 3.5em;
	}
	h4, h3, h2, p{
		font-size: 2em;				
	}
}

/* Flechas de navegación */
a.mas, a.menos {

}

a.mas {

}

#slider figure{
	overflow: visible;
}


section#explicacion{
	


	.texto{
		p{

		}
	}

	#averigua{
		top: -89px;
		a{

		}
	}
}





/* ------------------------------------------------------------------ */
/*  ------------------ TALENTO EMPRESAS ----------------------------- */ 
/* ------------------------------------------------------------------ */


.persona-proy{
	
	
	img{
		
	}

	h3{
		
	}

	p{
		
	}

	.almacena{

	}

	div.botones-talento{
		width: 98%;
		a, div{						
			display: inline-block;
			width: 49%;
			vertical-align: top;	
		}
	}
}

.engloba-enlaces-empresas{
	
	a, div{
		
	}
}

.enlace-a-usuario{
	
}




/* -------------------------------
-- PORTADA NUEVA
---------------------------------- */

.flechita{


	p{
		
	}

	span{
		
	}
}

#video_portada{
	
	video{

	}
}

#texto-video{


	p{
		
	}

	h2{
		font-size: 3.6em;
	}

	h1{
		font-size: 4.4em;
		span{

		}
	}
}

#logo-final{
	
}

#menu-principal{
	

	ul{
		
		
	}
}

#menu-total{
	
}

#top #capa-login{
	
}

.margen-principal{
	//margin-top: 24% !important;
	margin-top: 444px !important;
}