
/* Contenedor slider */
#slider, #slider img { 	
	height: 425px;
}

/* -------------------------------
-- PORTADA NUEVA
---------------------------------- */

.flechita{


	p{
		
	}

	span{
		
	}
}

#video_portada{
	
	video{

	}
}

#texto-video{


	p{
		font-size: 5.8em;
	}

	h2{
		
	}

	h1{
		
		span{

		}
	}
}
