/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/*
 * Cada Mediaquery se basará en la variable @bp$ e incluirá el archivo bp$.less
 */


@media only screen and (min-width: @bp1) {
	@import "bp1.less";
}

// Break point 1  //////////////////////
@media only screen and (min-width: @bp2) {
	@import "bp2.less";
}
// Break point 1  //////////////////////
@media only screen and (min-width: @bp2int) {
	@import "bp2int.less";
}
// Break point 2  //////////////////////
@media only screen and (min-width: @bp3) {
	@import "bp3.less";
}
// Break point 3  //////////////////////
@media only screen and (min-width: @bp4) {
	@import "bp4.less";
}

// Break point 4 int //////////////////////
@media only screen and (min-width: @bp4int) {
	@import "bp4int.less";
}

// Break point 4  //////////////////////
@media only screen and (min-width: @bp5) {
	@import "bp5.less";
}

// Break point 4  //////////////////////
@media only screen and (min-width: @bp5int) {
	@import "bp5int.less";
}

// Break point 5  //////////////////////
@media only screen and (min-width: @bp6) {
	@import "bp6.less";
}

// Break point 7  //////////////////////
@media only screen and (min-width: @bp7) {
	@import "bp7.less";
}

// Break point x2 --> Retina Display  //////////////////////
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
@import "2x.less"; }
