/*------------------------------------*\
    $FUENTES
\*------------------------------------*/
/*
 * Por defecto incluyo una fuente de icomoon (http://icomoon.io/) 
 * con 5 iconos que se encuentra en la carpeta /fonts.
 * Ve y adàptalos a tu web.  
 */
 @font-face {
  font-family: 'Aloonida';
  src: url('../fonts/Gotham-Light.eot');
  src: local('☺'), url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.ttf') format('truetype'), url('../fonts/Gotham-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


 @font-face {
  font-family: 'Aloonida-bold';
  src: url('../fonts/Gotham-Bold.eot');
  src: local('☺'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Aloonida-medium';
  src: url('../fonts/Gotham-Medium.eot');
  src: local('☺'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Aloonida-book';
  src: url('../fonts/Gotham-Book.eot');
  src: local('☺'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ---- Texto cabecera Portada ----- */
@font-face {
  font-family: 'Aloonida-nexa';
  src: url('../fonts/Nexa_Light.eot');
  src: local('☺'), url('../fonts/Nexa_Light.woff') format('woff'), url('../fonts/Nexa_Light.ttf') format('truetype'), url('../fonts/Nexa_Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* ---- Texto frase Portada ----- */
@font-face {
  font-family: 'Aloonida-museo';
  src: url('../fonts/Museo_Slab_100.eot');
  src: local('☺'), url('../fonts/Museo_Slab_100.woff') format('woff'), url('../fonts/Museo_Slab_100.ttf') format('truetype'), url('../fonts/Museo_Slab_100.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
@font-face {
	font-family: 'iconos-aloonidas';
	src:url('../fonts/icomoon.eot?-7zq0tt');
	src:url('../fonts/icomoon.eot?#iefix-7zq0tt') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-7zq0tt') format('woff'),
		url('../fonts/icomoon.ttf?-7zq0tt') format('truetype'),
		url('../fonts/icomoon.svg?-7zq0tt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}*/


@font-face {
	font-family: 'iconos-aloonida-public';
	src:url('../fonts/iconos-publicos/icomoon.eot?-5y8n3r');
	src:url('../fonts/iconos-publicos/icomoon.eot?#iefix-5y8n3r') format('embedded-opentype'),
		url('../fonts/iconos-publicos/icomoon.woff?-5y8n3r') format('woff'),
		url('../fonts/iconos-publicos/icomoon.ttf?-5y8n3r') format('truetype'),
		url('../fonts/iconos-publicos/icomoon.svg?-5y8n3r#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icono-"], [class*=" icono-"] {
	font-family: 'iconos-aloonida-public';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icono-person:before {
	content: "\e600";
}
.icono-person2:before {
	content: "\e602";
}
.icono-location:before {
	content: "\e601";
}
.icono-mobile:before {
	content: "\e603";
}
.icono-portfolio:before {
	content: "\e605";
}
.icono-vcard:before {
	content: "\e607";
}
.icono-popup:before {
	content: "\e609";
}
.icono-leaf:before {
	content: "\e60a";
}
.icono-rocket:before {
	content: "\e604";
}
.icono-help:before {
	content: "\e60b";
}
.icono-layout:before {
	content: "\e606";
}
.icono-docs:before {
	content: "\e60c";
}
.icono-arrow-left:before {
	content: "\e608";
}



@font-face {
	font-family: 'iconos-aloonida-private';
	src:url('../fonts/iconos-privados/icomoon.eot?rvdz3i');
	src:url('../fonts/iconos-privados/icomoon.eot?#iefixrvdz3i') format('embedded-opentype'),
		url('../fonts/iconos-privados/icomoon.woff?rvdz3i') format('woff'),
		url('../fonts/iconos-privados/icomoon.ttf?rvdz3i') format('truetype'),
		url('../fonts/iconos-privados/icomoon.svg?rvdz3i#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconos-aloonida-private';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE64D:before {
	content: "\e64d";
}
.icon-upload:before {
	content: "\e643";
}
.icon-exclamation:before {
	content: "\e62f";
}
.icon-curriculum:before {
	content: "\e634";
}
.icon-statistics:before {
	content: "\e635";
}
.icon-close:before {
	content: "\e61a";
}
.icon-envelope_open:before {
	content: "\e61f";
}
.icon-envelope_close:before {
	content: "\e620";
}
.icon-add:before {
	content: "\e618";
}
.icon-add2:before {
	content: "\e619";
}
.icon-less:before {
	content: "\e632";
}
.icon-check:before {
	content: "\e621";
}
.icon-archivo:before {
	content: "\e644";
}
.icon-trash:before {
	content: "\e605";
}
.icon-configuración:before {
	content: "\e622";
}
.icon-talento:before {
	content: "\e615";
}
.icon-newsletters:before {
	content: "\e64c";
}
.icon-mover:before {
	content: "\e623";
}
.icon-cat14:before {
	content: "\e62d";
}
.icon-cat22:before {
	content: "\e630";
}
.icon-cat3:before {
	content: "\e60e";
}
.icon-nuevo_notificacion:before {
	content: "\e636";
}
.icon-nuevo_notificacion_oscuro:before {
	content: "\e633";
}
.icon-arrow_leftslider:before {
	content: "\e646";
}
.icon-arrow_rightslider:before {
	content: "\e647";
}
.icon-ideabombilla:before {
	content: "\e63e";
}
.icon-proyectolibro:before {
	content: "\e63f";
}
.icon-cat9:before {
	content: "\e600";
}
.icon-cat7:before {
	content: "\e602";
}
.icon-cat72:before {
	content: "\e603";
}
.icon-cat8:before {
	content: "\e604";
}
.icon-cat4:before {
	content: "\e606";
}
.icon-cat5:before {
	content: "\e607";
}
.icon-cat6:before {
	content: "\e608";
}
.icon-cat2:before {
	content: "\e609";
}
.icon-cat92:before {
	content: "\e60a";
}
.icon-cat10:before {
	content: "\e60c";
}
.icon-cat11:before {
	content: "\e60d";
}
.icon-cat13:before {
	content: "\e60f";
}
.icon-cat142:before {
	content: "\e610";
}
.icon-cat15:before {
	content: "\e611";
}
.icon-cat16:before {
	content: "\e612";
}
.icon-cat17:before {
	content: "\e616";
}
.icon-cat18:before {
	content: "\e613";
}
.icon-cat19:before {
	content: "\e614";
}
.icon-categoria_gruesa:before {
	content: "\e60b";
}
.icon-person:before {
	content: "\e631";
}
.icon-perfiles:before {
	content: "\e63a";
}
.icon-minombre:before {
	content: "\e63b";
}
.icon-más:before {
	content: "\e62c";
}
.icon-search:before {
	content: "\e637";
}
.icon-expand:before {
	content: "\e638";
}
.icon-youtube:before {
	content: "\e639";
}
.icon-more:before {
	content: "\e640";
}
.icon-notas:before {
	content: "\e63d";
}
.icon-location:before {
	content: "\e61e";
}
.icon-dialogue:before {
	content: "\e624";
}
.icon-especialidad:before {
	content: "\e625";
}
.icon-destaco_expertos:before {
	content: "\e62e";
}
.icon-smiley:before {
	content: "\e64e";
}
.icon-neutral:before {
	content: "\e64f";
}
.icon-arrow-up:before {
	content: "\e601";
}
.icon-arrow-right:before {
	content: "\e626";
}
.icon-arrow-down:before {
	content: "\e617";
}
.icon-checkbox_rombo:before {
	content: "\e648";
}
.icon-presentacion_asesoramiento:before {
	content: "\e641";
}
.icon-encontrar:before {
	content: "\e627";
}
.icon-sector_empresas:before {
	content: "\e642";
}
.icon-contact:before {
	content: "\e61d";
}
.icon-forward:before {
	content: "\e628";
}
.icon-DNI:before {
	content: "\e63c";
}
.icon-house:before {
	content: "\e629";
}
.icon-leaf:before {
	content: "\e61c";
}
.icon-new:before {
	content: "\e62a";
}
.icon-descubrenos_movil:before {
	content: "\e649";
}
.icon-password:before {
	content: "\e62b";
}
.icon-help:before {
	content: "\e61b";
}
.icon-publicos_movil:before {
	content: "\e64a";
}
.icon-inicio_movil:before {
	content: "\e64b";
}
.icon-arrow-downservicios:before {
	content: "\e645";
}





@font-face {
	font-family: 'iconos-redes';
	src:url('../fonts/iconos-redes/icomoon.eot?-ej032');
	src:url('../fonts/iconos-redes/icomoon.eot?#iefix-ej032') format('embedded-opentype'),
		url('../fonts/iconos-redes/icomoon.woff?-ej032') format('woff'),
		url('../fonts/iconos-redes/icomoon.ttf?-ej032') format('truetype'),
		url('../fonts/iconos-redes/icomoon.svg?-ej032#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="iconito-"], [class*=" iconito-"] {
	font-family: 'iconos-redes';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconito-youtube:before {
	content: "\e600";
}
.iconito-twitter:before {
	content: "\e601";
}
.iconito-facebook:before {
	content: "\e602";
}
.iconito-googleplus:before {
	content: "\e603";
}
.iconito-linkedin:before {
	content: "\e604";
}






/* ---------- 
* ICONOS ANTIGUOS 
---------------- */




/*
@font-face {
	font-family: 'icono-categorias';
	src:url('../fonts/icomoon2.eot?nmunbj');
	src:url('../fonts/icomoon2.eot?#iefixnmunbj') format('embedded-opentype'),
		url('../fonts/icomoon2.woff?nmunbj') format('woff'),
		url('../fonts/icomoon2.ttf?nmunbj') format('truetype'),
		url('../fonts/icomoon2.svg?nmunbj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icono-categorias';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	 Better Font Rendering =========== 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cat9:before {
	content: "\e600";
}
.icon-cat7:before {
	content: "\e601";
}
.icon-cat72:before {
	content: "\e602";
}
.icon-cat8:before {
	content: "\e603";
}
.icon-cat3:before {
	content: "\e604";
}
.icon-cat4:before {
	content: "\e605";
}
.icon-cat5:before {
	content: "\e606";
}
.icon-cat6:before {
	content: "\e607";
}
.icon-cat2:before {
	content: "\e608";
}
.icon-cat92:before {
	content: "\e609";
}
.icon-cat10:before {
	content: "\e60a";
}
.icon-cat11:before {
	content: "\e60c";
}
.icon-cat12:before {
	content: "\e60d";
}
.icon-cat13:before {
	content: "\e60e";
}
.icon-cat14:before {
	content: "\e60f";
}
.icon-cat15:before {
	content: "\e610";
}
.icon-cat16:before {
	content: "\e611";
}
.icon-cat17:before {
	content: "\e612";
}
.icon-cat18:before {
	content: "\e613";
}
.icon-cat19:before {
	content: "\e614";
}
.icon-cat20:before {
	content: "\e615";
}
.icon-categoria_gruesa:before {
	content: "\e60b";
}


[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconos-aloonidas';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE624:before {
	content: "\e624";
}
.icon-uniE651:before {
	content: "\e651";
}
.icon-uniE640:before {
	content: "\e640";
}
.icon-uniE641:before {
	content: "\e641";
}
.icon-uniE62C:before {
	content: "\e62c";
}
.icon-plus:before {
	content: "\e642";
}
.icon-cancel:before {
	content: "\e652";
}
.icon-googleplus:before {
	content: "\e643";
}
.icon-popup:before {
	content: "\e61e";
}
.icon-wand:before {
	content: "\e630";
}
.icon-uniE61F:before {
	content: "\e61f";
}
.icon-uniE61D:before {
	content: "\e61d";
}
.icon-uniE609:before {
	content: "\e609";
}
.icon-maximize:before {
	content: "\e653";
}
.icon-play:before {
	content: "\e620";
}
.icon-brightness:before {
	content: "\e654";
}
.icon-uniE655:before {
	content: "\e655";
}
.icon-uniE656:before {
	content: "\e656";
}
.icon-uniE62E:before {
	content: "\e62e";
}
.icon-uniE62F:before {
	content: "\e62f";
}
.icon-uniE605:before {
	content: "\e605";
}
.icon-uniE657:before {
	content: "\e657";
}
.icon-uniE658:before {
	content: "\e658";
}
.icon-uniE617:before {
	content: "\e617";
}
.icon-uniE618:before {
	content: "\e618";
}
.icon-uniE619:before {
	content: "\e619";
}
.icon-uniE61A:before {
	content: "\e61a";
}
.icon-uniE64D:before {
	content: "\e64d";
}
.icon-uniE631:before {
	content: "\e631";
}
.icon-uniE600:before {
	content: "\e600";
}
.icon-uniE659:before {
	content: "\e659";
}
.icon-uniE65A:before {
	content: "\e65a";
}
.icon-uniE65B:before {
	content: "\e65b";
}
.icon-uniE65C:before {
	content: "\e65c";
}
.icon-uniE65D:before {
	content: "\e65d";
}
.icon-uniE65E:before {
	content: "\e65e";
}
.icon-uniE64B:before {
	content: "\e64b";
}
.icon-uniE62D:before {
	content: "\e62d";
}
.icon-uniE601:before {
	content: "\e601";
}
.icon-uniE602:before {
	content: "\e602";
}
.icon-uniE644:before {
	content: "\e644";
}
.icon-trash:before {
	content: "\e64f";
}
.icon-settings:before {
	content: "\e603";
}
.icon-camera:before {
	content: "\e621";
}
.icon-location:before {
	content: "\e645";
}
.icon-bubble:before {
	content: "\e612";
}
.icon-mail:before {
	content: "\e646";
}
.icon-clip:before {
	content: "\e613";
}
.icon-file:before {
	content: "\e647";
}
.icon-files:before {
	content: "\e604";
}
.icon-phone:before {
	content: "\e632";
}
.icon-camera2:before {
	content: "\e622";
}
.icon-checkmark:before {
	content: "\e65f";
}
.icon-cancel2:before {
	content: "\e660";
}
.icon-plus2:before {
	content: "\e661";
}
.icon-chart:before {
	content: "\e64e";
}
.icon-location2:before {
	content: "\e614";
}
.icon-phone2:before {
	content: "\e633";
}
.icon-stack:before {
	content: "\e662";
}
.icon-cube:before {
	content: "\e623";
}
.icon-brush:before {
	content: "\e663";
}
.icon-circle:before {
	content: "\e634";
}
.icon-bookmark:before {
	content: "\e606";
}
.icon-envelope:before {
	content: "\e607";
}
.icon-envelope2:before {
	content: "\e608";
}
.icon-checked:before {
	content: "\e664";
}
.icon-globe:before {
	content: "\e635";
}
.icon-globe2:before {
	content: "\e636";
}
.icon-user:before {
	content: "\e615";
}
.icon-mobile:before {
	content: "\e665";
}
.icon-mail2:before {
	content: "\e60a";
}
.icon-search:before {
	content: "\e616";
}
.icon-article:before {
	content: "\e666";
}
.icon-star:before {
	content: "\e60b";
}
.icon-file2:before {
	content: "\e60c";
}
.icon-feed:before {
	content: "\e637";
}
.icon-pencil:before {
	content: "\e60d";
}
.icon-tick:before {
	content: "\e667";
}
.icon-arrow-right-thick:before {
	content: "\e625";
}
.icon-th-large:before {
	content: "\e638";
}
.icon-home:before {
	content: "\e60e";
}
.icon-rss:before {
	content: "\e639";
}
.icon-location3:before {
	content: "\e648";
}
.icon-wi-fi:before {
	content: "\e63a";
}
.icon-user2:before {
	content: "\e668";
}
.icon-group:before {
	content: "\e60f";
}
.icon-point-of-interest:before {
	content: "\e626";
}
.icon-eye:before {
	content: "\e63b";
}
.icon-pi:before {
	content: "\e649";
}
.icon-phone3:before {
	content: "\e63c";
}
.icon-media-play:before {
	content: "\e627";
}
.icon-chevron-right-outline:before {
	content: "\e628";
}
.icon-chevron-left-outline:before {
	content: "\e669";
}
.icon-location-outline:before {
	content: "\e64a";
}
.icon-point-of-interest-outline:before {
	content: "\e629";
}
.icon-pencil2:before {
	content: "\e66a";
}
.icon-document:before {
	content: "\e650";
}
.icon-thumbs-up:before {
	content: "\e66b";
}
.icon-bookmark2:before {
	content: "\e610";
}
.icon-business-card:before {
	content: "\e66c";
}
.icon-arrow-up:before {
	content: "\e66d";
}
.icon-arrow-right:before {
	content: "\e64c";
}
.icon-flow-merge:before {
	content: "\e63d";
}
.icon-media-play-outline:before {
	content: "\e62a";
}
.icon-leaf:before {
	content: "\e63e";
}
.icon-feather:before {
	content: "\e63f";
}
.icon-type:before {
	content: "\e66e";
}
.icon-file3:before {
	content: "\e66f";
}
.icon-arrow-right2:before {
	content: "\e670";
}
.icon-star2:before {
	content: "\e61b";
}
.icon-user22:before {
	content: "\e61c";
}
.icon-user3:before {
	content: "\e62b";
}
.icon-creditcards:before {
	content: "\e671";
}
.icon-mapmarker:before {
	content: "\e611";
}

*/