/*------------------------------------*\
    $LINKS
\*------------------------------------*/
a { 
	text-decoration : none;
	color : @linkcolor; 

	&:visited { 
		//color : @linkcolorvisited; 
	}

	&:hover { 
		text-decoration : none;
		//color : @linkcolorhover; 
	}

	&:focus { 
		outline : thin dotted; 
		color : @linkcolorfocus; 
	}

	&:hover, 
	&:active { 
		outline : 0; 
	}
}



