/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

// Url
//@rutabase   : "http://ec2-54-69-10-161.us-west-2.compute.amazonaws.com/";
@rutabase   : "//aloonida.com";
//@rutabase   : "https://localhost/aloonida/";
@rutaimagen : 'img/';


// Breakpoints
// "Start with the small screen first, then expand until it looks like shit. Time to insert a breakpoint!"

@bp1 : 30em; //480px
@bp2 : 37.5em; //600px
@bp2int : 43.75em; // 700px
@bp3 : 48em; // 768px
@bp4 : 56.25em; // 900px
@bp4int : 62.5em; // 1000px
@bp5 : 68.75em; // 1100px
@bp5int :  75em ; // 1200px
@bp6 : 85.25em; // 1300px
@bp7 : 90.625em;



// Layout
@baseline 			: @baselineheight;
@gutterwidth 		: 24px;
@pagemaxwidth		: 1221px;
@radius      		: 0px;
@hovertransition 	: .3s;
@animationtime 		: .8s;

// Web  (color fondos, texto de web y elementos)
@background 			: 	@white;
@background-aloonida	:	rgba(215,216,220,0.6);
@background-principal	: 	rgba(246,247,248,0.3);
@background-frase		:	@background_top;
@background-dar-baja    :   #87A7C7;

//@encima-video: rgba(8,37,60,0.5);
@encima-video : rgba(26,69,101,0.6);
@gris-linea : #dedede;

/*@background-secundaria	:	rgba(236,237,239,0.8);*/
/*@background-secundaria  :   #6DDDA1;*/
@background-secundaria 		: #e5e9e9;
@background-pie			:	rgb(39,40,43);
/*@background_top			:	#1675a9;*/
@background_top			:	#3A75A5;
@background-idioma		: 	#ececed;
@background-final		:	#121212;
@background-gris-apple 	: 	#eeeeef;
@background-gris 	: 	#e0e0e0;
@gris-cabeza 					: #dfdfdf;

@color-cabeza-proyecto : #A8A8A8;

/* Portada*/
/*@color_fondo_estudiantes : #fce986;
@color_fondo_estudiantes :  rgba(255,190,71,1);*/
@color_fondo_estudiantes : #f1d270;
@color_fondo_estudiantes : #f0cc5b;
@color_circulo_estudiantes : rgba(255,190,71,0.2);
/*@color_fondo_grupos : #70adcf;*/
@color_fondo_grupos : #7bb6e4;
@color_circulo_grupos : rgba(126,178,225,0.2);
/*@color_fondo_empresas : #EE654E;*/
@color_fondo_empresas : #db4e41;
@color_circulo_empresas : rgba(239,155,109,0.2);
/*@color_fondo_expertos : #42b499; */
@color_fondo_expertos : #13b18b; 
@color_circulo_expertos : rgba(116,176,155,0.2);


@color-overlay 			: rgba(22, 27, 39, 0.8);
@fondo-video:#1d4869;

/* Login */
@color_texto_naranja  : #C95022;
/*@background_verdoso  : #90C2D3;*/
@background_verdoso : #37b298;
@background_login : #69BDB9;

/* Colores Estudiantes */
//@background-amarillo-claro  : darken(rgb(252,250,212), 00%);
@background-amarillo-claro  : #F9FFDB;
@background-amarillo-claro  : #F8eeb6;
@background-amarillo-fuerte	: rgba(255,190,71,0.8);
//@background-amarillo-fuerte	: @color_fondo_estudiantes;
@background-proyectos		:	rgba(58,116,165,0.3);
@color-eco : #6bcb97;
@gris-boton-examinar : #a9a8ab;
@color-icono-pdf : #d17900;
@hover-publicos-estudiantes : #f7dc00;
@hover-publicos-grupos : #5d8cda;
@hover-publicos-expertos : #00a687;
@hover-publicos-empresas : #ee8c6b;
//@fondo-registro-proyecto : #E2E9F0;
@fondo-registro-proyecto : #a2c2e2;


/* Colores Expertos */
@blanco-semi-trans : rgba(255,255,255,0.5);
/*@idea_no_validada_experto : rgba(255,255,255,0.4);*/
@idea_no_validada_experto : rgba(102, 207, 153, 0.4);
@validacion_idea_no_valida_exp : #8ABBAA;

@fondo-circulo-experto : rgba(138,187,170, 0.8);
@fondo-circulo-experto : #13b18b;
@fondo-conoce-experto : #8EABCA;


/* Colores empresas */
@fondo-registro-empresas: #eceae9;
/*@rojo-empresas : #e85a4a;*/
@rojo-empresas : #E2293E;
@foco-caja-registro: #d7e2ed;
@color-mensaje-aloonida : #99b3cf;


/* Perfil estudiantes */
@fondo_idea_no_validado : #fefad0;
@fondo_idea_normal : #ffeb7e;
@fondo_proyecto_normal : #dde5ee;
@fondo_proyecto_no_validado : #c9d6e5;
@boton_vendido_activo : #E05225;

@fondo-ver-perfiles : #f4f0ef;
@hover-num-proyecto-estudiante: #FADC9B;
@hover-num-proyecto-experto: #8ACAB4;

/* Colores Descúbrenos */
//@color_intencion : #ebebeb;
@color_intencion : #bacfe9;
@color_servicios : #dde5ee;
@color_equipo 	 : #74b4d3;
@fondo-donacion : #3a74a5;


@fondo-apertura : rgba(33,33,33,0.6);

/* Colores Notificaciones */
@color-mensaje-nuevo :   #C3DFF3;
//@color-mensajes-leidos : #E2EAE7;
@color-hover-mensaje-leido : #DBF3EB;
@borde-bajo-recibidos : #00378A;
@borde-bajo-enviados : #00AC8D;
@casi-blanco : rgb(230,230,230);
@color-hover-no-leido : #E4F1F8;
@color-texto-notif : #4497c6;
@background_no_enviados : #B5CED3;
@fondo-mensaje-leido : #e6e6e6;

/* Colores Curriculum */ 
@background-curri : #7B9CC9;
@background-conoce : #e6e6e6;
@background-historia : #e7e7e7;
@color-conoce-hover : rgba(173,173,178, 0.2);
/*@background-curri-cabeza : #c3cfe4;*/
@background-curri-cabeza : #c3d4e4;
/*@background-info-personal : #e6e6e6;*/
/*@background-info-personal : #f8f3f3;*/
@background-info-personal : #eeeeee;
/*@background-input : #b8d9f0;*/
@background-input : rgba(58,117,165,0.59);
@caja-input-curri: #d0dfe6;
@color-hover-guardar : #a0bfd7;
@background_boton_reset : #c2c3c8;
@color-hover-reset : rgba(194,195,200,0.5);
@amarillo-historia : #ead300;
@azul-experiencia : #67abc4;
@azul-estudio : #b0d5e6;
@azul-idioma : #6ca5cf;
@azul-habilidad : #65b0cd;
@borde-color-experiencia : #c9d5e5;
@barra-seleccionada : #a0c1da;
@editando_curriculum: #54a6dd;

/* Colores registro estudiante */
@background-banda : #ececec;
@color-triangulos-gris : #dcd8d6;

/* Colores empresas */
@fondo-perfil-empresa : #e2e2e2;
@fondo-icono-proyecto : #c9d6e5;

/* Colores Servicios */
@color-servicios : #c3dae4;
@color-negociacion : #00496d;
@cuadro-negociacion : #00496d;
@letras-negociacion : #6992b9;

@textcolor 			: 	#222;

@textcolor-strong	:	@black;

// Fuentes
@basefont 				: "Aloonida", "Helvetica Neue", Helvetica, Arial, sans-serif;
@basefontsize 			: 16;
@baselineheight 		: 1.5em;
@baseheadingfont 		: inherit;
@baseheadingfontweight 	: bold;
@baseheadingfontcolor 	: inherit;

@fonttitle : "Helvetica Neue", Helvetica, Arial, sans-serif;

@aloonida-bold : "Aloonida-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
@aloonida-book : "Aloonida-book", "Helvetica Neue", Helvetica, Arial, sans-serif;
@aloonida-medium : "Aloonida-medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
@aloonida-nexa : "Aloonida-nexa", "Helvetica Neue", Helvetica, Arial, sans-serif;
@aloonida-museo : "Aloonida-museo", "Helvetica Neue", Helvetica, Arial, sans-serif;

 
@altfont 				: Georgia, Times, "Times New Roman";
@altlineheight 			: 1.35em;
 

// Colores Base  //////////////////////
@basecolor 		: rgb(147,147,148); /* Color gris */
//@basecolor : #757474;
@baseazul		: @background_top;
@baselight      : lighten(@basecolor, 35%); 
@secondarycolor : spin(@basecolor, 180);
@compcolor 		: rgb(218,128,45); 
@bordercolor    : lighten(@basecolor, 10);

// Escala de grises  ///////////////
@black 			: rgb(0,0,0);
@superdark  	: lighten(@black, 10%);
@darkergrey 	: lighten(@black, 15%);
@darkgrey 		: lighten(@black, 25%);
@grey 			: lighten(@black, 50%);
@lightgrey 		: lighten(@black, 75%);
@lightergrey 	: lighten(@black, 90%);
@gris-portada   : #5b5b5b;
@white 			: rgb(255,255,255);


// Links  //////////////////////
@linkcolor 		    : @white;
@linkcolorhover 	: darken(@linkcolor, 10);
@linkcolorvisited   : @white;
@linkcolorfocus 	: darken(@linkcolorvisited, 10);


// Alertas y popups  ///////////////
@alertcolor 	: rgb(252,228,207);

@errorcolor 	: #C22820;

@infocolor 		: rgb(165,221,223);
@inverscolor 	: rgb(65,65,65);
@successcolor 	: rgb(91,183,91);
@warningcolor 	: rgb(250,167,50);

// Texturas de popups
@alertbordercolor	: darken(@alertcolor, 20%);
@alertborderwidth 	: 1px;
@alertborderstyle 	: solid;
@alerttext			: darken(@alertcolor, 60%);

// Error
@alerterrorcolor 	: lighten(@errorcolor, 30%);
@alerterrorborder  	: lighten(@errorcolor, 20%);
@alerterrortext 	: @errorcolor; 

// Info
@alertinfocolor 	: lighten(@infocolor, 10%);
@alertinfoborder  	: darken(@infocolor, 10%);
@alertinfotext 		: darken(@infocolor, 50%);  

// Inverso
@alertinversecolor 	: @inverscolor;
@alertinverseborder : @black;
@alertinversetext 	: @white;  

// Success
@alertsuccesscolor 	: lighten(@successcolor, 30%);
@alertsuccessborder : lighten(@successcolor, 20%);
@alertsuccesstext 	: darken(@successcolor, 20%); 

// Advertencia
@alertwarningcolor 	: lighten(@warningcolor, 30%);
@alertwarningborder : lighten(@warningcolor, 20%);
@alertwarningtext 	: darken(@warningcolor, 20%); 

// Colores sociales -> son los colores corporativos, pero cambiadlos si hace falta. (también podéis añadir más)  ///////////////////////
@facebook       :rgb(59, 89, 182);
@twitter        :rgb(64,153,255);
@googleplus     :rgb(221, 75, 57);
@pinterest      :rgb(203, 32, 39);
@skype          :rgb(18,165,244);
@spotify        :rgb(129,183,26);
@youtube 		:#e52d27;
@linkedin 		: #007bb6;

 
// badges 
@badgebackground    : @basecolor;
@badgecolor         : @textcolor;
 
// botones 
@buttonbackground   : @white;
@buttonbordercolor  : darken(@buttonbackground, 10%);
@buttonbottombordercolor : darken(@buttonbordercolor, 10%);
@buttoncolor        : @black;
@buttonborderwidth  : 1px;
@buttonborderstyle  : solid;
 
// boxes (well)
@wellbackground     : lighten(@basecolor, 75%);
@wellbordercolor    : darken(@wellbackground, 20%); 
@wellborderwidth    : 1px;
@wellborderstyle    : solid;
@wellshadow         : darken(@wellbackground, 10%);
@wellshadowblur     : 10px;
 
// tablas 
@tablebackground    : transparent;
@tablestripe        : lighten(@basecolor, 60%);
@tablehover         : lighten(@basecolor, 50%);
@tableborder        : lighten(@basecolor, 40%);
@tableborderwidth   : 1px;
@tableborderstyle   : solid;
 
// formularios 
@inputbackground    : @white; 
@inputborder        : @lightgrey;
@inputborderwidth   : 1px;
@inputborderstyle   : solid;
@inputhover         : lighten(@black, 50%);
@inputfocus         : @background_top;
//@placeholdercolor   : #222;


// Navegación 
@navitembordercolor    : @bordercolor;
@navitempadding        : @gutterwidth / 2;
@navtabsbordercolor    : @bordercolor;
