/*------------------------------------*\
    $HELPERS
\*------------------------------------*/

.text-overflow() {
overflow : hidden;
text-overflow : ellipsis;
white-space : nowrap; }


  /** 
  * The ghost, nudged to maintain perfect centering 
  */
.vcenter {
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

  /** 
  * Escondemos el texto solo VISUALMENTE
  */
.hide-text() {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

  /** 
  * Escondemos el texto de VISUALMENTE y SCREENREADERS
  */
.hidden() {
	display : none !important; 
	visibility : hidden; 
}


/** 
  * Mostramos el elemento
  */
.show(@display: block) {
	display : @display !important; 
	visibility : visible; 
}

  /** 
  * Escondemos pero mantenemos layout.
  */
.invisible() { 
	visibility : hidden; 
}


  /** 
  * Visualmente escondido, pero se puede detectar con teclado (focus).
  */
.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus { 
	position : static;
	clip : auto; 
	height : auto; 
	width : auto;
	margin : 0; 
	overflow: visible;
}


  /** 
  * Centrar y dar un ancho máximo igual a @pagemaxwidth.
  */
.max-width (@maximo: @pagemaxwidth) {
	margin-left:auto;
	margin-right:auto;
	max-width: @pagemaxwidth;
}



  /** 
  * Clear floats.
  */
.clearfix {
	*zoom : 1;
	&:before,

	&:after {
	display: table;
	content : ""; 
	}
	&:after {
	clear : both; 
	} 
}


/**
* Crear una tabla con elementos para maquetación
*/
.tabla(@width : 100%){
	display: table;
	width: @width;
	position: relative;
}


/**
* Crear una fila con elementos para maquetación
*/
.fila(@width : 100%){
	display: table-row;
	width: @width;
	padding:10px;
}


/**
* Crear una celda con elementos para maquetación
*/
.celda(@width : 100%){
	display: table-cell;
	width: @width;
	vertical-align: top;
	padding:10px;
}


/**
* Centar elemento
*/
.centra-elemento(@ancho-elemento : 50%){
	width: @ancho-elemento;
	margin: 0 auto;
	display: block;
}



/**
* Bloque en línea
*/
.inline-block(@width:50%, @alinea : top, @relleno: 0% ){
	display: inline-block;
	width: @width;
	vertical-align: @alinea;
	padding: @relleno;
}


/**
* Centra verticalmente
*/
.centra-vertical {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}


/**
* Preparamos contenedor para que el vídeo sea responsive
*
* Esto hace la magia usando un padding extraño que hace que el 
* vídeo tenga proporción 16/9
*
*/
.contenedor-video{
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}

/**
* Damos medidas al vídeo para que se ajuste al contenedor (responsive)
*
* Aquí se da el soporte a los direfentes tipos de vídeo 
* insertado que existen (iframe, embed, object, video)
*
*/
.video{
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

