/*------------------------------------*\
    $SITIO
\*------------------------------------*/


@-webkit-viewport { 
width : device-width; }

@-moz-viewport { 
width : device-width; }

@-ms-viewport { 
width : device-width; }

@-o-viewport { 
width : device-width; }

@viewport { 
width : device-width; }

html {
background : #121212;
font-size : 100%;
-webkit-overflow-scrolling : touch; 
-webkit-tap-highlight-color : lighten(@basecolor, 75%); 
-webkit-text-size-adjust : 100%; 
-ms-text-size-adjust : 100%; }

body { 
margin : 0;
padding : 0;
width : 100%;
background-color : @white;
font-family : @basefont;
.font-size();
line-height : @baselineheight;
color : @textcolor; }

/**
* A partir de aquí es donde debes escribir los estilos de posicionamiento
* y detalles que forman tu web. Disfruta!
*/

.blanco{
	color: @white !important;
}

.azul-claro{
	color: @azul-claro;
}

.centrado{
	text-align: center;
}

.limpiaUL{

}

.img-round{
	border-radius: 50%;
}

.relleno-seccion{
	padding: 25px 0;

	@media (min-width: @bp3) {
		padding: 35px 0;
	}

	@media (min-width: @bp5) {
		padding: 50px 0;
	}
}

.envoltorio{
	max-width: 1011px;
	margin: 0 auto;
	padding: 0 15px;
}

.limpiaFloats{
	overflow: hidden;
	clear: both;
}

.flota-der{
	float: right;
}

.flota-izq{
	float: left;
}

.sube-pila{
	z-index: 10;
	position: relative;
}


.header{
	background: url('../img/fondo-480.png') no-repeat top center;
	background-size: cover;
	position: relative;
	padding: 70px 10px 25px;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(25,25,25, 0.7);

	}

	@media (min-width: @bp1) {
		background-image: url('../img/fondo-600.png');
	}

	@media (min-width: @bp2) {
		background-image: url('../img/fondo-1000.png');
	}

	@media (min-width: @bp4) {
		background-image: url('../img/fondo-grande.png');
	}
}


	.header__labelMenu{
		font-weight: 700;
		position: absolute;
		top: -50px;
		cursor: pointer;

		@media (min-width: @bp2) {
			display: none;
		}
	}

		.header__svg{
			width: 15px;
			height: 15px;
		}

		.header__spanX, .header__spanMenu--cerrar{
			display: none;
		}

		.header__spanMenu{

		}

	.nav{
		position: relative;
		top: -20px;

		@media (min-width: @bp2) {
			top: -54px;
		}

		@media (min-width: @bp4) {
			max-width: 850px;
			margin: 0 auto;
		}
	}

		.nav__ul{
			margin: 0;
			padding: 0;
			overflow: hidden;
			.transition(all 0.4s);
			height: 0;

			@media (min-width: @bp2) {
				height: 40px;
				text-align: center;
			}

			@media (min-width: @bp4) {
				height: 45px;
			}
		}

			.nav__li{
				//display: none;
				display: inline-block;
				position: relative;
				left: 0;
				.transition(all 0.3s);
				font-weight: 700;
				width: 49%;
				text-align: center;
				margin: 7px 0 12px;
				//height: 0px;

				@media (min-width: @bp2) {
					//&:nth-child(1),{
						width: 23%;
					//}

					&:nth-child(3){
						width: 12%;
					}

					&:nth-child(2){
						width: 33%;
					}

					&:nth-child(4){
						width: 27%;
					}
				}
			}

				.nav__a{
					padding: 10px;
					position: relative;

					&:after{
						content: '';
						position: absolute;
						bottom: 2px;
						width: 100%;
						height: 2px;
						background: #fff;
						left: 0;
						.transition(all 0.4s);
						.scale(0);
					}

					&:hover{
						&:after{
							.scale(1);
						}
					}

					@media (min-width: @bp1) {
						font-size: 1.2em;
					}

					@media (min-width: @bp4) {
						font-size: 1.4em;
					}

					@media (min-width: @bp5) {
						font-size: 1.5em;
					}
				}

	#js-menu:checked ~ .nav .nav__ul{
		height: 90px;

		@media (min-width: @bp2) {
			height: 30px;
		}		
	}

	#js-menu:checked ~ label[for="js-menu"] .header__spanX, 
	#js-menu:checked ~ label[for="js-menu"] .header__spanMenu--cerrar{
		display: inline-block;
	}

	#js-menu:checked ~ label[for="js-menu"] .header__spanHamburguesa, 
	#js-menu:checked ~ label[for="js-menu"] .header__spanMenu--abrir{
		display: none;
	}

	.header__figure{	
		text-align: center;	
		
		@media (min-width: @bp2) {
			margin-top: -21px;
		}
	}

		.header__imgYO{
			width: 100px;
			height: 100px;
			border: 3px solid @white;
			display: inline-block;		

			@media (min-width: @bp1) {
				width: 150px;
				height: 150px;				
			}


			@media (min-width: @bp3) {
				width: 180px;
				height: 180px;				
			}

		}

		.header__figcaption{
			font-size: 1.2em;
			padding-top: 2%;

			@media (min-width: @bp2) {
				font-size: 1.5em;

			}

			@media (min-width: @bp4) {
				font-size: 1.7em;
				padding-top: 0.5%;
			}

		}

	.header__h1{
		font-weight: 100;
		font-size: 1.5em;
		margin-top: 15px;

		@media (min-width: @bp1) {
			font-size: 1.8em;
		}

		@media (min-width: @bp2) {
			font-size: 2.2em;
			padding: 2% 5%;
		}

		@media (min-width: @bp4) {
			font-size: 2.5em;
			padding: 1% 5%;
		}

		@media (min-width: @bp5) {
			//font-size: 2.8em;
		}
	}



	.seccion{

	}


		.seccion--soy{
			background: @gris-fondo;
		}


		/* ------------- ENCABEZADO SECCION ------ */
		.title-article{
	
		}

			.title-article__h2{
				color: @azul-oscuro;
				border-top: 4px solid;
				border-bottom: 4px solid;
				float: left;
				padding: 10px 5px;

				@media (min-width:@bp2) {
					font-size: 2em;
					//padding: 15px 0;
					line-height: 1.2;
				}

				@media (min-width:@bp4) {
					font-size: 2.3em;
					
				}
			}
		
		/* ------------- CONTENIDO ARTICLE ------ */
		.article{
			
		}

			.article__relleno-abajo{
				padding-bottom: 35px;
			}

			.article--skills{
				background: @azul-oscuro;
				display: none;

				@media (min-width: @bp3) {
					display: block;
					margin-bottom: -35px;
				}

				@media (min-width: @bp5) {
					margin-bottom: -50px;
				}
			}

			.article__content{

			}

				.article__p{
					@media (min-width: @bp3) {
						font-size: 1.1em;
						margin: 25px;						
					}

					@media (min-width: @bp5) {
						font-size: 1.3em;
					}
				}

				/* ------------ SKILLS ------- */
				.skills{
					padding-top: 25px;
					text-align: left;
					font-size: 0;
				}

					.skill{
						display: inline-block;
						width: 33.3%;
						margin: 0 0px 20px;
						font-size: 16px;
					
					}

						.skill__uni{
							height: 20px;
							width: 3px;
							background: @fondo-skill;
							display: inline-block;
							//margin-right: 1px;
							line-height: 1;

							@media (min-width: @bp4) {
								//margin-right: 2px;
								height: 22px;
								width: 4px;
								margin-right: 1px;
							}
						}

							.skill_select{
								background: @white;
							}

						.skill_nombre{
							display: inline-block;
							
							font-size: 1em;
							line-height: 1;
							margin-left: 2px;
							font-weight: 900;

							@media (min-width: @bp4) {
								font-size: 1.3em;
							}
						}


			/* --------------- CREACIONES -------- */
			.creacion{
				padding: 30px 0;
				border-bottom: 1px solid #eee;

				&:last-child{
					border-bottom: none;
				}

				@media(min-width: @bp1){
					font-size: 0px;
				}

				@media(min-width: @bp2){
					width: 49%;
					display: inline-block;
					font-size: 16px;
					vertical-align: top;
					padding: 4% 2%;
					border-bottom: 0;
				}
			}

				.creacion__figure{
					text-align: center;
					@media(min-width: @bp1){
						width: 40%;
						display: inline-block;
						font-size: 16px;
					}

					@media(min-width: @bp2){
						width: 100%;
						display: block;
					}

					@media(min-width: @bp5){
						width: 43%;
						display: inline-block;
						margin-top: 10px;
					}
				}

					.creacion__img{
						width: 60%;
						max-width: 250px;
						//border: 1px solid @azul-oscuro;

						@media (min-width: @bp1) {
							width: 100%;
						}

						@media (min-width: @bp2) {
							width: 85%;
						}

						@media (min-width: @bp3) {
							width: 100%;
						}
					}

				.creacion__texto{
					@media(min-width: @bp1){
						width: 55%;
						display: inline-block;
						vertical-align: top;
						margin-left: 5%;
						font-size: 16px;
					}

					@media(min-width: @bp2){
						width: 100%;
						display: block;
						margin-left: 0;
					}

					@media(min-width: @bp5){
						width: 52%;
						display: inline-block;
						margin-left: 3%;
						vertical-align: top;
					}
				}

					.creacion__h3{
						text-align:center;
						@media (min-width: @bp1) {
							text-align: left;
							margin-bottom: 0;
							font-size: 1.2em;
						}

						@media (min-width: @bp2) {
							text-align: center;
						}

						@media (min-width: @bp5) {
							text-align: left;
						}
					}

						.creacion__a{
							color: @azul-oscuro;
							font-style: italic;							
						}

					.creacion__p{
						margin: auto;
						width: 90%;
						@media(min-width: @bp1){
							font-size: 0.9em;
							margin-top: 5px;
							width: 100%;
						}

						@media(min-width: @bp2){
							font-size: 1em;
							margin: auto;
							width: 90%;
						}

						@media(min-width: @bp5){
							width: 100%;
							margin: 0;
							font-size: 0.9em;
						}
					}
	
	
	/* ----------- ASIDE - CV ------------------ */
	.aside{
		background: @azul-claro;

		@media (min-width: @bp5) {
			padding: 35px 0;
		}
	}

		.descargaCV{

		}

			.descargaCV__p{
				@media (min-width: @bp1) {
					font-size: 1.2em;					
				}

				@media (min-width: @bp2) {
					font-size: 1.4em;
				}

				@media (min-width: @bp5) {
					font-size: 2.2em;			
				}	
			}

				.descargaCV__svg{
					width: 50px;
					height: 50px;
					vertical-align: middle;
					margin-left: 10px;	

					@media (min-width: @bp2) {
						width: 70px;
						height: 70px;			
					}	

					@media (min-width: @bp5) {
						width: 90px;
						height: 90px;			
					}			
				}
				
				.svg--blanco{
					margin-left: 10px;				
					path{
						fill: @white;
					}	
				}


	/* ------------ FOOTER -------------------- */
	.footer{
		background: @pie;
		padding-bottom: 0;
	}

		.copyright{
			background: #000;
			margin-top: 25px;
			padding: 15px;

			@media (min-width: @bp3) {
				margin-top: 35px;
			}

			@media (min-width: @bp5) {
				margin-top: 50px
			}
		}

			.copyright__small{
				@media (min-width: @bp3) {
					font-size: 0.9em;
					margin-top: 7px;
				}
			}

			.redes-sociales__a{
				display: inline-block;
				width: 30px;
				//margin-right: 3px;

				@media (min-width: @bp3) {
					width: 50px;
				}
			}

		.footer__content{

		}

			.footer__p{
				margin-bottom: 7px;					
				@media (min-width: @bp2) {
					width: 65%;
				}

				@media (min-width: @bp3) {
					font-size: 1.2em;
					margin-left: 25px;
				}

				@media (min-width: @bp5) {
					font-size: 1.3em;
				}
			}

			.footer__btn-mail{
				background: @azul-claro;
				display: block;
				border-bottom: 4px solid @azul-oscuro;
				line-height: 3em;
				@media (min-width: @bp2) {
					margin-top: 17px;
				}

				@media (min-width: @bp3) {
					font-size: 1.2em;
				}

				@media (min-width: @bp5) {
					font-size: 1.4em;		
					border-bottom: 7px solid @azul-oscuro;
				}
			}

				.footer__svg{
					width: 25px;
					height: 25px;
					vertical-align: middle;


					@media (min-width: @bp3) {
						width: 35px;
						height: 35px;
					}

					@media (min-width: @bp5) {
						width: 45px;
						height: 45px;
					}
				}

	.ir-arriba{
		position: fixed;
		right: 50px;
		bottom: 70px;
		width: 60px;
		height: 60px;
		.transition(0.5s all);
		cursor: pointer;
		z-index: 10000;
		border-radius: 50%;
		border: 2px solid #FFA243;
		display: none;

		@media (min-width: @bp5) {
			display: block;
		}
	}

		.ir-arriba__svg{
			margin: 0 auto;
			margin-top: 8px;
		}