/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/
// Más estilos adicionales:
// http://twitter.github.com/bootstrap/components.html#alerts"
// https://github.com/twitter/bootstrap/blob/master/less/alerts.less"

/*
.alert {
margin-bottom : @baselineheight;
padding : 8px 35px 8px 14px;
background-color : @alertcolor;
border : @alertborderwidth @alertborderstyle @alertbordercolor;
font-family : @basefont;
.font-size(14);
color : @alerttext;
border-radius: @radius;

.alert-heading {
color : inherit; }

.close {
position : relative;
top : -2px;
right : -21px;
float : right;
.font-size(21);
font-weight : bold;
line-height : 18px;
color : inherit; }
}

.alert-success {
background-color : @alertsuccesscolor;
border-color : @alertsuccessborder;
color : @alertsuccesstext; }

.alert-warning {
background-color : @alertwarningcolor;
border-color : @alertwarningborder;
color : @alertwarningtext; }

.alert-error {
background-color : @alerterrorcolor;
border-color : @alerterrorborder;
color : @alerterrortext; }
.alert-info {
background-color : @alertinfocolor;
border-color : @alertinfoborder;
color : @alertinfotext; }

.alert-inverse {
background-color : @alertinversecolor;
border-color : @alertinverseborder;
color : @alertinversetext; }

// alert block

.alert-block {
padding-top : 14px;
padding-bottom : 14px;

.alert-heading {
margin-bottom : @baselineheight / 8;
font-size : inherit;
font-weight : bold; }

> p,
> ul {
margin-bottom : 0; }

p + p {
margin-top : 5px; }
}

// BADGES ====================================================

.badge {
padding : 1px 9px 2px;
.font-size(12);
font-weight : bold;
white-space : nowrap;
border-radius: @radius;
color : @badgecolor;
background-color : @badgebackground;
.transition(background-color .25s 0 linear);

&:hover {
color : @badgecolor;
text-decoration : none;
cursor : pointer; }
}

.badge-error {
background-color : @errorcolor;


&:hover {
background-color : darken(@errorcolor, 20%);
 }
}

.badge-warning {
background-color : @warningcolor;


&:hover {
background-color : darken(@warningcolor, 20%);
 }
}

.badge-success {
background-color : @successcolor;


&:hover {
background-color : darken(@successcolor, 20%);
 }
}

.badge-info {
background-color : @infocolor;
color : darken(@infocolor, 50%);

&:hover {
background-color : darken(@infocolor, 20%); }
}

.badge-inverse {
background-color : @inverscolor;
color : @white;

&:hover {
background-color : darken(@inverscolor, 20%);
color : @white; }
}

// GRADIENTES ====================================================

.basegrad {
.vertical(@basecolor, darken(@basecolor, 10%)); }

.errorgrad {
.vertical(@basecolor, darken(@errorcolor, 10%)); }

.greygrad {
.vertical(@white, darken(@lightergrey, 5%)); }

.infograd {
.vertical(@infocolor, darken(@infocolor, 10%)); }

.inversegrad {
.vertical(@inverscolor, darken(@inverscolor, 10%)); }

.successgrad {
.vertical(@successcolor, darken(@successcolor, 10%)); }

.warninggrad {
.vertical(@warningcolor, darken(@warningcolor, 10%)); }

// Para más gradientes: https://github.com/twitter/bootstrap/blob/master/less/mixins.less

// WELL ====================================================

.well {
min-height : 21px;
padding : 11px;
border-radius: @radius;
margin-bottom : @baselineheight;
background-color : @wellbackground;
border : @wellborderwidth @wellborderstyle @wellbordercolor;
.box-shadow(inset 0 1px @wellshadowblur @wellshadow);

p:last-child {
margin-bottom : 0; }
}

.well-large {
padding : 22px; }

.well-small {
padding : 6px; }

// Web Colours
::-moz-selection {
background-color : lighten(@basecolor, 65%);
color : @basecolor;
text-shadow : none; }

::selection {
background-color : lighten(@basecolor, 65%);
color : @basecolor;
text-shadow : none; }*/