/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

// Url
@rutabase   : "https://localhost/aloonida/";
@rutaimagen : 'img/';


// Breakpoints
// "Start with the small screen first, then expand until it looks like shit. Time to insert a breakpoint!"

@bp1 : 30em; //480px
@bp2 : 37.5em; //600px
@bp3 : 48em; // 768px
@bp4 : 56.25em; // 900px
@bp5 : 68.75em; // 1100px


// Layout
@baseline 			: @baselineheight;
@gutterwidth 		: 24px;
@pagemaxwidth		: 1221px;
@radius      		: 0px;
@hovertransition 	: .3s;
@animationtime 		: .8s;

// Web  (color fondos, texto de web y elementos)
@background 			: 	@white;

/* Colores registro estudiante */
@background-banda : #ececec;
@color-triangulos-gris : #dcd8d6;

@textcolor 			: 	#222;

@textcolor-strong	:	@black;

// Fuentes
@basefont 				: 'Open Sans', sans-serif, Helvetica, Arial;
@basefontsize 			: 16;
@baselineheight 		: 1.5em;
@baseheadingfont 		: inherit;
@baseheadingfontweight 	: bold;
@baseheadingfontcolor 	: inherit;

 
@altfont 				: Georgia, Times, "Times New Roman";
@altlineheight 			: 1.35em;
 

// Colores Base  //////////////////////
@basecolor 		: rgb(167,167,168); /* Color gris */
@azul-claro		: #00b4ff;
@pie 			: #374143;
@azul-oscuro 	: #005e86;
@gris-fondo 	: #eeeeee;
@azul-borde-btn : #005e86;
@color-p-pie 	: #fcfcfc;
@gris-fuerte 	: #515151;
@baselight      : lighten(@basecolor, 35%); 
@secondarycolor : spin(@basecolor, 180);
@compcolor 		: rgb(218,128,45); 
@bordercolor    : lighten(@basecolor, 10);

@fondo-skill : rgba(255,255,255,0.5);

// Escala de grises  ///////////////
@black 			: rgb(0,0,0);
@superdark  	: lighten(@black, 10%);
@darkergrey 	: lighten(@black, 15%);
@darkgrey 		: lighten(@black, 25%);
@grey 			: lighten(@black, 50%);
@lightgrey 		: lighten(@black, 75%);
@lightergrey 	: lighten(@black, 90%);
@gris-portada   : #5b5b5b;
@white 			: rgb(255,255,255);


// Links  //////////////////////
@linkcolor 		    : @white;
@linkcolorhover 	: darken(@linkcolor, 10);
@linkcolorvisited   : @white;
@linkcolorfocus 	: darken(@linkcolorvisited, 10);


// Alertas y popups  ///////////////
@alertcolor 	: rgb(252,228,207);

@errorcolor 	: #C22820;

@infocolor 		: rgb(165,221,223);
@inverscolor 	: rgb(65,65,65);
@successcolor 	: rgb(91,183,91);
@warningcolor 	: rgb(250,167,50);

// Texturas de popups
@alertbordercolor	: darken(@alertcolor, 20%);
@alertborderwidth 	: 1px;
@alertborderstyle 	: solid;
@alerttext			: darken(@alertcolor, 60%);

// Error
@alerterrorcolor 	: lighten(@errorcolor, 30%);
@alerterrorborder  	: lighten(@errorcolor, 20%);
@alerterrortext 	: @errorcolor; 

// Info
@alertinfocolor 	: lighten(@infocolor, 10%);
@alertinfoborder  	: darken(@infocolor, 10%);
@alertinfotext 		: darken(@infocolor, 50%);  

// Inverso
@alertinversecolor 	: @inverscolor;
@alertinverseborder : @black;
@alertinversetext 	: @white;  

// Success
@alertsuccesscolor 	: lighten(@successcolor, 30%);
@alertsuccessborder : lighten(@successcolor, 20%);
@alertsuccesstext 	: darken(@successcolor, 20%); 

// Advertencia
@alertwarningcolor 	: lighten(@warningcolor, 30%);
@alertwarningborder : lighten(@warningcolor, 20%);
@alertwarningtext 	: darken(@warningcolor, 20%); 

// Colores sociales -> son los colores corporativos, pero cambiadlos si hace falta. (también podéis añadir más)  ///////////////////////
@facebook       :rgb(59, 89, 182);
@twitter        :rgb(64,153,255);
@googleplus     :rgb(221, 75, 57);
@pinterest      :rgb(203, 32, 39);
@skype          :rgb(18,165,244);
@spotify        :rgb(129,183,26);

 
// badges 
@badgebackground    : @basecolor;
@badgecolor         : @textcolor;
 
// botones 
@buttonbackground   : @white;
@buttonbordercolor  : darken(@buttonbackground, 10%);
@buttonbottombordercolor : darken(@buttonbordercolor, 10%);
@buttoncolor        : @black;
@buttonborderwidth  : 1px;
@buttonborderstyle  : solid;
 
// boxes (well)
@wellbackground     : lighten(@basecolor, 75%);
@wellbordercolor    : darken(@wellbackground, 20%); 
@wellborderwidth    : 1px;
@wellborderstyle    : solid;
@wellshadow         : darken(@wellbackground, 10%);
@wellshadowblur     : 10px;
 
// tablas 
@tablebackground    : transparent;
@tablestripe        : lighten(@basecolor, 60%);
@tablehover         : lighten(@basecolor, 50%);
@tableborder        : lighten(@basecolor, 40%);
@tableborderwidth   : 1px;
@tableborderstyle   : solid;
 
// formularios 
@inputbackground    : @white; 
@inputborder        : @lightgrey;
@inputborderwidth   : 1px;
@inputborderstyle   : solid;
@inputhover         : lighten(@black, 50%);
@inputfocus         : #0000ff;
//@placeholdercolor   : #222;


// Navegación 
@navitembordercolor    : @bordercolor;
@navitempadding        : @gutterwidth / 2;
@navtabsbordercolor    : @bordercolor;
